<h1>Listing member_plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_plans.each do |member_plan| %>
      <tr>
        <td><%= member_plan.name %></td>
        <td><%= link_to 'Show', member_plan %></td>
        <td><%= link_to 'Edit', edit_member_plan_path(member_plan) %></td>
        <td><%= link_to 'Destroy', member_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member plan', new_member_plan_path %>
