

    <div id="wrapper">
      <ul class="navigation">
        <li class="nav-item"><a id="edit-family-button" href="#" data-appt-id="<%=@appointment.id%>">Family Info</a></li>
        <li class="nav-item"><a id="tool-notes" href="#" data-appt-id="<%=@appointment.id%>">Notes</a></li>
      </ul>
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label id="nav-label" for="nav-trigger"></label>


      <div id="site-wrap" class="row">
        <div id="tool-box-container" class="col-xs-8">
            <div id="tool-client-info-container" class="tool-box-item">
              <h3>Select a tool from the left</h3>
            </div>
            <div id="tool-notes-container" class="tool-box-item hidden">
              <%= render "/appointments/notes_form" %>
            </div>
        </div>
        <div id="left-user-tabs" class="col-xs-3">
          <div class="col-xs-6">
            <h1 class="font-light-green ">Goals</h1>
          </div>
          <div class="col-xs-12">
            <%= render "/surveys/survey_answers" %>
          </div>
        </div>
        <div id="layoutContainer" class="col-xs-6">
          <div class="video-center" id="videobox2">
            <div id="videobox">
            </div>
          </div>
          <div id="dietitian-name" class="col-xs-12">
            <h1><span class="dietitian-first-name"><%=@dietitian.first_name%></span> <%=@dietitian.last_name%></h1>
          </div>
        </div>
        <div class="col-xs-3">
          <div id="chat-container" class="row">
            <div id="chat-box" class="col-xs-12 form-group">
              <h4>Start a conversation!</h4>
            </div>
            <form class="form-inline" role="form">
              <div class="form-group">
                <div class="input-group">
                  <input class="family-member-name form-control" id="user-message" placeholder="   Write Message Here">
                </div>
              </div>
              <button id="send-message-button" type="button" class="btn btn-default">Send</button>
            </form>
          </div>
        </div>
        <div id="right-user-tabs" class=" col-xs-3">
          <div id="message-button-container" class="col-xs-12"><a id="show-chat-button" href="">
            <span class="glyphicon glyphicon-comment">
            </span></a>
          </div>
          <div id="phone-button-container"class="col-xs-12">
            <a id="show-phone-button" href="">
              <span class="glyphicon glyphicon-earphone">
            </span>
            </a>
          </div>
          <div id="phone-container" class="col-xs-12">
            <h1>Call</h1>
            <h1>(617)877-4731</h1>
          </div>
        </div>
      </div>
    </div><!-- recipe background -->

<script type="text/javascript">
$(document).ready(function() {
    $("#edit-family-button").on("click", function(e){
      e.preventDefault();
      $("#tool-box-container #tool-client-info-container").empty().append("<%= j render(:partial => '/rooms/user_rooms/family_form') %>");
      // on family member view button click
      
      $(".family-member-health-preview").on("click", function(e){
        
        e.preventDefault();
        var family_member_id = $(this).data("family-member-id");
        // hide all info containers //
        $(".family-member-health-container").addClass("hidden");
        // remove selected-family-member class from all
        $(".family-member-health-preview").removeClass("selected-family-member");
        // add to selected
        $("#family-member-"+family_member_id).addClass("selected-family-member"); 
        // show new family members info  
        $("#family-member-health-"+family_member_id).removeClass("hidden");
        // remove active tab
        $(".active-tab").removeClass("active-tab");
        // add it to health button
        $("#family-member-health-button").parent().addClass("active-tab");
      });
    });
  var tour = new Tour({
    storage: false,
    template: "<div class='popover tour'>" +
    "<div class='arrow'></div>" +
    "<h3 class='popover-title'></h3>" +
    "<div class='popover-content'></div>" +
    "<div class='popover-navigation'>" +
        "<button class='btn btn-lg btn-default' data-role='prev'>« Prev</button>" +
        "<span data-role='separator'></span>" +
        "<button class='btn btn-lg btn-success' data-role='next'>Next »</button>" +
        "<a class='col-xs-12' data-role='end'>End tour</button>" +
    "</div>" +
    "</nav>" +
  "</div>",
    steps: [
      {
        element: "#left-user-tabs",
        title: "Your Goals are Our Mission",
        content: "Follow this quick guide to familiarize yourself with the room before your session starts!",
        placement: "right"
      },
      {
        element: "#nav-label",
        title: "Your Family",
        content: "Use this menu tab to access your health information and to take notes during your appointment.",
        placement: "right",
        backdropPadding: {left: 10, top: 10},

      },
      {
        element: "#phone-button-container",
        title: "Having Trouble Connecting?",
        content: "Sometimes things go wrong so we like to be prepared.  If we lose video connection, use this number to call us.",
        placement: "left",
        backdropPadding: {left: -50, top: 20, right: -50, bottom: -75},
      },
      {
        element: "#message-button-container",
        title: "We Text Too",
        content: "Need to share a link or clarify something?  We can send messages but we prefer to talk 1 on 1.",
        placement: "left",
        backdropPadding: {left: -50, top: 20, right: -50, bottom: -75},
      },
      {
        title: "Ready To Start?",
        content: "We are excited to speak with you.  Just click End Tour to connect your video and begin your session!",
        orphan: true
      }
    ],
    backdrop: true,
    // backdropPadding: 10,
    onEnd: function(tour){
      TokBox.initialize();
    }
  });
  // Initialize the tour
  tour.init();
  // Start the tour
  tour.start(true);
});
</script>