<div id="session-page" class="container-fluid">
  <div class="row">

    <%= render "rooms/users/user_session_nav", survey: survey, appointment: appointment, pre_appt_survey: pre_appt_survey%>
    <main class="main-content-container col-xs-12 col-sm-10">

      <!-- ALERTS-->
      <%= render "/rooms/rooms_alert" %>

      <div class="col-xs-12 col-sm-3">
        <h4>You are meeting with:</h4>
        <h2 class="heading"><%=appointment.dietitian.signature%></h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>About:</h4>
        <h2 class="heading"><%=appointment.patient_focus.first_name%> <%=appointment.patient_focus.last_name %></h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>From:</h4>
        <h2 class="heading"><%= appointment.start_time.in_time_zone(current_user.time_zone).strftime("%l:%M") %> - <%=appointment.end_time.in_time_zone(current_user.time_zone).strftime("%l:%M %p") %></h2>
      </div>


      <section class="row form-group">
        <div class="col-xs-10 dynamic-page-container hidden">
          <%#= render "/sureys/form", survey: @survey, surveyable: @surveyable, rmeote_boolean: false %>
        </div>
        <div id="layoutContainer" class="col-xs-12">
          <div class="video-center" id="videobox2">
            <div id="videobox">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <h3>Having trouble connecting?
          <a href="tel:6175752203;ext=1" class="btn btn-primary btn-md" >Call 617-575-2203</a></h3>
        </div>
      </section>
      <!--       <div id="right-session-column" class="col-xs-3">
        <div id="chat-container" class="row">
          <div id="chat-box" class="col-xs-12 form-group">
            <h4>Start a conversation!</h4>
          </div>
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <input class="family-member-name form-control" id="user-message" placeholder="   Write Message Here">
              </div>
            </div>
            <button id="send-message-button" type="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div> -->
    </main>
    <div class="col-xs-10 col-xs-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>
