<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/dietitian_nav" %>

			<main class="main-content-container">
				<h1>Leads</h1>	
				<table class="clients-table datatable responsive no-wrap table table-striped" cellspacing="0" width="100%">
				  <thead>
				    <tr>
							<th>ID</th>
              <th>Referrer</th>
              <th>Stage</th>
              <th>First</th>
              <th>Last</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Zip</th>
              <th>Sign Up Date</th>
              <th>Sign In Count</th>
              <th>Last Sign In</th>
				    	<th></th>
				    </tr>
				  </thead>
				  <tfoot>
				  	<tr>
							<th>ID</th>
              <th>Referrer</th>
              <th>Stage</th>
              <th>First</th>
              <th>Last</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Zip</th>
              <th>Sign Up Date</th>
              <th>Sign In Count</th>
              <th>Last Sign In</th>
				    	<th></th>
				    </tr>
				  </tfoot>
				  <tbody>
				    <% @leads && @leads.each do |client| %>
				      <tr>
				      	<td><%= client.id%></td>
				      	<td><%= client_referrer(client) %></td>
				      	<td><%= client.registration_stage%></td>
				        <td><%= client.first_name if client.first_name? %></td>
				        <td><%= client.last_name if client.first_name? %></td>
				        <td><%= client.phone_number if client.phone_number? %></td>
				        <td><%= client.email %></td>
				        <td><%= client.zip_code if client.zip_code? %></td>
				        <td><%= client.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
				        <td><%= client.sign_in_count if client.sign_in_count? %></td>
				        <td><%= client.last_sign_in_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") if client.last_sign_in_at? %></td>
				        <td></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<h1>Provider Referrals Not Accepted</h1>	
				<table class="clients-table datatable responsive no-wrap table table-striped" cellspacing="0" width="100%">
				  <thead>
				  	<tr>
							<th>ID</th>
              <th>Referrer</th>
              <th>Stage</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Referral Sent</th>
				    </tr>
				  </thead>
				  <tfoot>
				  	<tr>
							<th>ID</th>
              <th>Referrer</th>
              <th>Stage</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Referral Sent</th>
				    </tr>
				  </tfoot>
				  <tbody>
				    <% @provider_referrals && @provider_referrals.each do |client| %>
				      <tr>
				      	<td><%= client.id%></td>
				      	<td><%= client_referrer(client) %></td>
				      	<td><%= client.registration_stage%></td>
				        <td><%= client.first_name if client.first_name? %></td>
				        <td><%= client.last_name if client.first_name? %></td>
				        <td><%= client.email %></td>
				        <td><%= client.invitation_sent_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<h1>QOL Referrals Not Accepted</h1>	
				<table class="clients-table datatable responsive no-wrap table table-striped" cellspacing="0" width="100%">
				  <thead>
				    <tr>
				      <th>First</th>
				      <th>Last</th>
				      <th>Email</th>
				      <th>Invitation Sent</th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th>First</th>
				      <th>Last</th>
				      <th>Email</th>
				      <th>Invitation Sent</th>
				
				    </tr>
				  </tfoot>
				  <tbody>
				    <% @qol_referrals && @qol_referrals.each do |client| %>
				      <tr>
				        <td><%= client.first_name if client.first_name? %></td>
				        <td><%= client.last_name if client.first_name? %></td>
				        <td><%= client.email %></td>
				        <td><%= client.confirmation_sent_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>

				<h1>Contacted Us</h1>	
        <table class="clients-table datatable responsive no-wrap table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Phone number</th>
              <th>Email address</th>
              <th>Title</th>
              <th>Company</th>
              <th>Purpose</th>
              <th>Help</th>
              <th>Date Contacted</th>
            </tr>
          </thead>
          <tfoot>
          	  <th>First name</th>
              <th>Last name</th>
              <th>Phone number</th>
              <th>Email address</th>
              <th>Title</th>
              <th>Company</th>
              <th>Purpose</th>
              <th>Help</th>
              <th>Date Contacted</th>
            </tr>
          </tfoot>
          <tbody>
            <% @guest_user.each do |guest_user| %>
              <tr>
                <td><%= guest_user.first_name %></td>
                <td><%= guest_user.last_name %></td>
                <td><%= guest_user.phone_number %></td>
                <td><%= guest_user.email_address %></td>
                <td><%= guest_user.title %></td>
                <td><%= guest_user.company %></td>
                <td><%= guest_user.purpose %></td>
                <td><%= guest_user.help %></td>
              	<td><%= guest_user.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
			</main>

			</main>
			<div class="col-xs-12 col-sm-10 col-sm-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>
