<div id="user-home-page" class="container">
  <% if @survey %>
    <div class="form-group col-xs-12 form-group text-center">
      <h1 id="appointment-goals-header">Appointment Goals and Details</h1>
    </div>
  <% else %>
  	<div class="form-group col-xs-12 form-group text-center">
   		<h2>Welcome to Kindrdfood, <%=current_user.first_name %>!</h2>
   	</div>
  	<div id="appointment-update-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> 
  		<h3><span><%=@appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%></span></h3>
  	</div>
  <% end %>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% if @survey %>
      <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <p><%= image_tag("computer.png") %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <%= render "/surveys/form" %>
    <% else %>
      <div class="col-xs-12">
        <div id="upcoming-appointment-container" class="text-center" data-appointment-id="<%=@appointment.id%>">
          <% if ( ( DateTime.now() >= @appointment.start_time - 15.minutes  ) && ( DateTime.now() <= @appointment.end_time + 5.minutes) ) %>

            <%= link_to 'Join Session', {:controller => "rooms", :action => "in_session", :id => @appointment.room_id, appointment: @appointment.id }, class: "text-center action kindrd-button btn-block tilt"%>
          <% else %>
            <h5>Return 10 minutes before your appointment to sign in</h5>
          <% end %>
        </div>
    <% end %>
      </div>
	</div>
	<div class="col-xs-5">
	<%#=link_to "Upgrade to Premium", new_subscription_path, remote: true%>
	</div>
  <% if @unpaid_appointment %>
    <div class="col-xs-12">
      <h3><span><%=@unpaid_appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%></span></h3>
      <%=link_to "Confirm Appointment", purchase_appointment_path(@unpaid_appointment.id), {class: "btn btn-mini-fam btn-sm", :remote => true} %>
    </div>
  <% end %>
</div>
	<%= render "/families/edit_modal" %>



<script type="text/javascript">
	$("#edit-family-button").on("click", function(e){
		e.preventDefault();
		$("#familyModal").modal({
            backdrop: 'static',
            keyboard: false
    });
    $("#complete-pre-appt-survey-button").on("click", function(e){
      e.preventDefault();  
      var appointment_id = $("#upcoming-appointment-container").data("appointment-id");
      var url = "/appointments/"+appointment_id+"/complete_appt_prep_survey"
      $.ajax({
         type: "GET",
         datatype: "script",
         data: {id: appointment_id},
         url: url,
         success: function(response){  
           $(".active-tab").removeClass("active-tab");
           $("#family-member-health-button").parent().addClass("active-tab");
         } 
      })    
    })
    $("#family-member-health-button").on("click", function(e){
      e.preventDefault();
      var active_id = $(".selected-family-member").data("family-member-id");
      $.ajax({
         type: "GET",
         datatype: "script",
         data: {id: active_id},
         url: "/registrations/edit_user_health_groups/"+active_id,
         success: function(response){  
           $(".active-tab").removeClass("active-tab");
           $("#family-member-health-button").parent().addClass("active-tab");
         } 
      })
    });
  	$("#family-member-food-button").on("click", function(e){
  		e.preventDefault();
      var active_id = $(".selected-family-member").data("family-member-id");
			$.ajax({
         type: "GET",
         datatype: "script",
         data: {survey_type: "User-Food", id: active_id},
         url: "/users/"+active_id+"/surveys/new",
         success: function(response){  
         	 $(".active-tab").removeClass("active-tab");
         	 $("#family-member-food-button").parent().addClass("active-tab");
         } 
     	})
  	});
  	$("#family-member-life-button").on("click", function(e){
  		e.preventDefault();
      var active_id = $(".selected-family-member").data("family-member-id");
			$.ajax({
         type: "GET",
         datatype: "script",
         data: {survey_type: "User-Life", id: active_id},
         url: "/users/"+active_id+"/surveys/new",
         success: function(response){
         	 $(".active-tab").removeClass("active-tab");
         	 $("#family-member-life-button").parent().addClass("active-tab");
         } 
     	})
  	})
	})
</script>





