<div id="roles-index-container">
	<div class="online-dietitians col-xs-4 col-xs-offset-4 alert alert-info">
		<h4>Current Dietitians Online</h4>
	 	<%@online_dietitians.each do |dietitian| %>
	 		<h5><%=dietitian.email%></h5>
	 	<% end %>
	</div>
  <div class="col-xs-12">
		<%= link_to roles_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Team Roles</h3>
	 		</div>
		<% end %>
		<%= link_to content_quotas_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Weekly Content Goals</h3>
	 		</div>
		<% end %>
		<%= link_to dashboard_recipe_status_path do %>
		  <div class="col-xs-3 dashboard-button-container ">
		  	<h3>Current Recipe Status</h3>
		 	</div>
		<% end %>
		<%= link_to recipe_data_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Recipe Creation Data</h3>
	 		</div>
		<% end %>
		<%= link_to ingredients_path do %>
		  <div class="col-xs-3 dashboard-button-container ">
		  	<h3>Health Groups, Allergens, and Ingredients</h3>
		 	</div>
		<% end %>
  </div>
</div>