<div id="roles-index-container">
  <div class="col-xs-12">
		<%= link_to roles_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Team Roles</h3>
	 		</div>
		<% end %>
		<%= link_to roles_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Weekly Content Goals (not built yet)</h3>
	 		</div>
		<% end %>
		<%= link_to dashboard_recipe_status_path do %>
		  <div class="col-xs-3 dashboard-button-container ">
		  	<h3>Current Recipe Status</h3>
		 	</div>
		<% end %>
		<%= link_to recipe_data_path do %>
			<div class="col-xs-3 dashboard-button-container ">
				<h3>Recipe Creation Data</h3>
	 		</div>
		<% end %>
		<%= link_to ingredients_path do %>
		  <div class="col-xs-3 dashboard-button-container ">
		  	<h3>Health Groups, Allergens, and Ingredients</h3>
		 	</div>
		<% end %>
  </div>
</div>