<div id="roles-index-container">
  <div class="col-xs-12">
    <div class="col-xs-10 col-xs-offset-1 form-group">
    	<h3>Live Recipes</h3>
  		<table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th># of Quality Reviews</th>
              <th># of Review Conflicts</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>
            </tr>
        </thead>
        <tbody>
  					<% @live_recipes.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email%></td>
              <td><%= live_recipe.quality_reviews.count %></td>
              <% if live_recipe.review_conflicts != [] %>
                <td><%= live_recipe.review_conflicts.count %></td>
              <% else %>
                <td>0</td>
              <% end %>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
    	<h3>Recipes with Unresolved High Risk Conflicts</h3>		
  		<table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th>Quality Review Stage</th>
              <th>Unresolved Conflict Resolutions</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>
            </tr>
        </thead>
        <tbody>
  					<% @recipes_with_unresolved_high_risk_conflicts.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td><%= live_recipe.quality_reviews.last.tier %></td>
              <td>
              <% live_recipe.quality_reviews.last.review_conflicts.each do |review_conflict| %>
              	<% if (review_conflict.resolved == false) %>
              		<p><%= review_conflict.category%>: Stage <%= review_conflict.review_stage%></p>
              	<% end %>
              <% end %>
              </td>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
      <h3>Recipes in Quality Review Stage 2 Awaiting Conflict Resolutions</h3>    
      <table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th>Unresolved Conflict Resolutions</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>
            </tr>
        </thead>
        <tbody>

            <% @recipes_quality_review_stage_2_awaiting_resolutions.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td>
              <% live_recipe.quality_reviews.last.review_conflicts.each do |review_conflict| %>
                <% if (review_conflict.resolved == false) %>
                  <p><%= review_conflict.category%>: Stage <%= review_conflict.review_stage%></p>
                <% end %>
              <% end %>
              </td>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-10 col-xs-offset-1 form-group">
    	<h3>Recipes in Quality Review Stage 2 Assigned</h3>		
  		<table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th>Reviewer</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>

            </tr>
        </thead>
        <tbody>


  					<% @recipes_quality_review_stage_2_assigned.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td><%= live_recipe.quality_reviews.last.dietitian.email %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
      <h3>Recipes in Quality Review Stage 2 Not Assigned</h3>   
      <table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th># of Quality Reviews</th>
              <th># of Conflict Resolutions</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>

            </tr>
        </thead>
        <tbody>


            <% @recipes_quality_review_stage_2_not_assigned.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td><%= live_recipe.quality_reviews.count %></td>
              <% if live_recipe.review_conflicts != [] %>
                <td><%= live_recipe.review_conflicts.count %></td>
              <% else %>
                <td>0</td>
              <% end %>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
    	<h3>Recipes in Quality Review Stage 1 Awaiting Conflict Resolutions</h3>		
  		<table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th>Unresolved Conflict Resolutions</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>

            </tr>
        </thead>
        <tbody>


  					<% @recipes_quality_review_stage_1_awaiting_resolutions.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td>
              <% live_recipe.quality_reviews.last.review_conflicts.each do |review_conflict| %>

              	<% if (review_conflict.resolved == false) %>
              		<p><%= review_conflict.category%>: Stage <%= review_conflict.review_stage%></p>
              	<% end %>
              <% end %>
              </td>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
      <h3>Recipes in Quality Review Stage 1 Assigned</h3>   
      <table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th>Reviewer</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>

            </tr>
        </thead>
        <tbody>


            <% @recipes_quality_review_stage_1_assigned.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td><%= live_recipe.quality_reviews.last.dietitian.email %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group">
      <h3>Recipes in Quality Review Stage 1 Not Assigned</h3>   
      <table class="table table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Chef</th>
              <th># of Quality Reviews</th>
              <th># of Conflict Resolutions</th>
              <th># of Total Reviewers</th>
              <th># of Unique Reviewers</th>

            </tr>
        </thead>
        <tbody>


            <% @recipes_quality_review_stage_1_not_assigned.each do |live_recipe| %>
            <tr>
              <td><%= live_recipe.name %></td>
              <td><%= live_recipe.dietitian.email %></td>
              <td><%= live_recipe.quality_reviews.count %></td>
              <% if live_recipe.review_conflicts != [] %>
                <td><%= live_recipe.review_conflicts.count %></td>
              <% else %>
                <td>0</td>
              <% end %>
              <td><%= live_recipe.number_of_reviewers_hash[:total] %></td>
              <td><%= live_recipe.number_of_reviewers_hash[:unique] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>