
<% if question.tier == 1 %>
<div class="question-container question-container-radio">
<% else %>
<div class="question-container question-container-radio tier-2">
<% end %>
	<h4><%=question.content%></h4>
	<label class="radio-inline">
  	<input type="radio" name="questions[<%=question.id%>]" id="inlineRadio1-<%=question.id%>" value="Yes"> Yes
	</label>
	<label class="radio-inline">
  	<input type="radio" name="questions[<%=question.id%>]" id="inlineRadio2-<%=question.id%>" value="No"> No
	</label>
</div>

