<% if @review_conflict.risk_level == 1 %>
  <div id="review-recipe-name" class="col-xs-12 form-group alert alert-success">
    <h4>No Risk</h4>
<% elsif @review_conflict.risk_level == 2 %>
  <div id="review-recipe-name" class="col-xs-12 form-group alert alert-info">
    <h4>Low Risk</h4>
<% elsif @review_conflict.risk_level == 3 %>
  <div id="review-recipe-name" class="col-xs-12 form-group alert alert-warning">
    <h4>High Risk</h4>
<% elsif @review_conflict.risk_level == 4 %>
  <div id="review-recipe-name" class="col-xs-12 form-group alert alert-danger">
    <h4>Dangerous Risk</h4>
<% end %>
<% if @item == "recipe-name"%>
    <h2>Recipe Title</h2>
<% elsif @item == "cook-time"%>
    <h2>Cook Time:</h2>
<% elsif @item == "prep-time"%>
    <h2>Prep Time:</h2>
<% elsif @item == "difficulty"%>
    <h2>Difficulty:</h2>
<% elsif @item == "serving-size"%>
    <h2>Serving Size:</h2>
<% end %>
    <h3 id="first-suggestion-display">Suggestion 1: <%=@review_conflict.first_suggestion%></h3>
    <p class="form-group">Notes: <%= @review_conflict.first_reviewer_notes %></p>
    <% if @review_conflict.third_reviewer_id %>
      <h3 id="second-suggestion-display">Suggestion 2: <%=@review_conflict.second_suggestion%></h3>
      <p class="form-group">Notes: <%= @review_conflict.second_reviewer_notes %></p>
    <% end %>
    <div class=" col-xs-12 form-group text-center"> 
    <% if @review_conflict.review_stage == 2 %>
      <button data-suggestion="first" class="btn btn-lg btn-success accept-review-button-choice">Suggestion 1</button>
      <button  data-suggestion="second" class="btn btn-lg btn-success accept-review-button-choice">Suggestion 2</button>
      <button id="decline-review-button" class="btn btn-lg btn-success">Keep Original</button>
      <button id="add-new-suggestion-button" class="btn btn-lg btn-success">Add New</button>
    <% else %>
      <button id="accept-review-button" class="btn btn-lg btn-success">ACCEPT</button>
      <button id="decline-review-button" class="btn btn-lg btn-success">Decline</button>
      <button id="edit-review-button" class="btn btn-lg btn-success">Edit</button>
    <% end %>
    </div>
    <div id="accept-review-form" class="col-xs-12">
      <%= simple_form_for [@recipe, @review_conflict], :url => {:controller => 'review_conflicts', :method => "PATCH", :action => 'accept_review_conflict', :recipe_id => @recipe.id, :id => @review_conflict.id}, :html => {:multipart => true} do |f| %>
        <textarea class="form-control form-group" placeholder="Please share your reasoning" name="<%=@reviewer_notes%>" rows="3"></textarea>
        <div id="hidden-suggestion-container">
        </div>
          <div class=" col-xs-12 form-group text-center"> 
            <%= f.button :submit, "Accept Suggestion", class: "btn btn-success btn-lg", type: "submit" %>
          </div> 
      <% end %>
    </div>
    <div id="decline-review-form" class="col-xs-12">
      <%= simple_form_for [@recipe, @review_conflict], :url => {:controller => 'review_conflicts', :method => "PATCH", :action => 'decline_review_conflict', :recipe_id => @recipe.id, :id => @review_conflict.id}, :html => {:multipart => true} do |f| %>
        <textarea class="form-control form-group" placeholder="Please share your reasoning" name="<%=@reviewer_notes%>" rows="3"></textarea>
          <div class=" col-xs-12 form-group text-center"> 
            <%= f.button :submit, "Decline Suggestion", class: "btn btn-success btn-lg", type: "submit" %>
          </div> 
      <% end %>
    </div>
    <div id="edit-review-form" class="col-xs-12 form-group">
      <%= simple_form_for [@recipe, @review_conflict], :url => {:controller => 'review_conflicts', :method => "PATCH", :action => 'edit_review_conflict', :recipe_id => @recipe.id, :id => @review_conflict.id}, :html => {:multipart => true} do |f| %>
        <div id="basic-info-form" class="col-xs-6 col-xs-offset-3 form-group">
      <% if @item == "recipe-name" %>
        <input type="text" class="recipe-name-autofill form-control" id="recipe-name" placeholder="Enter recipe name here" name="<%=@suggestion%>" value="<%=@recipe.name%>" data-autocomplete-source="<%=@all_recipe_names%>">
      <% elsif @item == "cook-time" %>
        <label for="cooktime">Cook Time</label>
        <%=  select_tag "#{@suggestion}", options_from_collection_for_select(@cook_times, "name", "name"), id: "recipe_cook_time"%>
      <% elsif @item == "prep-time" %>
        <label for="preptime">Prep Time</label>
        <%=  select_tag "#{@suggestion}", options_from_collection_for_select(@prep_times, "name", "name"), id: "recipe_prep_time"%>
      <% elsif @item == "difficulty" %>
        <label for="difficulty">Difficulty</label>
        <%=select_tag "#{@suggestion}", options_from_collection_for_select(@difficulties, "name", "name"), id: "recipe_difficulty"%>
      <% elsif @item == "serving-size" %>
        <label for="servingsize">Serving Size</label>
        <%=  select_tag "#{@suggestion}", options_from_collection_for_select(@serving_sizes, "name", "name"), id: "recipe_serving_size"%>
      <% end %>
      </div>
      <div class="col-xs-12 form-group">
        <textarea class="form-control form-group" placeholder="Please share your reasoning" name="<%=@reviewer_notes%>" rows="3"></textarea>
      </div>
          <div class=" col-xs-12 form-group text-center"> 
            <%= f.button :submit, "Edit Suggestion", class: "btn btn-success btn-lg", type: "submit" %>
          </div> 
      <% end %>
    </div>

  </div>