<div id="edit-profile-container" class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h2><%=resource.first_name%>'s' KindRDNutritionist Profile</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', method: :put }, multipart: true) do |f| %>
		  <%= devise_error_messages! %>

		  <div id="edit-profile-fields" class="row">
		  	<div class="col-xs-6">
				  <div class="col-xs-12">
					  <%= f.input :first_name, autofocus: true, type: "text", input_html: {placeholder: "First Name"} %>
					</div>
				  <div class="col-xs-12">
				  	<%= f.input :last_name, autofocus: true, type: "text",input_html: {placeholder: "Last Name"} %>
				  </div>
			  	<div class="col-xs-12">
			  		<label>Professional Signature</label>
			  		<%= f.input :signature, autofocus: true, type: "text", label: false, input_html: {placeholder: "Mike Finn MS, RDN, CSSD, LD"} %>
			  	</div>
			 		<div class="col-xs-12">
			 			<%= f.input :email, autofocus: true, type: "email"%>
			 		</div>
			 	</div>
			 	<div class="col-xs-6">
			 		<div id="main-avatar-container" class="col-xs-12 form-group">
					  <% if @main_avatar %>
				   		<%= image_tag @main_avatar.icon.url %>
				   		<%= f.fields_for :images, resource.images.build do |builder| %>
				  			  <div><%= builder.input :remove_image, as: :boolean %></div>
				  		<% end %>
					  <% else %>
						  <%= f.fields_for :images, resource.images.build do |builder| %>
						  <label>Add a profile picture!</label>
						  <p>(you can crop the picture after you save)</p>
						  <img id="image-preview" class="hidden" src="#" alt="your image" />
							  <fieldset>
							  <div class="fileUpload btn btn-primary">
							  <span>Upload</span>
					 				<%= builder.file_field :image, class: "upload" %>
					 				</div>
					 				<%= builder.hidden_field :image_cache %>
					 				<%= builder.hidden_field :position, value: 1  %>
					 				<%= builder.hidden_field :imageable_type, value: resource.class %>
					 				<%= builder.hidden_field :imageable_id, value: resource.id %>
					 				<%= builder.hidden_field :image_type, value: "Avatar" %>
							  </fieldset>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<hr>
			<div id="save-profile-container" class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div id="change-password-container" class="hidden">
				  	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				  	<% end %>
			  		<div class="col-xs-8">
			  			<%= f.input :password %> <i>(leave blank if you don't want to change it)</i>
			  		</div>
			  		<div class="col-xs-8">
					  	<%= f.input :password_confirmation %>
					  </div>
				  </div>
					<div class="col-xs-8">
					<label>Current Password</label>
					<button id="change-password-button" type="button" class="btn btn-link">Change Password</button>
						<%= f.input :current_password, label: false %> <i>(we need your current password to confirm your changes)</i>
					</div>
		  		<div class="col-xs-2">
		  			<%= f.button :submit, "Save", class: "btn btn-success btn-lg" %>
		  		</div>
				</div>
		 	</div>
		<% end %>
	</div>
</div>