<!-- KRDN DASHBOARD  -->
<div id="welcome-page" class="container-fluid">
		<div class="row">

		<!-- KRDN NAV-->
			<%= render "/layouts/navbars/dietitian_nav" %>

			<!-- MAIN CONTENT -->
			<main class="main-content-container">

				<!-- ALERTS-->
			  <section class="alerts-container">
	          <%= render "/layouts/alerts" %>
	      </section>
					<div id="edit-profile-container" class="row">
						<div class="col-xs-12">
							<h2><%=resource.first_name%>'s' Kindrd Nutritionist Profile</h2>

							<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', method: :put }, multipart: true) do |f| %>
							  <%= devise_error_messages! %>

							  <div class="row form-group">
							 		<div id="main-avatar-container" class="col-xs-12 form-group">

							 			<!-- If user has avatar -->
									  <% if @main_avatar %>
								   		<%= image_tag @dietitian.main_avatar.large.url, class: "img-circle img-responsive" %>
								   		<%= f.fields_for :images, resource.images.build do |builder| %>
									   		  <p>
												    <label>
												      <%= builder.check_box :remove_image %>
												      Remove avatar
												    </label>
												  </p>
								
								  		<% end %>
								  	<!-- Else user no avatar -->
									  <% else %>
										  <%= f.fields_for :images, resource.images.build do |builder| %>
										  <label>Add a profile picture!</label>
										  <p>(you can crop the picture after you save)</p>
										  <img id="image-preview" class="hidden" src="#" alt="your image" />
											  <fieldset>
											  <div class="fileUpload btn btn-primary">
											  <span>Upload</span>
									 				<%= builder.file_field :image, class: "upload" %>
									 				</div>
									 				<%= builder.hidden_field :image_cache %>
									 				<%= builder.hidden_field :position, value: 1  %>
									 				<%= builder.hidden_field :imageable_type, value: resource.class %>
									 				<%= builder.hidden_field :imageable_id, value: resource.id %>
									 				<%= builder.hidden_field :image_type, value: "Avatar" %>
											  </fieldset>
											<% end %>
										<% end %>
									</div>
								</div>
								<div class="row form-group">
							  	<div class="col-xs-12 col-sm-6">
							  		<div class="row">
										  <div class="col-xs-12">
											  <%= f.input :first_name, autofocus: true, type: "text", input_html: {class: "form-control", placeholder: "First Name"} %>
											</div>
										  <div class="col-xs-12">
										  	<%= f.input :last_name, autofocus: true, type: "text",input_html: {class: "form-control", placeholder: "Last Name"} %>
										  </div>
									  	<div class="col-xs-12">
									  		<%= f.input :signature, autofocus: true, type: "text", label: "Professional Signature", input_html: {class: "form-control", placeholder: "Mike Finn MS, RDN, CSSD, LD"} %>
									  	</div>
									  </div>
									</div>
									<div class="col-xs-12 col-sm-6">
									  <div class="row"> 
									  	<div class="col-xs-12">
									  		<%= f.input :location, autofocus: true, type: "text", input_html: {class: "form-control", placeholder: "Boston, MA"} %>
									  	</div>
									 		<div class="col-xs-12">
									 			<%= f.input :email, autofocus: true, type: "email", autofocus: true, input_html: {class: "form-control", placeholder: "your.name@kindrdfood.com"}%>
									 		</div>
					
										</div>
									</div>
								</div>
								<div class="row form-group">
									<div class="col-xs-12 col-sm-6">
								  	<div class="row">
										  <div class="col-xs-12">
											  <%= f.input :undergraduate_education, autofocus: true, type: "text", input_html: {class: "form-control", placeholder: "BS in Nutrition at Boston University"} %>
											</div>
										  <div class="col-xs-12">
										  	<%= f.input :graduate_education, autofocus: true, type: "text",input_html: {class: "form-control", placeholder: "MS in Nutrition at Harvard University"} %>
										  </div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
								  	<div class="row">
									  	<div class="col-xs-12">
									  		<label>Clinical Training and Roles</label>
									  		<%= f.input :professional_experience_first, autofocus: true, type: "text", label: false, input_html: {class: "form-control", placeholder: "Resident, Boston Children's Hospital"} %>
									  	</div>
									  	<div class="col-xs-12">
									  		<%= f.input :professional_experience_second, autofocus: true, type: "text", label: false, input_html: {class: "form-control", placeholder: "Resident, Boston Children's Hospital"} %>
									  	</div>
									 		<div class="col-xs-12">
									  		<%= f.input :professional_experience_third, autofocus: true, type: "text", label: false, input_html: {class: "form-control", placeholder: "Resident, Boston Children's Hospital"} %>
									 		</div>
									 	</div>
								 	</div>
								</div>
								<div class="row form-group">
						 			<div class="col-xs-12">
									  <%= f.input :introduction, autofocus: true, type: "text", input_html: {class: "form-control", rows: 5, placeholder: "Tara McCarthy has been in nutritoin since day 1."} %>
									 </div>
								</div>
								<div class="row form-group">
							  	<div class="col-xs-3 col-xs-offset-3">
							  		<label>Exerience Level</label>
							  		<%= f.input :experience_level, 
							  			collection: [[0, 'Tier 1'], [1, 'Tier 2'], [2, 'Tier 3'], [3, 'Tier 4']],
											label_method: :last,
											value_method: :first,
											as: :radio_buttons,
											label: false,
											checked: f.object.experience_level, 
											required: true%>
							  	</div>
							 		<div class="col-xs-3">
							 			<label>Age Group</label>
							  		<%= f.input :age_level, 
							  			collection: [[0, 'Infant'], [1, 'Baby'], [2, 'Kid'], [3, 'Adult']],
											label_method: :last,
											value_method: :first,
											as: :radio_buttons,
											label: false,
											checked: f.object.age_level, 
											required: true%>
							 		</div>
								</div>
								<div class="row form-group">
								   		
	  							<table class="table" style="border-collapse:collapse;">
	  							  <colgroup>
	  							  	<col  >
									    <col style="border-left:1px solid black;">
									    <col span="2" >
									    <col style="border-left:1px solid black;">
									    <col span="2" >
								
	  							  </colgroup>

					          <thead>
						            <tr>
						              <th rowspan="2">Health Group</th>

						              <th class="text-center" colspan="3">Preference</th>
						              <th class="text-center" colspan="3">Expertise</th>
												</tr>
						            <tr>
						            	<th class="text-center">Dislike</th>
						              <th class="text-center">Neutral</th>
											    <th class="text-center">Like</th>
													<% if current_dietitian.has_role? "Admin Dietitian"  %>
							   						<th class="text-center">Unqualified</th>
							   						<th class="text-center">Qualified</th>
							   						<th class="text-center">Expert</th>
							   					<% end %>
						            </tr>
						          </thead>

					          	<tbody>
			  								<%= f.simple_fields_for :expertises do |e| %>
						              <tr>
						                <td><%=e.object.patient_group.name%></td>
						                <td class="text-center">
						                		<input <%= "checked" if e.object.dietitian_preference == 0%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_preference_<%=e.index%>" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_preference]" type="radio" value="0">
						                </td>
						                <td class="text-center">
						                	<input <%= "checked" if e.object.dietitian_preference == 1%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_preference_1" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_preference]" type="radio" value="1">
						                </td>
						                <td class="text-center">
						            			<input <%= "checked" if e.object.dietitian_preference == 2%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_preference_2" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_preference]" type="radio" value="2">
						                </td>
														<% if current_dietitian.has_role? "Admin Dietitian" %>
							
							                <td class="text-center">
							                		<input <%= "checked" if e.object.dietitian_qualification == 0%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_qualification_<%=e.index%>" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_qualification]" type="radio" value="0">
							                </td>
							                <td class="text-center">
							                	<input <%= "checked" if e.object.dietitian_qualification == 1%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_qualification_1" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_qualification]" type="radio" value="1">
							                </td>
							                <td class="text-center">
							            			<input <%= "checked" if e.object.dietitian_qualification == 2%> class="radio_buttons optional" id="dietitian_expertises_attributes_<%=e.index%>_dietitian_qualification_2" name="dietitian[expertises_attributes][<%=e.index%>][dietitian_qualification]" type="radio" value="2">
							                </td>
								   					<% end %>
						              </tr>
							          <% end %> 
					          	</tbody>
					  
					        </table>  
										
								</div> 
								<div class="row form-group">
									<div class="col-xs-4 col-xs-offset-4">
										<div id="change-password-container" class="hidden row">
									  	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
									    	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
									  	<% end %>
								  		<div class="col-xs-12">
								  			<label>New Password</label>
								  			<%= f.input :password, autofocus: true, type: "password", label: false, input_html: {class: "form-control", placeholder: "secret sauce"}  %> <i>(leave blank if you don't want to change it)</i>
								  		</div>
								  		<div class="col-xs-12">
								  			<label>Confirm New Password</label>
										  	<%= f.input :password_confirmation, autofocus: true, type: "password", label: false, input_html: {class: "form-control", placeholder: "secret sauce"}  %>
										  </div>
									  </div>
										<div class="row">
											<div class="col-xs-12">
												<label>Current Password</label>
												<button id="change-password-button" type="button" class="btn btn-link">Change Password</button>
													<%= f.input :current_password, label: false %> <i>(we need your current password to confirm your changes)</i>
											</div>
											<div class="col-xs-12">
												<%= f.button :submit, "Save", class: "btn btn-success btn-lg" %>
											 </div>
							  		</div>
									</div>
							 	</div>
							<% end %>
						</div>
					</div>
			</main>

			<!-- FOOTER -->
			<div class="col-xs-12 col-sm-10 col-sm-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>





