<div class="row">
	<div class="col-xs-12">
	<h2>Edit <%= resource_name.to_s.humanize %></h2>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', method: :put }, multipart: true) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.input :email %></div>
	  <div><%= f.input :first_name %></div>
	  <div><%= f.input :last_name %></div>
	  <div><%= f.input :signature %></div>
	  <% if @main_avatar %>
   		<%= image_tag @main_avatar.url %>
   		<%= image_tag @main_avatar.thumb.url %>
   		<%= image_tag @main_avatar.icon.url %>
   		<%= image_tag @main_avatar.small_icon.url %>
   		<%= f.fields_for :images, resource.images.build do |builder| %>
<!-- 			<label class="checkbox">
    		<input class="optional" id="remove-image" name="dietitian[images_attributes][0][remove_image]" type="checkbox" value="1">Remove Photo
  		</label> -->
  			  <div><%= builder.input :remove_image, as: :boolean %></div>
  		<% end %>
	  <% else %>
		  <%= f.fields_for :images, resource.images.build do |builder| %>
			  <fieldset>
	 				<div><%= builder.file_field :image %></div>
	 				<%= builder.hidden_field :image_cache %>
	 				<%= builder.hidden_field :position, value: 1  %>
	 				<%= builder.hidden_field :imageable_type, value: resource.class %>
	 				<%= builder.hidden_field :imageable_id, value: resource.id %>
	 				<%= builder.hidden_field :image_type, value: "Avatar" %>
			  </fieldset>
			<% end %>
		<% end %>


	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	  <div><%= f.input :password %> <i>(leave blank if you don't want to change it)</i></div>

	  <div><%= f.input :password_confirmation %></div>

	  <div><%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i></div>

	  <div><%= f.button :submit, "Update" %></div>
	<% end %>

	<h3>Cancel my account</h3>

	<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

	<%= link_to "Back", :back %>
	</div>
</div>