<div class="col-xs-12 wide-image-container wood-background">
	<div id="notepad" class="hidden-xs hidden-sm col-md-4 col-lg-5">
		<ul>
		  <li class="col-xs-5">
		    <a href="#">
		      <h2>Step #1</h2>
		      <p>Become a Founding Member by Creating a <u>FREE</u> Profile</p>
		    </a>
		  </li>
		  <li class="col-xs-5">
		    <a href="#">
		      <h2>Step #2</h2>
		      <p>Add Your Family's Nutritional Preferances</p>
		    </a>
		  </li>
		  <li class="col-xs-5">
		    <a href="#">
		      <h2>Step #3</h2>
		      <p>Set Up Your Virtual Appointment <u>Today</u></p>
		    </a>
		  </li>
		  <li class="col-xs-5">
		    <a href="#">
		      <h2>Step #4</h2>
		      <p>Meet Your KindRDNutritionist</p>
		    </a>
		  </li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 text-center">
		<div class="col-xs-10 col-xs-offset-2 form-group">
			<h2>WELCOME</h2>
			<h4>Thank you for joining the <i>nutrition revolution</i>!</h4>
			<h4>We are excited to welcome you as a Founding Member</h4>
		</div>
		<div id="sign-up-form" class="col-xs-10 col-xs-offset-2 sign_in_form">
			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-inline', role:"form" }) do |f| %>
				<div class="form-group col-xs-12">
					<h3><span class="white-font">Let's get started!</span></h3>
				</div>
				<%= render "/layouts/alerts" %>
			  <div class="col-xs-10  form-group text-right">
		
		    	<label for="exampleInputPassword2">Email</label>
		      <%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>

			  </div>
			  <div class="col-xs-10  form-group text-right">
			    <label for="exampleInputPassword2">Password</label>
			    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "secret sauce", type: "password" %>
			  </div>
				<div class="col-xs-10  form-group text-right">
			    <label for="exampleInputPassword2">Confirm Password</label>
			    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "secret sauce", type: "password"%>
			   </div>
				<div class="col-xs-6 col-xs-offset-3 form-group">
				  <%= f.button :submit, "EARLY ACCESS", class: "btn btn-success btn-block", type: "submit" %>
				</div>
				<div class="col-xs-12 text-left">
					<%= render "devise/shared/links" %>
				</div>
			<% end %>
			<!-- </form> -->
		</div>
	</div>
</div>
