

<!-- KRDN DASHBOARD  -->
<% if current_user || current_dietitian %>
	<div id="welcome-page" class="dietitian-show-page container-fluid">

<% else %>
	<div id="welcome-page" class="landing-page dietitian-show-page container-fluid">
<% end %>

		<div class="row">

			<!-- KRDN NAV-->
			<%= render "/layouts/navbars/main_navigation_column" %>

			<!-- MAIN CONTENT -->
			<main class="main-content-container">

				<!-- ALERTS-->
			  <section class="alerts-container">
	          <%= render "/layouts/alerts" %>
	      </section>
				<section class="profile-heading">
		  		<div class="profile-heading-logo">
			 			<!-- If user has avatar -->
					  <% if @dietitian.main_avatar %>
				   		<%= image_tag @dietitian.main_avatar.large.url, class: "img-circle img-responsive" %>

				  	<!-- Else user no avatar -->
					  <% else %>

						<% end %>
					</div>
					<div class="profile-heading-signature">	
						<h1><%=@dietitian.signature%></h1>
						<p><em><%= @dietitian.location %></em></p>
					</div>
				</section>
				<section class="profile-content">
 					<div class="profile-content-left-column">	
 						<div class"row">
 							<div class="col-xs-12">
 								<p><%= @dietitian.introduction %></p>
 							</div>
 							<!-- <div class="col-xs-12">
								<h3>Specialties</h3>
								<div class="row">
									<%# @dietitian.expertises.each do |expertise| %>
										<p class="profile-specialties-item"><%#=expertise.patient_group.name%></p>
									<%# end %>
								</div>
 							</div> -->
 						</div>
					</div>
					<div class="profile-content-right-column">
				  	<div class="row">
				  		<div class="profile-content-career-education">
				  			<h3>Education</h3>
							  <p><%= @dietitian.undergraduate_education%></p>
						  	<p><%= @dietitian.graduate_education %></p>
						  </div>
						</div>
				  	<div class="row">
					  	<div class="col-xs-12">
					  		<h3>Clinical Training and Roles</h3>
					  	</div>
					  	<div class="col-xs-12">
					  		<p><%= @dietitian.professional_experience_first %></p>
					  		<p><%= @dietitian.professional_experience_second %></p>
					  		<p><%= @dietitian.professional_experience_third %></p>
					 		</div>
					 	</div>
					 <!-- 	<div class="row">
					 		<div class="col-xs-12">
					  		<h3>Favorite Recipe</h3>
					  	</div>
					  	<div class="col-xs-12">
					  	 <%#= render "/post_recommendations/show", post_recommendation: @dietitian.favorite_recipe %>
					  	</div>
					 	</div> -->
				 	</div>
				</section>
				<section class="row">

					<%= render "/post_recommendations/index", post_recommendations: @dietitian.post_recommendations %>

				</section>
			</main>

			<!-- FOOTER -->
			<div class="col-xs-12">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>





