


<div id="care-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section class="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section ">
			<div class="left-splash-column">
				<h1>We look forward to hearing from you!</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_provider" %>
			</div>
			<div class="left-nav-text-container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Kindrdfood Inc.</h2>
						<h2>PO Box 425253</h2>
						<h2>Cambridge, MA 02142</h2>

						<h2>(617) 575-2203</h2>
					</div>
					<div class="col-xs-6">
						<h3>Customer Service:</h3>

						<h4><a href="mailto:customer.service@kindrdfood.com?Subject=Customer Service" target="_top">customer.service@kindrdfood.com</a></h4>
						<h4><a href="tel:6175752203;ext=1">617-575-2203  Ext. 1</a></h4>
					</div>
					<div class="col-xs-6">
						<h3>Technical Support:</h3>

						<h4><a href="mailto:tech.support@kindrdfood.com?Subject=Tech Support" target="_top">tech.support@kindrdfood.com</a></h4>
						<h4><a href="tel:6175752203;ext=2">617-575-2203  Ext. 2</a></h4>
					</div>
					<div class="col-xs-6">
						<h3>Partnerships & Business Inquiries:</h3>

						<h4><a href="mailto:partnerships@kindrdfood.com?Subject=Partnership Inquiry" target="_top">partnerships@kindrdfood.com</a></h4>
						<h4><a href="tel:6175752203;ext=3">617-575-2203  Ext. 3</a></h4>
					</div>
					<div class="col-xs-6">
						<h3>Press:</h3>

						<h4><a href="mailto:press@kindrdfood.com?Subject=Press Inquiry" target="_top">press@kindrdfood.com</a></h4>
						<h4><a href="tel:6175752203;ext=3">617-575-2203  Ext. 3</a></h4>
					</div>
				</div>
			</div>
		</section>

		<%= render "/landing_pages/sections/call_to_action_benefits" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
	<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>