
<div id="qol-page" class="container-fluid">
  <nav class="row navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      <%= image_tag "logos/kf-logo-registration.png", id: "landing-page-logo", class: "img-responsive" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#link-approach">OUR APPROACH <span class="sr-only">(current)</span></a></li>
        <li><a href="#link-team">OUR TEAM</a></li>
<!--         <li><a href="#">FOR PROVIDERS</a></li>
        <li><a href="#">CONTACT US</a></li> -->
        <li id="sign-in-or-up-link"><%= link_to "LOGIN", new_session_path("user"), :remote => true %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
	</nav>
	<div class="row">
		<%= render "/layouts/alerts" %>
	</div>
	<div class="row qol-background-image">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 text-left left-column">
			<h1>Eat Easier.</h1>
			<h1>Eat Happier.</h1>
			<h3>Great food and good nutrition start with the right guidance.</h3>
		</div>
		<div class="col-xs-12 col-sm-6 outside-form-container">
			<div class="text-center">
				<h3>Welcome to Kindrdfood!</h3>
				<p>Please create your account to schedule a session with one of our Registered Dietitian Nutritionists.</p>

				<%= simple_form_for(@user, as: "user", url: user_registration_path, html: {class: 'row text-left', role:"form" }) do |f| %>

					<div class="form-group col-xs-8 col-xs-offset-2">
						<l{abel for="first-name">First Name</label>
						<%= f.input_field :first_name, autofocus: true, class: "form-control", type: "text", placeholder: "First" %>
					</div>
					<div class="form-group col-xs-8 col-xs-offset-2">
						<label for="last-name">Last Name</label>
						<%= f.input_field :last_name, autofocus: true, class: "form-control", type: "text", placeholder: "Last" %>
					</div>
					<div class="form-group col-xs-8 col-xs-offset-2">
						<label for="email">Email Address</label>
						<%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>
					</div>
          <div class="form-group col-xs-8 col-xs-offset-2">
            <label for="first-name">Password</label>
            <%= f.password_field :password, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
          </div>
          <%=binding.pry%>
          <%= f.input :time_zone, priority: /US/, :input_html => { class: "form-control"} %>

          <div class="form-group col-xs-8 col-xs-offset-2">
            <label for="last-name">Confirm password</label>
            <%= f.password_field :password_confirmation, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
          </div>
					<div class="col-xs-8 col-xs-offset-2 text-right">
						<%= f.button :submit, "SCHEDULE TODAY!", class: "btn btn-primary btn-lg", type: "submit" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div id="link-approach" class="row landing-page-row approach">
		<div class="col-xs-12 col-sm-6 text-left">
			<h2 class="heading">We make mealtime a pleasure, everytime.</h2>
			<p class="details">Kindrdfood is the secret weapon for families who have to change the way they eat due to a medical condition, dietary restriction or a new family addition.  We make changes easy with trustworthy, balanced guidance so that you can relax and enjoy your food with confidence.  As a Kindrdfood client, you will be matched with your very own KindRD Nutritionist - a highly trained and clinically experienced Registered Dietitian Nutritionist (RDN), with amazing cooking chops who guides you remotely through live video sessions.  Your preferences, your needs, our best people are on it.</p>
			<hr class="small-hr">
			<h3>Food allergy?  No problem.  Infant in arms?  We get it.  New diagnosis?  We'll train you up.</h3>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 faded-image">
		</div>
	</div>
	<section class="row landing-page-row testimonial">
		<div class="col-xs-12 text-center">
			<h2>It was such a relief to get answers that I could trust, my kitchen just got happier!</h2>
			<p>KF Member</p>
		</div>
	</section>
	<div id="link-team" class="row landing-page-row team">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 faded-image-2">
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-offset-1 text-left">
			<h2 class="heading">KindRD Nutritionists take your food to a new level.</h2>
			<p class="details">At Kindrdfood, we have a team of specialized RDNs, who have all been clinically trained, but we don't stop there.  Every KindRD Nutritionist goes through additional training in nutrition subspecialties, family eating challenges, and cooking for safety and great taste.  We hold our team to the highest standards possible, so that you can rely on the best.</p>
			<hr class="small-hr">
			<h3>In the kitchen, in the store, and at the table.  We've got you covered!</h3>
		</div>
	</div>
	<section class="row landing-page-row mobile">
	 	<div class="col-xs-6">
		 	<h2>In your kitchen and at your table.</h2>
		 	<p class="details">Web?  Check.  Mobile?  Check.  At your convenience.</p>
	 	</div>
	 	<div class="col-xs-6">
	 		<p class="details">Access Kindrdfood from wherever and whenever it is convenient for you.  All you need is access to the internet or a telephone and you can connect with your KindRD Nutritionist and all of the recipes and materials that suit your family's personalized needs and preferences.</p>
	 	</div>
	</section>
	<div class="row landing-page-row">
		<div class="col-xs-12 col-sm-6 text-left">
			<h2 class="heading">Guidance you can trust...Finally!</h2>
			<p class="details">KindRD Nutritionists are hired based on the highest standards of competence and service delivery.  Then we train them more.  More nutrition.  More family strategies.  More cooking skills.  They're the best!  Our approach to service is personalized and not biased toward manufacturers' agendas or popular nutrition.  Your KindRD Nutritionist will help you keep your family safe and help you enjoy better food, regardless of what limits your table.  Our clients get the confidence and comfort of having a partner to guide them in learning and improving the quality and taste of everything they eat.</p>
			<hr class="small-hr">
			<h3>Verified and validated.  Experts and information you can trust.</h3>
		</div>
		<div class="hidden-xs col-sm-4 col-sm-offset-1 faded-image-3">
		</div>
	</div>
	<div class="row landing-page-row problem">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 faded-image-4">
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-offset-1 text-left">
			<h2 class="heading">Why are you still using a search engine for your nutrition knowledge?</h2>
			<p class="details">Searching the internet can land you on pages with heavily spun and frequently incorrect information, leaving you alone to sift through the fragments of questionable data across more sites than anyone would care to visit.  Kindrdfood puts everything that you need in one trustworthy place.  We do not accept food product or supplement endorsements, so neither the 1-on-1 guidance nor any content is adulterated by product marketing.  We make it easy for you to learn, without having to question the credibility of the guidance you receive.</p>
			<hr class="small-hr">
			<h3>Filtered, verified, personalized, and all in one place.</h3>
		</div>
	</div>
	<section class="row landing-page-row call-to-action-bar">
		<div class="col-xs-12 text-center">
			<h2>Ready to start enjoying every bite?</h2>
			<button class="btn btn-lg btn-primary">Request Early Access</button>
		</div>
	</section>
		<%= render "/layouts/footers/main_footer" %>
</div>