
<div id="leadership-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section id="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Passion for our mission</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_why_kindrdfood" %>
			</div>
			<div class="left-nav-text-container">
				<p class="details">Our leadership team is motivated by our clients. We are lucky enough to be able to converge with our skills and affinities to form a solution that is unique and meaningful to us and our clients. </p>
<!-- 				<p class="details">Our leadership team is motivated by the clients and families we see everyday. A passion for nutrition, food and people has given our team the ability to use our skills doing what we love most. </p>
				<p>"If you do what you love, you'll never work a day in your life." </p> -->
			</div>
		</section>

		<section class="landing-page-row three-column">
			<div class="three-column-container">
				<h2 class="heading">Nutrition and Food Leadership</h2>
				<div class="three-column-one">
					<%=image_tag "/assets/team/tara_mccarthy.jpg", class: "img-responsive" %>
					<h3>Tara McCarthy MS, RDN</h3>
					<h4>Co-Founder & Chief Dietitian</h4>
					<p>Tara has been a Registered Dietitian Nutritionist (RDN) for over 16 years. She been on the staff at Boston Children’s Hospital since 2001, during which time, she has cared for a wide variety of patients including those challenged by food allergies, celiac disease, EoE, FPIES and CSID. In addition to counseling at Boston Medical Center, BC Campus School, (a school for developmentally delayed children), and in the homes of many families, Tara also has taught Nutrition courses at Northeastern University and mentored dozens of RDNs. Tara lives in Milton, MA with her husband and three children. </p>
				</div>
				<div class="three-column-one">
					<%=image_tag "/assets/team/lauren_deal.JPG", class: "img-responsive" %>
					<h3>Lauren Deal</h3>
					<h4>Executive Chef</h4>
					<p>Lauren has a love for food and the role that food plays in bringing families together. She began her journey with food as a little girl, cooking at home with her mother, and decided to reinforce her upbringing with culinary school in Italy. She has cooked professionally since 2004 in many highly regarded restaurants. Prior to joining the Kindrdfood team, Lauren was the Sous Chef at Chez Panisse Café in Berkleley, CA. Lauren currently lives in the San Francisco Bay Area with her husband, daughter and Labrador Winston.</p>
				<!-- 			<p>Add food allergy connection</p> -->
				</div>
				<div class="three-column-one">
				<%=image_tag "/assets/team/liz_hait.jpg", class: "img-responsive" %>
					<h3>Elizabeth J. Hait, MD MPH</h3>
					<h4>Co-Founder & Senior Medical Advisor</h4>
					<p>Dr. Elizabeth Hait is an Assistant Professor of Pediatrics at Harvard Medical School in Boston, MA. She currently treats patients at Boston Children’s Hospital, Brigham and Women’s Hospital and Beth Israel Deaconess Hospital, where she is a staff pediatric gastroenterologist. Dr. Hait is the co-medical director of the Eosinophilic Gastrointestinal Diseases program at Boston Children’s Hospital. She teaches at Harvard Medical School and is involved in multiple areas of research including allergic gastrointestinal disorders, inflammatory bowel disease, and GI environmental health exposures. Dr. Hait lives in Needham, MA with her husband and two sons.</p>
				</div>
			</div>
		</section>

		<section class="landing-page-row four-column">
			<div class="four-column-container">
				<h2 class="heading">Business Leadership</h2>
				<div class="four-column-one">
					<%=image_tag "/assets/team/david_constantine.png", class: "img-responsive" %>
					<h3>David Constantine</h3>
					<h4>Co-Founder & Chief Executive Officer</h4>
				</div>
				<div class="four-column-one">
					<%=image_tag "/assets/team/mike_finneran.png", class: "img-responsive" %>
					<h3>Michael Finneran</h3>
					<h4>Co-Founder & VP of Product</h4>
				</div>
				<div class="four-column-one">
					<%=image_tag "/assets/team/bobby_fraher.png", class: "img-responsive" %>
					<h3>Bobby Fraher</h3>
					<h4>Managing Editor & VP of Content</h4>
				</div>
				<div class="four-column-one">
					<div class="crop-image">
						<%=image_tag "/assets/team/alex_sanchez.JPG", class: "img-responsive" %>
					</div>
					<h3>Alexandra Sanchez</h3>
					<h4>Director of Digital Marketing & Content</h4>
				</div>
			</div>
		</section>

		<%= render "/landing_pages/sections/call_to_action_who_we_help" %>
	
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
		<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>