
<div id="more-benefits-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section class="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>For your patients. For your practice. A win win.</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_provider" %>
			</div>
			<div class="left-nav-text-container">
				<h2 class="heading">No cost to you to refer to Kindrdfood.</h2>
				<hr class="small-hr">
				<h3>Take the 1 time only, 5 minutes (or less) and register to refer through our website: </h3>
				<%=link_to "REGISTER", landing_pages_refer_path, class: "btn btn-lg btn-primary" %>
			</div>
		</section>
		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Your patient, our client. </h2>
				<p class="details">Kindrdfood will match your patient with a specialized Kindrd Nutritionist that can help them with the specific needs. There is no special long form for you to fill out with each patient. Just an email, a first name and we’ll take it from there. We gather information from them, and follow up with you so that you have a record of their assessment on file. Co-ordinated, but efficient. You pay nothing. If you register on our site to make these quick referrals, we’ll even give your patient a discount.</p>
				<hr class="small-hr">
				<h3>Light, fast, and effective. </h3>
			</div>
			<div class="two-column-image img-girl-school-lunch">
			</div>
		</section>

		<section class="landing-page-row landing-page-testimonial">
			<div class="testimonial-container">
				<h2>That’s right…as a registered physician, if you refer your patient through the website, we will give them a discount. </h2>
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-provider">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Spare yourself the management. </h2>
				<p class="details">Kindrdfood offers you a team of specialized experts so you do not have to have anyone on staff, or a referral network to keep track of. We’ll take care of matching your patient and make sure that you receive all of the important information and nothing more.</p>
				<hr class="small-hr">
				<h3>It’s just easier. </h3>
			</div>
		</section>

		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Avoid self guided online care. Extend professional guidance into the home.  </h2>
				<p class="details">Many patients supplement the guidance that they receive from their medical provider, with information that they find through a search engine. You can rely on Kindrdfood to offer an outlet for further inquiry and practical challenges. This support can help to avoid misdirection from unqualified sources that people find on their own.</p>
				<hr class="small-hr">
				<h3>A trusted source of guidance. Better. </h3>
			</div>
			<div class="two-column-image img-woman-tablet-rdn-charts">
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-apple-on-desk">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Stay focused in the exam room. </h2>
				<p class="details">With Kindrdfood in your toolbox, you can save exam room time and stay focused on medical challenges. Kindrd Nutritionists are trained to tackle questions and challenges that are more practical, but without losing the strong knowledge of clinical variables.</p>
				<hr class="small-hr">
				<h3>Save time.  </h3>
			</div>
		</section>
		
		<%= render "/landing_pages/sections/call_to_action_benefits" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
	<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>