
<div id="navigate-change-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section id="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Even if it’s your first,<br>this should be your last stop</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_why_kindrdfood" %>
			</div>
			<div class="left-nav-text-container">
				<p class="details">One of the most important things that Kindrdfood does is make sure that our clients have access to the most qualified experts and verified information available. </p>
				<h4 class="heading">End the guessing game. Stick to a source you can trust.</h4>
				<hr class="small-hr">
				<h3>Schedule your first session with a Kindrd Nutritionist.</h3>
				<button class="sign-up-button btn btn-lg btn-primary">SCHEDULE NOW!</button>
			</div>
		</section>


		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">We have the answers for you. </h2>
				<p class="details">There is a lot of information about food and nutrition online. Some of it is good. Some of it isn’t. Some of it is trying to sell you a product and some of it, while good, might not be right for you. We fix that. You are matched with an expert specific to your needs and materials to accompany the guidance that you receive. All verified and high quality.  </p>
				<hr class="small-hr">
				<h3>Confidence restored. No more misinformation. </h3>
			</div>
			<div class="two-column-image img-girl-school-lunch">
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-success-hands">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Get to success faster. </h2>
				<p class="details">Without a guide, taking on change is hard. You first have to fully understand what that change means and looks like for your family, figure out what the new routines and shopping habits are, and then prepare meals that are often completely new and different. Not to mention, getting your family to actually tolerate the new way – yikes! With Kindrdfood in your pocket, we’ll get you up to speed much faster, with the confidence to take on change and expectation of great taste.  </p>
				<hr class="small-hr">
				<h3>Cut through the weeds and get a clear path. </h3>
			</div>
		</section>	

		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">It adds up. Kindrdfood is better.</h2>
				<p class="details">Alternative sources of professional nutrition guidance are not accessible, convenient, or high quality. Location and availability are frequently a challenge, sometimes leaving people in need of insight for months. Often health insurance doesn’t cover the high cost in clinics, and even if it does, extra costs of time off, day care, driving, parking, and other incidentals add up. Kindrdfood takes the guess work out of quality, gives you a single point of contact for 1-on-1 guidance and materials accessible from anywhere at times convenient for you. </p>
				<hr class="small-hr">
				<h3>Confidence restored. Stress away. </h3>
			</div>
			<div class="two-column-image img-mother-relieved">
			</div>
		</section>


		<%= render "/landing_pages/sections/call_to_action_who_we_help" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
		<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>