

<!-- LANDING PAGE INDEX TEMPLATE -->
<div id="kf-landing-page-provider" class="kf-landing-page">

	<!-- LANDING PAGE NAVIGATION -->
	<%= render "/landing_pages/landing_pages_rd_2/navbar" %>

	<!-- LANDING PAGE BODY -->
	<main class="kf-landing-page-sections">

		<!-- LANDING PAGE TOP ROW-->
		<section id="section-video">
			<div class="video-row">
				<div class="video-image">
					<h1>Give your patients the<br>easiest access to high<br>quality support with<br>Kindrdfood</h1>
					<p>Extend coordinated support<br>beyond the clinic with <br>1-on-1 expert guidance through<br>live online video or phone</p>
					<%= link_to "SIGN UP", landing_pages_new_provider_sign_up_page_path, class: "register" %>
					<div class="video-footer">
						<p><%= link_to "Register in less than 2 minutes to make fast referrals", landing_pages_new_provider_sign_up_page_path %></p>
					</div>
				</div>
			</div>
			<div class="section-trusted-guidance">
				<h2>Remote access to a specialized expert guide<br>to help your patients navigate food and nutrition.</h2>
				<div>
					<div>
						<%= image_tag("icons/icon_video_or_phone_green.png") %>
						<h3>CONVENIENT ACCESS BY VIDEO OR PHONE</h3>
						<p>Patients connect live from their kitchen or office.  They can schedule within a few days and meet when they a want, including nights and weekends.</p>
					</div>
					<div>
						<%= image_tag("icons/icon_matching_arrows_green.png") %>
						<h3>MATCHING TO THE RIGHT SPECIALIST</h3>
						<p>We match each patient with a dietitan who's food and nutrition expertise is specifically focused on your patient's diet limiting condition and relation challenges.</p>
					</div>
					<div>
						<%= image_tag("icons/icon_check_mark_green.png") %>
						<h3>TRUSTED GUIDANCE THE 1st TIME AROUND</h3>
						<p>Evidence based guidance and delicious meals begin with the right expert.  Our Dietitians are more than well rounded, but are experts in their areas of specialty.</p>
					</div>
					<div>
						<%= image_tag("icons/icon_recycle.png") %>
						<h3>NUTRITION COORDINATED WITH HEALTHCARE</h3>
						<p>Each patient's nutritoin guidance is coordinated with their helathcare provider and Dietitians send a follow up to the provider after each session.</p>
					</div>
				</div>
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#specialtiesModal">List of our specialties</button>
				<p>Our team of Dietitians are specialists.  They see clients in their few ares of true focused expertise.</p>
			</div>
		</section>
		<section id="section-navigate-food">
			<div>
				<%= image_tag("icons/icon_kf_plus_people.png", class: "infographic-plus-people") %>
				<%= image_tag("icons/icon_arc_left.png", class: "infographic-arc-left") %>
				<h4>FOR PROVIDERS WITH<br>NO OUTPATIENT<BR>NUTRITION SUPPORT</h4>
				<p>Our team is your team.  We offer<br>the full spectrum of spsecialist<br>Dietitians, empowered by<br>Kindrdfood's technology and<br>patient personalization content.</p>

				<%= image_tag("icons/icon_kf_plus_provider.png", class: "infographic-plus-provider") %>
				<%= image_tag("icons/icon_arc_right.png", class: "infographic-arc-right") %>
				<h4>AUGMENT EXISTING<br>OUTPATIENT NUTRITION<br>SUPPORT TO FILL CARE GAPS</h4>
				<p>We help providers who have<br> existing staff by offering<br> patients options for scenarios<br> that are not covered (e.g. out of<br> town, no coverage, no daytime<br> hours, no specialist in house).</p>

				<%= image_tag("icons/icon_provider.png", class: "infographic-provider") %>
				<%= image_tag("icons/icon_arc_bottom.png", class: "infographic-arc-bottom") %>
				<h4>LICENSABLE SOLUTION<br>FOR GULLY OR<br>PARTIALLY STAFFED</h4>
				<p>Arm your team with the best<br> technology system and curated<br> content to support patients'<br> general nutrition and medically limited diets.</p>

				<%= link_to "SIGN UP", landing_pages_new_provider_sign_up_page_path, class: "register" %>
			</div>
		</section>
		<section id="section-guidance">
			<div>
				<h2>Every Provider Using Kindrdfood Can Expect</h2>	
				<div>
					<div>
						<%= image_tag("computers/computer_video_chat.png") %>
					</div>
					<div>
						<ul>
							<li>Easy referral with or without integration into existing workflows</li>
							<li>Easy access to exceptional specialized RDs for patients</li>
							<li>Patients matched with best possible dietitian for their needs</li>
							<li>Patient support coordinated with their provider</li>
							<li>Patient & practicioner interfaces designed specifically for food navigation & nutrition support</li>
						</ul>
						<!-- <p><a href="">How do we match?</a></p> -->
					</div>
				</div>
			</div>
		</section>
		<section id="section-specialization">
			<div>
				<h2>How it works</h2>
				<div>
					<div>
						<p>1.</p>
						<h4>PROVIDER REFERS PATIENT</h4>
						<%= image_tag("icons/icon_stethescope_orange.png") %>
						<p>Kindrdfood team has expertise in nutrition for many different conditions.</p>
					</div>
					<div>
						<p>2.</p>
						<h4>PATIENT IS MATCHED WITH SPECIALIZED RD</h4>
						<%= image_tag("icons/icon_hands_orange.png") %>
						<p>Patient will see a specialist in their condition specific challnges.</p>
					</div>
					<div>
						<p>3.</p>
						<h4>RD GIVES PATIENT GUIDED PATH</h4>
						<%= image_tag("icons/icon_path_orange.png") %>
						<p>Guidance and resources are personalized.  Each patient's journey is different, but always supported.</p>
					</div>
					<div>
						<p>4.</p>
						<h4>FOLLOW UP SENT TO PROVIDER & PATIENT</h4>
						<%= image_tag("icons/icon_papers_orange.png") %>
						<p>Recipes and resources are sent to the patient, and follow up notes are sent to both patient and provider each session.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="section-provider-saying">
			<div>
				<h2>What are providers saying?</h2>
				<blockquote>
					<p>I have a medically complex patient who required a nutritional intervention but did not have access to a local dietitian with knowledge of his disease.<strong> I was extremely impressed with the level of expertise provided by the Kindrd Dietitian</strong> who worked with his family. I am happy to report that the child is now doing very well.<strong> I will definitely refer my patients to Kindrdfood for nutritional guidance</strong>.</p>
					<h3>Athos Bousvaros, MD MPH</h3>
					<p>Associate Chief, Division of Gastroenterology, Hepatology and Nutrition, <strong>BOSTON CHILDREN'S HOSPITAL</strong></p>
					<p>Associate Professor of Pediatrics, <strong>Harvard Medical School</strong></p>
					<p>Past President, <strong>NASPGHAN</strong> (North American Society for Pediatric Gastroenterology, Hepatology & Nutrition)</p>
				</blockquote>
			</div>
		</section>
		<section id="section-experts">
			<div>
				<h2>Meet a few of our experts</h2>
				<p>Our "Kindrdfood Dietitians" are all Registered Dietitians (RDs). <a href="/education/registered-dietitian-vs-nutritionist">What is an RD?</a></p>
				<div>
					<div>
						<h3>Meet<br>Our<br>Experts</h3>
					</div>
					<div>
						<%= image_tag("team/head_shots/head_shot_elise.png") %>
						<p>Elise Steiner<br> MS, RD, LDN</p>
						<button>View Profile</button>
					</div>
					<div>
						<%= image_tag("team/head_shots/head_shot_karen.png") %>
						<p>Karen Warman<br>MS, RD, LDN</p>
						<button>View Profile</button>
					</div>
					<div>
						<%= image_tag("team/head_shots/head_shot_tara.png") %>
						<p>Tara McCarthy<br>MS, RD, LDN</p>
						<button>View Profile</button>
					</div>
				</div>
			</div>
			<div>
				<%= link_to "LEARN MORE ABOUT OUR TEAM", landing_pages_new_leadership_page_path, class: "register" %>
			</div>
		</section>
		<section id="section-provider-solution">
			<div>
				<h2>World Class Nutrition Support for Your Patients</h2>
				<h4>Kindrdfood provides physician practices, hospitals, and ACOs, with a nutrition support solution for patients, making access to the right high quality guidance convenient, cost effective and coordinated with the rest of their health care.</h4>
				<p>(Dietitians are all carefully sleected, specialized and focused on patients witin their specialty.)</p>
				<%= link_to "SIGN UP", landing_pages_new_provider_sign_up_page_path, class: "register" %>
			</div>
		</section>
	</main>

	<!-- LANDING PAGE FOOTER -->
	<%= render "/landing_pages/landing_pages_rd_2/footer" %>

	<!-- 	SPECIALTES MODAL -->
	<%= render "/landing_pages/landing_pages_rd_2/modals/specialties" %>
</div>