<div id="kf-landing-page-provider" class="kf-landing-page">

	<!-- LANDING PAGE NAVIGATION -->
	<%= render "/landing_pages/landing_pages_rd_2/navbar" %>

	<!-- LANDING PAGE BODY -->
	<main class="kf-landing-page-sections">
		<section id="section-video">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_video" %>
		</section>
		<section id="section-navigate-food">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_navigate_food" %>
		</section>
		<section id="section-guidance">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_guidance" %>
		</section>
		<section id="section-specialization">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_specialization" %>
		</section>
		<section id="section-provider-saying">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_provider_saying" %>
		</section>
		<section id="section-experts">
			<%= render "/landing_pages/landing_pages_rd_2/meet_the_experts" %>
		</section>
		<section id="section-provider-solution">
			<%= render "/landing_pages/landing_pages_rd_2/sections_for_provider/section_provider_solution" %>
		</section>
	</main>

	<!-- LANDING PAGE FOOTER -->
	<%= render "/landing_pages/landing_pages_rd_2/footer" %>

	<!-- 	SPECIALTES MODAL -->
	<%= render "/landing_pages/landing_pages_rd_2/modals/specialties" %>
</div>