
<div id="our-solution-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section class="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Bring confidence back to your table.</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav" %>
			</div>
			<div class="left-nav-text-container">
				<p class="details">Benefit from the best guidance available for your family’s food and nutrition regardless of any restrictions that limit the table. To assure great taste and variety while taking into account your family’s personalized characteristics, our team of experts are armed with the best training, experience, materials and recipes that have been reviewed by our executive chef and team of dietitians for quality. Great quality. Great people. Great food.</p>
				<h4 class="heading">Make every meal a pleasure from beginning to end.</h4>
				<hr class="small-hr">
				<h3>Schedule your first session with a Kindrd Nutritionist.</h3>
				<button class="sign-up-button btn btn-lg btn-primary">SCHEDULE NOW!</button>
			</div>
		</section>
		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">1-on-1 experts in food, nutrition and cooking at your fingertips.</h2>
				<p class="details">Connect with a specially matched Kindrd Nutritionist at a time that is convenient for you. Our video conference or phone system allows you to connect from any location.</p>
				<ul>
					<h4><li>Schedule when you want (even within a few days!)</li></h4>
					<h4><li>From anywhere that works for you</li></h4>
					<h4><li>Connect face to face with a specially matched Kindrd Nutritionist</li></h4>
				</ul>
			</div>
			<div class="two-column-image img-mom-and-child-on-laptop">
			</div>
		</section>
		<section class="landing-page-row landing-page-testimonial">
			<div class="testimonial-container">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<h2>Clients enjoy detailed, personalized follow up information and materials from their Kindrd Nutritionist</h2>
				</div>
			</div>
		</section>
		<section class="landing-page-row two-column-center">
			<div class="two-column-container">
				<div class="two-column-one">
					<div class="col-xs-10 col-xs-offset-1">
						<%=image_tag("icons/recipes-mealplans.svg", class: "img-responsive") %>
						<h2 class="heading">Recipes & Meal Plans</h2>
						<p class="details">Personally selected for your family’s preferences and requirements. Everyone at the table, so you are preparing one meal that is healthy, safe and tasty. Meal plans offer an effective, time saving guide to help manage the daily pressure of managing your family’s meals.</p>
					</div>
				</div>
				<div class="two-column-one">
					<div class="col-xs-10 col-xs-offset-1">
						<%=image_tag("icons/supportive-materials.svg", class: "img-responsive")%>
						<h2 class="heading">Supportive Materials</h2>
						<p class="details">Your Kindrd Nutritionist will offer you personalized, relevant materials and follow up assessments to make your guidance actionable and easy to refer back to. This may include information about knowledge and skills, or simply notes capturing the guidance that you receive.
						</p>
					</div>
				</div>

			</div>
		</section>
		<%= render "/landing_pages/sections/call_to_action_benefits" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
		<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>