



<div id="qol-page" class="landing-page container-fluid">
  <div class="row">
  	<div class="col-xs-12 text-left" >
  		<%= image_tag "logos/kf-logo-registration.png", class: "img-responsive" %>
  	</div>
  </div>
	<div class="row">
		<%= render "/layouts/alerts" %>
	</div>
	<div class="row splash-image-section">

		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-5 text-left col-lg-5 left-column">
				<div class="col-xs-12 ">
				<h2>2 FREE sessions* for clients!</h2>
					<p>Kindrdfood helps families with a limited or changing diet, to navigate food more easily and enjoy better meals, by providing personalized, 1-on-1 guidance, remotely through video or by phone.</p>

					<p>This admin site is for QOL Medical  Administrators only. Use of the fields or phone numbers listed on this page are prohibited to all others.</p>
				</div>
				<div class="col-xs-12 alert alert-warning">
					<p>ONLY IF THE CUSTOMER HAS NO ACCESS TO THE INTERNET (to create a profile or schedule) have the customer call (617) 367-2918 to schedule a session.</p>
				</div>
				<div class="col-xs-12">
					<p>Any questions or challenges, please call (617)575-2203 for customer service or technical support. </p>
				</div>
				
		</div>
		<div class="col-xs-12 col-sm-6 outside-form-container">
			<div class="text-center">
				<h3>Administrator actions:</h3>
				<p>To send an invitation, fill out the following fields with the customer’s information and click on the button below</p>
					<%= simple_form_for(@user, as: "user", url: user_registration_path, html: {class: 'row text-left', role:"form" }) do |f| %>

						<div class="form-group col-xs-8 col-xs-offset-2">
							<label for="first-name">First Name</label>
							<%= f.input_field :first_name, autofocus: true, class: "form-control", type: "text", placeholder: "First" %>
						</div>
						<div class="form-group col-xs-8 col-xs-offset-2">
							<label for="last-name">Last Name</label>
							<%= f.input_field :last_name, autofocus: true, class: "form-control", type: "text", placeholder: "Last" %>

						</div>
						<div class="form-group col-xs-8 col-xs-offset-2">
							<label for="email">Email Address</label>
							<%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>
						</div>
							<%= f.hidden_field :qol_referral, value: true %>

						<div class="col-xs-8 col-xs-offset-2 text-right">
							<%= f.button :submit, "Send Invitation", class: "btn btn-primary btn-lg", type: "submit" %>
						</div>
					<% end %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-11 col-sm-offset-1">
			
<h3>Customers qualify for both a complimentary one-hour session and a half-hour follow up session with a Kindrdfood Dietitian (see details below*)</h3>

<p>Customer/Client’s experience after name and email are submitted:</p>
<ul>
<li>Customer receives email with special link to Kindrdfood site.</li>

<li>Customer click the special link to the site.</li>

<li>On the Kindrdfood site from the special link, the customer creates a client profile and selects their best time to meet with a dietitian.</li>

<li>Now considered a client, the client is matched to a Kindrdfood Dietitian based on their specific limitations from their profile.</li>

<li>Client and dietitian connect live at the selected time through video conference on the Kindrdfood website or by phone if necessary.</li>

<li>Follow up materials are personalized to client’s profile.</li>
</ul>


		</div>
	</div>
	<section class="row landing-page-row call-to-action-bar">
		<div class="col-xs-12 col-sm-11 col-sm-offset-1 text-center">
			<%= render "/legal/disclaimers/qol_free_sessions_disclaimer" %>
		</div>
	</section>
	<footer>
		<div>
			<div>
				<p>Kindrdfood does not provide medical advice, diagnosis, or treatment.  See <a class="terms-modal-link" >additional information</a> about <a class="terms-modal-link" >Terms of Service</a> and our <a class="terms-modal-link" >Privacy Policy</a>.</p>
				<p>All materials on this site may not be reproduced, transmitted, cached or otherwise used, except with the prior written permission of Kindrdfood Inc.</p>
				<p>Copyright &copy; 2016 | Kindrdfood Inc.</p>
			</div>
		</div>
	</footer>
	<%= render "/landing_pages/terms_modal" %>
	<%= render "/landing_pages/privacy_modal" %>

</div>



