
<div id="quality-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section id="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Your filter for trustworthy personalized guidance.</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_why_kindrdfood" %>
			</div>
			<div class="left-nav-text-container">
				<p class="details">One of the most important things that Kindrdfood does is make sure that our clients have access to the most qualified experts and verified information available. </p>
				<h4 class="heading">Leave your days of guessing behind. Rely on Kindrdfood.</h4>
				<hr class="small-hr">
				<h3>Schedule your first session with a Kindrd Nutritionist.</h3>
				<button class="sign-up-button btn btn-lg btn-primary">SCHEDULE NOW!</button>
			</div>
		</section>


		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Connect with the right expert. </h2>
				<p class="details">Just like doctors can subspecialize, our nutrition experts have their own subspecialty expertise. Kindrd Nutritionists are all Registered Dietitians, the gold standard for clinical nutrition expertise. Our dietitians are broadly knowledgeable, trained, and experienced, but most have subspecialization in specific medical conditions or dietary restrictions as well. We hire the best people, which you can read more about <%=link_to "here", landing_pages_why_kindrdfood_path, class: "btn btn-link" %>.  You will be matched with the best fit for your specific dietary challenges. </p>
				<hr class="small-hr">
				<h3>Connect to the best and the rest is delicious. </h3>
			</div>
			<div class="two-column-image img-growing-family">
			</div>
		</section>


		<section class="landing-page-row landing-page-testimonial">
			<div class="img-quote-left">
			</div>
			<div class="img-quote-right">
			</div>
			<div class="testimonial-container">
				<h2>"I have a medically complex patient who required a nutritional intervention but did not have access to a local dietitian with knowledge of his disease. I was extremely impressed with the level of expertise provided by the Kindrd Nutritionist who worked with this family. I am happy to report that the child is now doing very well. I will definitely refer my patients to Kindrdfood for nutritional guidance."</h2>
				<h4>- Athos Bousvaros, MD MPH</h4>
				<div class="testimonial-signature">
					<p>Associate Chief Division of Gastroenterology, Hepatology and Nutrition, Boston Children's Hospital </p>
					<p>Associate Professor of Pediatrics, Harvard Medical School</p>
					<p>Past President, North American Society for Pediatric Gastroenterology, Hepatology & Nutrition </p>
				</div>
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-rdns-discussing">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Dietitian verified materials and recipes.</h2>
				<p class="details">Your guidance from a specially matched Kindrd Nutritionist is accompanied by articles, guidance summaries, recipes and meal plans. All are personalized for your family profile, and verified by experts. Materials are reviewed for quality by our dietitians as well as our executive chef and other appropriate experts in food or health (also…not instead of). </p>
				<hr class="small-hr">
				<h3>Information and resources you can trust! Breathe and smile.</h3>
			</div>
		</section>	

		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Dedication to serve you. </h2>
				<p class="details">Kindrdfood is dedicated to helping you and your family. Your Kindrd Nutritionist will work with you to identify personalized goals and create a specific plan to achieve those goals. Customer satisfaction is paramount, so let us know what your challenges are. Beyond that, our team meets frequently to anonymously discuss challenging cases so that we can help each other and improve as a group. </p>
				<hr class="small-hr">
				<h3>As individuals and as a team, we’re here to help you.</h3>
			</div>
			<div class="two-column-image img-woman-tablet-rdn-charts">
			</div>
		</section>

		<section class="landing-page-row landing-page-testimonial">
			<div class="img-quote-left">
			</div>
			<div class="img-quote-right">
			</div>
			<div class="testimonial-container">
				<h2>"KindrdFoods allows me to have a rare glimpse into the real world of my clients.  This, combined with the chef-tested recipes and specific education content, creates a unique relationship that truly helps my clients navigate the world of dietary restrictions."</h2>
				<h4> – Lauren Mayer MS, RDN, LDN </h4>
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-father-son-prep">
			</div>
			<div class="two-column-text">
				<h2 class="heading">No hidden agenda.</h2>
				<p class="details">A lot of health related information and guidance is offered on the internet in order to sell people food and supplements. Even in places that you would think are trustworthy. This upsets us, so we don’t do it. None of our team or information is adulterated by product marketing for food or supplements. We are not promoting food or supplements as any part of our guidance. Our policies do not allow team members to accept food or supplement product endorsement deals (even if there is not direct financial exchange) if they want to work as Kindrd Nutritionists. Period. And our team celebrates this. </p>
				<hr class="small-hr">
				<h3>That’s right. No tricks. </h3>
			</div>
		</section>	


		<%= render "/landing_pages/sections/call_to_action_quality" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
		<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>