


<div id="refer-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_pages_rd_1/landing_page_nav" %>
	<div class="landing-page-body">
		<section class="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h2 class="form-group">Give all of your patients a discount on their first session by registering here and referring through the site!</h2>
			</div>
			<div class="right-splash-column">
				<div>
					
				<%= render "/landing_pages/provider_sign_up_form", :user => @user %>
				<!-- <%#= simple_form_for(@user, as: "user", url: user_registration_path, html: {class: 'row text-left', role:"form" }) do |f| %>

						<div class="form-group col-xs-8 col-xs-offset-2">
							<label for="first-name">First Name</label>
							<%#= f.input_field :first_name, autofocus: true, class: "form-control", type: "text", placeholder: "First" %>
						</div>

						<div class="form-group col-xs-8 col-xs-offset-2">
							<label for="email">Email Address</label>
							<%#= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>
						</div>
							<%#= f.hidden_field :patient_referral, value: true %>

						<div class="col-xs-8 col-xs-offset-2 text-right">
							<%#= f.button :submit, "REGISTER NOW", class: "btn btn-primary btn-lg", type: "submit" %>
						</div>
					<%# end %> -->
	<!-- 				<div class="col-xs-12 alert alert-success">
						<h4>Clients receive discounted session rates</h4>
						<h4>Kindrd Nutritionist session follow up by fax or email</h4>
						<h4>Recipes, articles, and educational content</h4>
					</div> -->

				</div>
			</div> 
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav_provider" %>
			</div>
			<div class="left-nav-text-container">
				<h2 class="heading">No cost to you to refer to Kindrdfood.</h2>
				<hr class="small-hr">
				<h3>Take the 1 time only, 5 minutes (or less) and register to refer through our website: </h3>

			</div>
		</section>


	</div>
	<%= render "/landing_pages/landing_pages_rd_1/landing_page_footer" %>
	<%= render "/landing_pages/sign_up_modal", user: @user %>
	<%= render "/landing_pages/provider_sign_up_modal", user: @user %>
</div>