
<div id="results-landing-page" class="landing-page">
	<%= render "/landing_pages/landing_page_nav" %>
	<div class="landing-page-body">
		<section class="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Get rid of daily stress<br>Reclaim your meals</h1>
			</div>
		</section>
		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav" %>
			</div>
			<div class="left-nav-text-container">
				<p class="details">Kindrdfood offers you a new way to approach food with knowledge and confidence, based on personalized guidance and materials you can trust. We carefully pair each new client with the best match on our team of experts, based on their family profile and challenges.  Your specially matched Kindrd Nutritionist delivers personalized guidance through live video sessions and materials that can make taking on change and the day to day challenges easier, healthier and full of variety.</p>
				<h4 class="heading">Great taste and variety with ease.</h4>
				<hr class="small-hr">
				<h3>Schedule your first session with a Kindrd Nutritionist.</h3>
				<button class="sign-up-button btn btn-lg btn-primary">SCHEDULE NOW!</button>
			</div>
		</section>
		<section class="landing-page-row three-column">
			<div class="three-column-container">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<h2 class="heading">Everything you need for day to day ease. We’re always here as your family grows and changes.</h2>
				</div>
				<div class="three-column-one">
					<%=image_tag "/assets/people/food-labels.jpg", class: "img-responsive" %>
					<h3>Gain Knowledge</h3>
					<p>Understand what you need to select, prepare and enjoy your food. We help you manage any change or challenge. </p>
					<ul>
						<h4><li>Navigate food with specific conditions & limitations
						</li></h4>
						<h4><li>Evaluate foods by label
						</li></h4>
						<h4><li>Trustworthy guidance filtered for you by experts
						</li></h4>
<!-- 						<h4><li>What foods are safe and not safe
						</li></h4> -->
						<h4><li>Understand popular nutrition trends
						</li></h4>
						<h4><li>Manage a special diet (including elimination)
						</li></h4>
						<h4><li>Learn about types of food and food sources
						</li></h4>
<!-- 						<h4><li>How to make cooking an easier addition to the day
						</li></h4> -->
<!-- 						<h4><li>Strategies for picky eaters
						</li></h4> -->
						<h4><li>Infant feeding and transition to solids
						</li></h4>
<!-- 						<h4><li>Transition to solids
						</li></h4> -->
						<h4><li>New diagnoses impact on food
						</li></h4>
						<h4><li>Strategies for family change and picky eaters
						</li></h4>
					</ul>
				</div>
				<div class="three-column-one">
					<%=image_tag "/assets/people/man-spices.jpg", class: "img-responsive" %>
					<h3>Build Skills</h3>
					<p>Develop and expand your comfort and proficiency in the kitchen, at the market and at your table. </p>
					<ul>
						<h4><li>Improve cooking for any starting point
						</li></h4>
						<h4><li>Make a new recipe a go-to
						</li></h4>
						<h4><li>Stock your kitchen for easy and safe prep
						</li></h4>
						<h4><li>Help family/friends understand your needs
						</li></h4>
						<h4><li>Understand product differences
						</li></h4>
						<h4><li>Learn to identify product marketing
						</li></h4>
						<h4><li>Help family members change habits
						</li></h4>
						<h4><li>Talk about nutrition with your doctor
						</li></h4>
						<h4><li>Time saving plans and methods
						</li></h4>

					</ul>
				</div>
				<div class="three-column-one">
				<%=image_tag "/assets/people/girl-counter-eating.jpg", class: "img-responsive" %>
					<h3>Eat With Confidence</h3>
					<p>Know you’re putting food on the table that will nourish your family.</p>
					<ul>
						<h4><li>Get rid of stress
						</li></h4>
						<h4><li>Develop comfort in the kitchen
						</li></h4>
						<h4><li>Trust your guidance and information
						</li></h4>
						<h4><li>Know that your specially matched expert has your back 
						</li></h4>
						<h4><li>Have a list of go-to recipes and meal plans at the ready
						</li></h4>
						<h4><li>Trust your knowledge of safe and healthy products
						</li></h4>
						<h4><li>Know what matters with friends and family
						</li></h4>
						<h4><li>We will keep you up to date on food and nutrition topics relevant to you
						</li></h4>
					</ul>
				</div>
			</div>
		</section>

		<%= render "/landing_pages/sections/call_to_action_benefits" %>
	</div>
	<%= render "/landing_pages/landing_page_footer" %>
		<%= render "/landing_pages/sign_up_modal", user: @user %>
</div>