
<div id="who-we-help-landing-page" class="landing-page">

	<%= render "/landing_pages/landing_page_nav" %>

	<div class="landing-page-body">

		<section class="alerts-container">

			<%= render "/layouts/alerts" %>
			
		</section>

		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Your family, with every challenge and preference can enjoy the best food</h1>
			</div>
		</section>

		<section class="landing-page-row left-navigation">
			<div class="left-nav-container">
				<%= render "/landing_pages/sections/left_nav" %>
			</div>
			<div class="left-nav-text-container">
				<h2 class="heading">Get the best guidance for your unique preferences and challenges.</h2>
	
				<hr class="small-hr">
				<h3>Schedule your first session with a Kindrd Nutritionist.</h3>
				<button class="sign-up-button btn btn-lg btn-primary">SCHEDULE NOW!</button>
			</div>
		</section>

		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Your growing family should have the best support. </h2>
				<p class="details">
					Even with a healthy family, getting a great tasting meal around the table can be quite a challenge. Kindrdfood provides support you need to help your family enjoy better meals that are healthy for your specific family make up. 
				</p>
				<ul>
					<h4><li>Baby on the way
					</li></h4>
					<h4><li>Infant at home
					</li></h4>
					<h4><li>Breast feeding; transition to solids; picky eaters
					</li></h4>
					<h4><li>Starting school; managing sports; away at camp; off to college
					</li></h4>
				</ul>
				<hr class="small-hr">
				<h3>Great taste and variety, at every stage of life.</h3>
			</div>
			<div class="two-column-image img-growing-family">
			</div>
		</section>

		<section class="landing-page-row landing-page-testimonial">
			<div class="img-quote-left">
			</div>
			<div class="img-quote-right">
			</div>
			<div class="testimonial-container">
				<h3>“I feel so much stronger and more confident after every conversation with my Kindrd Nutritionist.<br>And, of course, that always translates to a positive for my child.”</h3>
				<h4> – Vicki </h4>
			</div>
		</section>

		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-child-eating">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Navigate allergies or intolerances with ease. </h2>
				<p class="details">
					Medical dietary restrictions can be overwhelming. Learning what you need to, in order to choose the right products and feel capable to feed yourself and your family can be daunting without the right guidance. Complex dietary restrictions? No problem – Kindrd Nutritionists are trained to provide guidance for even the most complicated dietary restrictions. They are armed with validated materials and great recipes for any skill level to jump start a more fulfilling experience with food, everyday. In the end, your family should enjoy great food regardless of what may limit your table.
				</p>
				<ul>
					<h4><li>One or many allergies, intolerances and sensitivities
					</li></h4>
					<h4><li>Several limitations at the table
					</li></h4>
					<h4><li>
					Celiac disease or rare conditions like EoE, FPIES, or CSID
					</li></h4>
				</ul>
				<hr class="small-hr">
				<h3>Great taste and variety, at every stage of life.</h3>
			</div>
		</section>

		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Medical conditions present practical challenges for your plate.</h2>
				<p class="details">
					Your family may have great medical care, but when you get home and have to eat with limitations, the practical challenges can be stressful. With Kindrdfood as your partner, you can gain knowledge, skills and a collection of personalized recipes that help you enjoy a variety of safe, healthy great tasting food.
				</p>
				<ul>
					<h4><li>Adult or pediatric conditions 
					</li></h4>
					<h4><li>Temporary conditions, such as allergic colitis
					</li></h4>
					<h4><li>Symptoms that you’ve been to your doctor about
					</li></h4>
					<h4><li>Chronic conditions like diabetes, Inflammatory Bowel Disease (Crohn’s, colitis), Irritable Bowel Syndrome, and others
					</li></h4>
				</ul>
				<hr class="small-hr">
				<h3>Great taste and variety, at every stage of life.</h3>
			</div>
			<div class="two-column-image img-mother-daughter-eating">
			</div>
		</section>
		<section class="landing-page-row landing-page-testimonial">
			<div class="testimonial-container">
				<h2>We are with you every step of the way as you reach your goals.</h2>
			</div>
		</section>
		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-baking">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Improve taste, variety, and quality of your food. With or without a health goal in mind.</h2>
				<p class="details">
						Changing the way that you and your family eat, for any reason, can be a stressful, cyclic challenge. Ups and downs with nobody to help can leave you considering giving up. You can navigate change more easily with Kindrdfood. Our expert team and filtered, high quality materials and recipes will have you on the road to success. 
				</p>
				<ul>
					<h4><li>Improve the quality of food you and your family eat
					</li></h4>
					<h4><li>Demand better taste and more variety
					</li></h4>
					<h4><li>Navigate food with a guide and an expert filter
					</li></h4>
					<h4><li>Weight management (trying to lose or gain)
					</li></h4>
				</ul>
				<hr class="small-hr">
				<h3>Get rid of the stress. We’ll light your path.</h3>
			</div>
		</section>



		<%= render "/landing_pages/sections/call_to_action_why_kf" %>

	</div>

	<%= render "/landing_pages/landing_page_footer" %>
		
	<%= render "/landing_pages/sign_up_modal", user: @user %>

</div>