<div>
	<h2>Personal stories from Kindrdfood Clients</h2>
	<div>
		<div>
			<h3>Client<br>Success<br>Stories</h3>
		</div>
		<div>
			<%= image_tag("children/kristie_mother_with_children.png") %>
			<p>Kristie's Story</p>
			<%= link_to "Read Story", '/education/food-allergies-our-familys-unexpected-journey', class: "register" %>
			
		</div>
		<div>
			<%= image_tag("children/baby_with_fpies.png") %>
			<p>Chandler's Story</p>
			<%= link_to "Read Story", '/education/food-friend-or-foe', class: "register" %>
		</div>
		<div>
			<%= image_tag("children/girl_studying_with_apple.png") %>
			<p>Sarah's Story</p>
			<%= link_to "Read Story", '/education/ulcerative-colitis-living-with-and-learning-from-chronic-disease', class: "register" %>

		</div>
	</div>
</div>