<div>
	<div>
		<div>
			<%= image_tag("computers/computer_video_chat.png") %>
		</div>
		<div>
			<h2>Expert specialized guidance<br>at your convenience</h2>
			<ul>
				<li>Matched with a specialized Dietitian: <br><strong><em>your</em> Kindrdfood Dietitian</strong></li>
				<li>Convenient, flexible scheduling</li>
				<li>Connect within a few days</li>
				<li>Live 1-on-1 online video or by phone</li>
				<li>Coordinated with your physician</li>
			</ul>
			<h4><%=link_to "How do we match you?", landing_pages_new_faq_page_path %></h4>
		</div>
	</div>
	<div>
		<div>
			<h3>Personalized recipes and guidance materials</h3>
			<ul>
				<li>Developed by our Executive Chef and our team of Dietitians</li>
				<li>Tested, verified, and personalized for you</li>
				<li>Meals for all types of limited diets</li>
			</ul>
			<p>(If we don't already have recipes that fit your family's diet, we make them just for you!)</p>
		</div>
		<div>
			<h3>Try these recipes for FREE!</h3>
			<div>
				<div>
					<a href="http://www.kindrdfood.com/education/roasted-ratatouille">
						<%= image_tag("https://kindrd-pics.s3.amazonaws.com/uploads/ckeditor/pictures/133/content_PH00231___roasted_ratatouille.png_.png") %>
						<p>Roasted Ratatouille</p>
					</a>
				</div>
				<div>
				  <a href="/education/basic-frittata-plus-3-variations">
						<%= image_tag("https://kindrd-pics.s3.amazonaws.com/uploads/ckeditor/pictures/135/content_RP00271_-_fritatta.png") %>
						<p>Basic Frittata<br>(plus 3 variations)</p>
					</a>
				</div>
				<div>
				  <a href="/education/black-bean-brownies">
						<%= image_tag("https://kindrd-pics.s3.amazonaws.com/uploads/ckeditor/pictures/132/content_brownie.png") %>
						<p>Black Bean Brownies</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>