<div class="basic-info-form">
  <div id="review-recipe-name" class="col-xs-12 form-group">
    <label>What would you like the name of your recipe to be?</label>
    <%= simple_form_for [@quality_reviewable, @quality_review, @possible_review_conflicts["recipe-name"]], :remote => true, :html => {:multipart => true} do |f| %>
      <input type="text" class="recipe-name-autofill form-control" id="recipe-name" placeholder="Enter recipe name here" name="review_conflict[first_suggestion]" value="<%=@recipe.name%>" data-autocomplete_source="<%=@all_recipe_names%>">
      <div class="form-group">
        <%= f.input :category, as: :hidden, :input_html => { :value => "Basic Info" }%>
        <%= f.input :item, as: :hidden, :input_html => { :value => "recipe-name" }%>
        <%= f.input :original_entry, as: :hidden, :input_html => { :value => @quality_reviewable.name }%>
      </div>
      <div class=" col-xs-12 form-group">
        <%= f.collection_radio_buttons :risk_level, [["Dangerous", 4], ["High Risk", 3], ["Low Risk", 2], ["No Risk", 1]], :last, :first, :item_wrapper_class=>"form-control" %>
      </div>
      <textarea class="form-control form-group" placeholder="Why did you make this improvement?" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
      <div class=" col-xs-12 form-group text-center"> 
        <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
      </div> 
    <% end %>
  </div>
</div>