

<!-- LANDING PAGE INDEX TEMPLATE -->
<div id="kf-landing-page-sign-up" class="kf-landing-page">
	<!-- LANDING PAGE NAVIGATION -->
	<%= render "/landing_pages/landing_pages_rd_2/navbar" %>
	<div class="kf-landing-page-sections">
		<h1>Get the support you deserve</h1>
		
		<p>New user? <%= link_to 'Create an account.', landing_pages_new_sign_up_page_path %></p>	

		<div>
			<div>
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {role:"form" }) do |f| %>

					<%= render "/layouts/alerts" %>

				  <div class="form-group">
				    <label for="email">Email</label>
				    <%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>
				  </div>
				  <div class="form-group">
				    <label for="first-name">Password</label>
				    <%= f.password_field :password, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
				  </div>
				  <div class="form-group">
				    <label for="last-name">Confirm password</label>
				    <%= f.password_field :password_confirmation, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
				  </div>
					<!-- <div class="form-group">
				  	<p>I agree to the <a href="">Terms of Service</a></p>
				  </div>

					<div class="col-xs-8 col-xs-offset-2 text-right">
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"><span class="white-font"> Remember </span>
					    </label>
					  </div>
					</div> -->
				  <div class="text-center">
				    <%= f.button :submit, "SIGN IN", class: "btn btn-primary btn-lg", type: "submit" %>
				  </div>
					
					<div class="text-right">
					<%#= render "users/shared/links" %>
						<!-- 				snippet from shared/links, should be made into a partial -->
						<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'  %>
						  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
						<% end -%>
						<!-- 				snippet from shared/links, should be made into a partial -->
					</div>
				<% end %>
				
			</div>
		</div>
		<p>You will receive system related email with this account.</p>
		<p>Need help? Email <a href="mailto:customer.service@kindrdfood.com">customer.service@kindrdfood.com</a></p>
	</div>
	
	<!-- LANDING PAGE FOOTER -->
	<%= render "/landing_pages/landing_pages_rd_2/footer" %>

	<!-- LANDING PAGE SIGN UP MODAL -->
	<%#= render "/landing_pages/sign_up_modal", user: @user %>
</div>