<div id="steps-container">
  <div class="row text-left active-preview-info"> 
    <h3 class="active-preview-heading">Steps: <span class="small-font">(click and drag step to re-order)</span></h3>
    <div class="col-xs-12">
    <% if @steps %>
      <ol id="sortable" data-update-url="<%= sort_recipe_steps_url %>">
        <% @steps.each do | step | %>
          <li class="col-xs-12" id="steps_<%=step.id%>"> 
            <h4 class="ingredient-preview">
              <%= link_to edit_recipe_step_path(step ,recipe_id: @recipe_id), :remote => true  do %>
                <span class='glyphicon glyphicon-edit'></span>
              <% end %> 
              <%=step.directions%>
              <%= link_to step, :confirm => 'Are you sure?', method: :delete, remote: true, class: 'btn btn-sm btn-danger' do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </h4>
            <p> <span class="main-tag text-left">
              <% step.ingredients_recipes.each do |ingredient|%>
                <%= ingredient.display_name %>
              <% end %></span></p>
          </li>
        <% end %>
      </ol>
    <% end %>
    </div> 
  </div> 
</div>
