<div id="steps-container">
  <div class="row text-left active-preview-info"> 
    <h3 class="active-preview-heading">Steps: <span class="small-font">(click and drag step to re-order)</span></h3>

    <%@steps_by_group.each do |group, steps| %>
      <div class="col-xs-offset-1 col-xs-10">
        <h5><%=group%></h5>
      </div>
      <div class="col-xs-12">
        <% if steps %>
          <ol class="steps-sortable" data-update-url="<%= sort_recipe_steps_url(group_name: group) %>">
            <% steps.each do | step | %>
              <li id="steps_<%=step.id%>"> 
                <h4 class="ingredient-preview">
                  <%= link_to edit_recipe_step_path(step ,recipe_id: @recipe_id), :remote => true  do %>
                    <span class='glyphicon glyphicon-edit'></span>
                  <% end %> 
                  <%=step.directions%>
                  <%= link_to step, :confirm => 'Are you sure?', method: :delete, remote: true, class: 'btn btn-sm btn-danger' do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </h4>
                <div class="row ingredients-in-step-container">
                  <% step.ingredients_recipes.each do |ingredient|%>
                    <div class="ingredient-in-step"><%= ingredient.display_name %></div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div> 
    <% end %>


  </div> 
</div>
