<div class="container" id="ingredient-form">
	<div class="row">
		<div class="recipe-form-section row" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message"><span class="attribute-title"><%= @recipe.name.upcase %></span></h1>
		</div>
		<div class="row button-row recipe-form-section">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<%= link_to "Add Step", new_recipe_step_path(recipe_id: @recipe_id), id: "add-recipe-step", class: "btn btn-default btn-lg kindrd-button", remote: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
				<div id="recipe-step-form-container">
				</div>
			</div>
		</div>
		<div class="row button-row" id="recipe-steps-container">	
			<% @recipe.recipe_steps.each do |recipe_step| %>
			<div class="col-xs-3 ingredient-list" id="recipe-step-<%=recipe_step.id%>">
				<p><span class="attribute-title white-font">Step #<%= recipe_step.step_number%></span></p>
				<p><span class="white-font">Directions:</span></p> 
				<p class="recipe-step-item light-green-font"><%= recipe_step.directions%></p>
				<p><span class="white-font">Ingredients in Step:</span></p>
				<% recipe_step.ingredients.each do |ingredient| %>
					<p class="recipe-step-item light-green-font">	<%= ingredient.name %></p>
				<% end %>
				<%= link_to "Edit", edit_recipe_step_path(recipe_step, recipe_id: @recipe_id.to_i), class: "edit-recipe-step", remote: true %>
				<%= link_to "(remove)", recipe_step, method: :delete, data: {confirm: "Are you sure?"}, class: "remove-step", remote: true %>
			</div>
			<% end %>
		</div>
		<div class="row button-row text-center" id="ingredient-comment-row">
			<p>Once all of the steps have been added,</p>
			<p>please save.</p>
		</div>
		<div class="row recipe-form-section">
			<div class="col-xs-4"></div>
			<div class="col-xs-4 recipe-form-section-submit actions green-button">
				<%= link_to "Save Steps", edit_recipe_group_path(id: @recipe_id), class: "btn btn-lg", id: "review-ingredients"%>
			</div>
		</div>
	</div>
</div>