<h2>Kindrdfood is flexible for providers:<br>3 ways to implement support for patients</h2>
<p>We work with healthcare providers of all sizes - from individual practices to hospitals to large ACOs</p>
<div class="infographic">
	<%#= image_tag("infographics/infographic_providers.png", class: "infographic-providers") %>
	<%= image_tag("logos/kindrdfood-carrot.png", class: "infographic-logo-center") %>
	<%= image_tag("icons/icon_kf_plus_people.png", class: "infographic-plus-people") %>
	<%= image_tag("icons/icon_arc_left.png", class: "infographic-arc-left") %>
	<h4>FOR PROVIDERS WITH<br>NO OUTPATIENT<BR>NUTRITION SUPPORT</h4>
	<p>Our team is your team.  We offer<br>the full spectrum of specialist<br>dietitians, empowered by<br>Kindrdfood's technology and<br>patient personalization content.</p>

	<%= image_tag("icons/icon_kf_plus_provider.png", class: "infographic-plus-provider") %>
	<%= image_tag("icons/icon_arc_right.png", class: "infographic-arc-right") %>
	<h4>AUGMENT EXISTING<br>OUTPATIENT NUTRITION<br>SUPPORT TO FILL CARE GAPS</h4>
	<p>We help providers who have<br> existing staff by offering<br> patients options for scenarios<br> that are not covered (e.g. out of<br> town, no coverage, no daytime<br> hours, no specialist in house).</p>

	<%= image_tag("icons/icon_provider.png", class: "infographic-provider") %>
	<%= image_tag("icons/icon_arc_bottom.png", class: "infographic-arc-bottom") %>
	<h4>LICENSABLE SOLUTION<br>WHETHER FULLY OR<br>PARTIALLY STAFFED</h4>
	<p>Arm your team with the best<br> technology system and curated<br> content to support patients'<br> general nutrition and medically limited diets.</p>

	<%= link_to "SIGN UP", landing_pages_new_provider_sign_up_page_path, class: "register" %>
</div>