
<!-- USER DASHBOARD aka WELCOME PAGE -->

<div id="welcome-page" class="container-fluid">
	<div class="row-fluid">

		<!-- USER NAV-->
		<%= render "/layouts/navbars/user_nav" %>

		<main class="col-xs-12 col-sm-10 col-sm-offset-2">

			<!-- ALERTS-->
		  <section class="alerts-container">
          <%= render "/layouts/alerts" %>
      </section>

			<!-- APPOUINTMENT PREP  -->
			<section class="content-container">
        <h2 class="modal-title">Appointment Prep</h2>
	      <div class="row form-group">
	        <div class="col-xs-12 form-group">   
	          <%= render "/surveys/survey_templates/appt_overview", surveyable: surveyable %>


            <h3>Update <%= surveyable.patient_focus.first_name%>'s most recent height and weight</h3>
            <%= render "/growth_entries/form", growth_chart: growth_chart, growth_entry: growth_entry %>
						<table class="table growth-entries-table table-condensed"></table>

            <h3>Add what <%= surveyable.patient_focus.first_name%> ate yesterday</h3>
            <%= render "/food_diary_entries/form", food_diary: food_diary, food_diary_entry: food_diary_entry %>
            <table class="table food-diary-table"></table>

            <h3>Help your Kindrd Nutritionist prepare.</h3>
            <%= render "/surveys/form", surveyable: surveyable, survey: survey, survey_group: survey_group, remote_boolean: false  %>
	        </div>
	      </div>
			</section>


		</main>
		<div class="col-xs-12 col-sm-10 col-sm-offset-2">
			<%=render "/layouts/footers/main_footer" %>
		</div>
	</div>
</div>

<!-- RESCHEDULE MODAL -->
<%=render "legal/disclaimers/reschedule_cancellation" %>

<!-- CONTACT US MODAL -->
<%=render "welcome/home/contact_us_modal" %>