
<% @surveyable ||= surveyable %>
<% @survey = @dietitian_survey %>

<%= form_for [@surveyable, @survey], remote: true do |f| %>
  <% if @survey.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="survey-questions-container" class="row">
      <div id="survey-question-container-<%=@survey.questions.order("position")[0].id%>"class="col-xs-12">
        <div class="col-xs-12">
        <h3>Client History and Concerns</h3>
          <textarea class="form-control form-group" placeholder="Enter your response here." name="questions[<%=@survey.questions.order("position")[0].id%>]" rows="4" required>
            <%= @survey.questions.order("position")[0].answer %>
          </textarea>
        </div>
        <div id="growth-info-container" class="col-xs-12">
          <h3>Growth</h3>
          <table class="table table-bordered table-condensed">
            <tbody>
            <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>% for age</th>
                <th>Z Score</th>
              </tr>
              </thead>
              <tr>
                <td>Length/Height (cm)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[1].id%>]" value="<%=@survey.questions.order("position")[1].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[2].id%>]" value="<%=@survey.questions.order("position")[2].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[3].id%>]" value="<%=@survey.questions.order("position")[3].answer%>" required/></td>
              </tr>
              <tr>
                <td>Weight (oz)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[4].id%>]" value="<%=@survey.questions.order("position")[4].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[5].id%>]" value="<%=@survey.questions.order("position")[5].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[6].id%>]" value="<%=@survey.questions.order("position")[6].answer%>" required/></td>
              </tr>
              <tr>
                <td>BMI</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[7].id%>]" value="<%=@survey.questions.order("position")[7].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[8].id%>]" value="<%=@survey.questions.order("position")[8].answer%>" required/></td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[9].id%>]" value="<%=@survey.questions.order("position")[9].answer%>" required/></td>
              </tr>
            </tbody>
          </table>
          <h3>Estimated Needs</h3>
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <td>Energy EER (calories/day)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[10].id%>]" value="<%=@survey.questions.order("position")[10].answer%>" required/></td>
              </tr>
              <tr>
                <td>Fluid (oz/day)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[11].id%>]" value="<%=@survey.questions.order("position")[11].answer%>" required/></td>
              </tr>
              <tr>
                <td>Protein RDA (oz/day)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[12].id%>]" value="<%=@survey.questions.order("position")[12].answer%>" required/></td>
              </tr>
              <tr>
                <td>Protein EAR (oz/day)</td>
                <td><input type="number" class="form-control" name="questions[<%=@survey.questions.order("position")[13].id%>]" value="<%=@survey.questions.order("position")[13].answer%>" required/></td>
              </tr>

            </tbody>
          </table>
          <div class="col-xs-12">
            <h3>Assessment and Plan</h3>
            <textarea class="form-control form-group" placeholder="Enter your response here." name="questions[<%=@survey.questions.order("position")[14].id%>]" rows="4" required>
              <%= @survey.questions.order("position")[14].answer %>
            </textarea>
          </div>
        </div>
        <%=f.hidden_field :completed, value: true %>
      </div>
  </div>
  <div class="row">
    <div class="actions col-xs-4 col-xs-offset-4 text-center">
      <%= f.submit "Save", class: "btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>