        <div class="col-xs-12">
          <h3>History and Concerns</h3>
          <p><%= @dietitian_pre_appt_survey[0].answer %></p>
        </div>
        <div id="growth-info-container" class="col-xs-12">
          <h3>Growth</h3>
          <table class="table table-bordered table-condensed">
            <tbody>
            <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>% for age</th>
                <th>Z Score</th>
              </tr>
              </thead>
              <tr>
                <td>Length/Height (cm)</td>
                <td><%=@dietitian_pre_appt_survey[1].answer%></td>
                <td><%=@dietitian_pre_appt_survey[2].answer%></td>
                <td><%=@dietitian_pre_appt_survey[3].answer%></td>
              </tr>
              <tr>
                <td>Weight (kg)</td>
                <td><%=@dietitian_pre_appt_survey[4].answer%></td>
                <td><%=@dietitian_pre_appt_survey[5].answer%></td>
                <td><%=@dietitian_pre_appt_survey[6].answer%></td>
              </tr>
              <tr>
                <td>BMI</td>
                <td><%=@dietitian_pre_appt_survey[7].answer%></td>
                <td><%=@dietitian_pre_appt_survey[8].answer%></td>
                <td><%=@dietitian_pre_appt_survey[9].answer%></td>
              </tr>
            </tbody>
          </table>
          <h3>Estimated Needs</h3>
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <td>Energy EER (calories/day)</td>
                <td><%=@dietitian_pre_appt_survey[10].answer%></td>
              </tr>
              <tr>
                <td>Protein RDA (g/day)</td>
                <td><%=@dietitian_pre_appt_survey[11].answer%></td>
              </tr>
              <tr>
                <td>Fluid (mL/day)</td>
                <td><%=@dietitian_pre_appt_survey[12].answer%></td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12">
            <h3>Assessment and Plan</h3>
            <p><%=@dietitian_pre_appt_survey[13].answer%></p>
          </div>
        </div>