<div id="welcome-page" class="container-fluid">
		<div class="row-fluid">

			<%= render "/layouts/navbars/dietitian_nav" %>

      <main class="col-xs-12 col-sm-10 col-sm-offset-2">
       <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h3 class="header">Overview</h3> 
          <div class="row">
            <div class="col-xs-4">
              <h4>Date:</h4>
              <p><%= surveyable.start_time_date %></p>
            </div>
            <div class="col-xs-4">
              <h4>Time:</h4>
              <p><%= surveyable.start_time_time%></p>
            </div>
            <div class="col-xs-4">
              <h4>Client Time Zone:</h4>
              <p><%= surveyable.appointment_host_time_zone %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <h4>Client:</h4>
              <p><%= surveyable.appointment_host_full_name%></p>
            </div>
            <div class="col-xs-4">
              <h4>Appointment Focus:</h4>
              <p><%= surveyable.patient_focus_full_name%></p>
            </div>
            <div class="col-xs-4">
              <h4>KRDN:</h4>
              <p><%= surveyable.dietitian.first_name%> <%= surveyable.dietitian.last_name%></p>
            </div>
          </div>
        </section>
        <hr>
        <section>
          <h3 class="header">Pre Appointment Questionnaire</h3>
          <%= render "/surveys/survey_answers", survey: survey%>
        </section>
        <hr>
          <h3 class="header">The <%= surveyable.appointment_host.last_name %> Family</h3>
          <%= render "/families/show", family: family, surveyable: surveyable %>
        <hr>
        <section>
          <h3 class="header">Appointment Prep Notes</h3>
          <%= render "/surveys/form", surveyable: surveyable, survey: dietitian_survey, survey_group: survey_group, remote_boolean: false %>

        </section>

      </main>
			<div class="col-xs-12 col-sm-10 col-sm-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>


