<div id="marketing-item-<%=marketing_item.id%>" class="title-form col-xs-12">
  <%= simple_form_for [@quality_reviewable, @quality_review, @possible_review_conflicts["marketing-item-#{marketing_item.id}"]], :remote => true, :html => {:multipart => true} do |f| %>
  <div class="col-xs-9 form-group">
    <% if marketing_item_type == "title" %>
    <%= f.input :first_suggestion, label: "Recipe Title", input_html: { class: "form-control", placeholder: "Gluten Free Pasta Primavera", value: marketing_item.content} %>
    <% else %>
    <%= f.input :first_suggestion, label: "Recipe Description", input_html: { class: "form-control", placeholder: "Gluten Free Pasta Primavera", value: marketing_item.content} %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.input :category, as: :hidden, :input_html => { :value => "Marketing Item" }%>
    <%= f.input :item, as: :hidden, :input_html => { :value => "marketing-item-#{marketing_item.id}" }%>
    <%= f.input :original_entry, as: :hidden, :input_html => { :value => marketing_item.content }%>
  </div>
  <div class=" col-xs-12 form-group">
    <%= f.collection_radio_buttons :risk_level, [["High Risk", 300], ["Medium Risk", 200], ["Low Risk", 100]], :last, :first, :item_wrapper_class=>"form-control", :checked => (["Low Risk", 100])%>
  </div>
  <textarea class="form-control form-group" placeholder="Why did you make this improvement?" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
  <div class=" col-xs-12 form-group text-center"> 
    <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
  </div> 
  <% end %>
</div>