<div id="allergen-<%=ingredient.id%>">
  <%= simple_form_for [@quality_reviewable, @quality_review, @possible_review_conflicts["allergen-#{ingredient.id}"]], :remote => true, :html => {:multipart => true} do |f| %>
    <div class=" form-group row text-center">
      <div class="col-xs-12">
        <h2>Identify all allergens for:</h2>
      </div>
      <div class="form-group col-xs-12">
        <h1> <%=ingredient.name%></h1>
      </div>
      <div class="form-group col-xs-12">
        <div class="col-xs-12 text-left alert alert-warning">
          <label>Is <%=ingredient.name%> an allergen that is found in other ingredients? 
          <% if ingredient.common_allergen == true %>
            <label class="light-orange-font">
              <input type="checkbox" name="review_conflict[first_suggestion][common]" value="true" checked>
              yes
            </label>
          <% else %>
            <label class="light-orange-font">
              <input type="checkbox" name="review_conflict[first_suggestion][common]" value="true">
              yes
            </label>
          <% end %>
          </label>
          <p>Examples:</p>
          <p>YES: avocado , strawberry, rice</p>   
          <p>NO: guocamole, strawberry jam, rice pasta </p>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="col-xs-12 text-left">
          <label>People with aversions to the following should avoid <%=ingredient.name%>:</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-left">
          <ul>
            <% @ingredients_allergens_hash[ingredient].each do |allergen| %>
              <% if allergen != ingredient.name %>
                <li>
                    <%= check_box_tag "review_conflict[first_suggestion][allergens][]", allergen, {:checked => "checked"}  %>
                    <%= h allergen %>
                </li>
              <% else %>
                <li>
                    <%= check_box_tag "review_conflict[first_suggestion][allergens][]", allergen, {:checked => "checked"}, disabled: true %>
                    <%= h allergen %>
                    <input type="hidden" name="review_conflict[first_suggestion][allergens][]" value="<%=allergen%>">
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="form-group col-xs-12">
        <div class="col-xs-12 text-left">
          <label>Does this ingredient contain any of these common allergens?</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-left">
          <button type="button" class="btn btn-xs btn-warning select-all-ingredients-button">Select All</button>
          <ul>
            <% @top_allergens.each do |allergen| %>
                <li>
                  <% if ingredient.allergens_array.include? allergen.name %>
                    <%= check_box_tag "review_conflict[first_suggestion][allergens][]", allergen.name, {:checked => "checked"}  %>
                  <% else %>
                    <%= check_box_tag "review_conflict[first_suggestion][allergens][]", allergen.name %>
                  <% end %>
                  <%= h allergen.name %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="form-group col-xs-12 text-left">
          <label>Need to find an allergen not listed?  Search our database or add your own.</label>
        </div>
        <div class="row text-left">
          <div class="col-xs-6 col-xs-offset-1">
            <input type="text" name="fname" class="allergen-autofill form-control" data-autocomplete-source="<%=@all_allergens%>" placeholder="peanut">   
          </div>
          <div class="form-group col-xs-4">
            <button type="button" class="glyphicon glyphicon-plus-sign btn btn-success btn-lg add-allergen">Add</button>
          </div>
          <div class="col-xs-12" id="added-allergens">
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :category, as: :hidden, :input_html => { :value => "Allergens" }%>
      <%= f.input :item, as: :hidden, :input_html => { :value => "allergen-#{ingredient.id}" } %>
      <input type="hidden" name="review_conflict[first_suggestion][ingredient_name]" value="<%=ingredient.name%>">


      <%= f.input :original_entry, as: :hidden, :input_html => { :value => @ingredients_allergens_hash[ingredient] }%>

      
    </div>
    <div class=" col-xs-6 col-xs-offset-3 form-group">
      <%= f.collection_radio_buttons :risk_level, [["High Risk", 300]], :last, :first, :item_wrapper_class=>"form-control", :checked => (["High Risk", 300])%>
    </div>
    <textarea class="form-control form-group" placeholder="Why did you make this improvement?" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
    <div class=" col-xs-12 form-group text-center"> 
      <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
    </div> 
  <% end %>
</div>