<div id="basic-info-review-form">
  <div class="col-xs-12">
      <h3>Start with the basics:</h3>
  </div>
  <%= simple_form_for @basic_info_review_conflicts["name"], :url => url_for([@recipe, @quality_review, @basic_info_review_conflicts["name"]]), :remote => true, :html => {:multipart => true} do |f| %>
    <% if @basic_info_review_conflicts["name"].errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@basic_info_review_conflicts["name"].errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @basic_info_review_conflicts["name"].errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="exampleInputEmail1">What would you like the name of your recipe to be?</label>
      <%= f.input :first_suggestion, label: false, input_html: { class: "recipe-name-autofill form-control", id: "recipe-name", placeholder: "Enter recipe name here", data: {autocomplete_source: @all_recipe_names}} %>
    </div>
    <%= f.hidden_field :first_reviewer_id, value: @basic_info_review_conflicts["name"].first_reviewer_id%>
    <%= f.hidden_field :risk_level, value: @basic_info_review_conflicts["name"].risk_level%>
    <%= f.hidden_field :category, value: @basic_info_review_conflicts["name"].category%>
    <%= f.hidden_field :item, value: @basic_info_review_conflicts["name"].item%>
    <%= f.hidden_field :review_stage, value: @basic_info_review_conflicts["name"].review_stage%>
    <button type="submit" class=" btn btn-success btn-lg">save</button>
  <% end %>
</div>