<div id="review-recipe-categories">
  <%= simple_form_for [@quality_reviewable, @quality_review, @possible_review_conflicts["recipe-categories"]], :remote => true, :html => {:multipart => true} do |f| %>
    <div class=" form-group row text-center">
      <div class="col-xs-12 form-group">
        <h2>How would you categorize this recipe?</h2>
        <p>(only check if applicable)</p>
      </div>
      <div class="col-xs-12 text-left">
        <div class="col-xs-12">
          <label>Course:</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-left">
          <ul>
            <% @courses.each do |course| %>
                <div class="col-xs-6 select-allergen-box">
                  <% if @categories_array.include? course.name %>
                    <%= check_box_tag "review_conflict[first_suggestion][categories][]", course.name, {:checked => "checked"}  %>
                  <% else %>
                    <%= check_box_tag "review_conflict[first_suggestion][categories][]", course.name %>
                  <% end %>
                  <%= h course.name %>
                </div >
            <% end %>
          </ul>
        </div>
      </div>
      <div class="form-group col-xs-12 text-left">
        <div class="col-xs-12">
          <label>Meal:</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-left">
          <ul>
            <% @meals.each do |meal| %>
                <div class="col-xs-6 select-allergen-box">
                  <% if @categories_array.include? meal.name %>
                    <%= check_box_tag "review_conflict[first_suggestion][categories][]", meal.name, {:checked => "checked"}  %>
                  <% else %>
                    <%= check_box_tag "review_conflict[first_suggestion][categories][]", meal.name %>
                  <% end %>
                  <%= h meal.name %>
                </div >
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12 text-left">
      <div class="col-xs-12">
        <label>Is your recipe a cultural dish?</label>
      </div>
      <div class="col-xs-10 col-xs-offset-1 text-left">
        <ul>
          <% @cultures.each do |culture| %>
              <div class="col-xs-6 select-allergen-box">
                <% if @categories_array.include? culture.name %>
                  <%= check_box_tag "review_conflict[first_suggestion][categories][]", culture.name, {:checked => "checked"}  %>
                <% else %>
                  <%= check_box_tag "review_conflict[first_suggestion][categories][]", culture.name %>
                <% end %>
                <%= h culture.name %>
              </div >
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :category, as: :hidden, :input_html => { :value => "Recipe Categories" }%>
      <%= f.input :item, as: :hidden, :input_html => { :value => "recipe-categories" } %>
      <%= f.input :original_entry, as: :hidden, :input_html => { :value => @categories_array }%>
    </div>
    <div class=" col-xs-6 col-xs-offset-3 form-group">
      <%= f.collection_radio_buttons :risk_level, [["High Risk", 300], ["Medium Risk", 200]], :last, :first, :item_wrapper_class=>"form-control", :checked => (["Medium Risk", 200])%>
    </div>
    <textarea class="form-control form-group" placeholder="Why did you make this improvement?" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
    <div class=" col-xs-12 form-group text-center"> 
      <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
    </div> 
  <% end %>
</div>