<div id="step-<%=step.id%>" class="individual-step-form col-xs-12 form-group">
  <%= simple_form_for [@quality_reviewable, @quality_review, @possible_review_conflicts["basic_info"][0]], :remote => true, :html => {:multipart => true} do |f| %>
    <div class="steps-preview">
      <div class="form-group col-xs-12">
        <div id="group-names-container" class="form-group col-xs-6">
          <label>Step Group Name</label>
          <input type="text" class="form-control" placeholder="Sauce (leave blank if no groups)" name="review_conflict[first_suggestion][step_group_name]" value="<%=step.group_name%>">
        </div>
        <div class="form-group col-xs-12">
          <label>Directions</label>
          <textarea rows="3" class="form-control" placeholder="Add 3 cups of milk and 1 cup of water to pot..." name="review_conflict[first_suggestion][directions]"><%=step.directions%></textarea>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="steps">Select the ingredients used in this step</label>
        <button type="button" class="btn btn-xs btn-warning select-all-ingredients-button">Select All</button>
        <ul>
          <% @ingredients.each do |ingredient| %>
              <li>
                <% if step.ingredients_full_names.include? ingredient.full_name %>
                  <%= check_box_tag "review_conflict[first_suggestion][ingredients][]", ingredient.full_name, {:checked => "checked"}  %>
                <% else %>
                  <%= check_box_tag "review_conflict[first_suggestion][ingredients][]", ingredient.full_name %>
                <% end %>
                <%= h ingredient.full_name %>
              </li>
          <% end %>
        </ul>

      </div>
    </div>
    <div class="form-group">
      <%= f.input :category, as: :hidden, :input_html => { :value => "Recipe Step" }%>
      <%= f.input :item, as: :hidden, :input_html => { :value => "step-#{step.id}" } %>
      <%= f.input :original_entry, as: :hidden, :input_html => { :value => step.full_step }%>
    </div>
    <div class=" col-xs-6 col-xs-offset-3 form-group">
      <%= f.collection_radio_buttons :risk_level, [["Dangerous", 4], ["High Risk", 3], ["Low Risk", 2], ["No Risk", 1]], :last, :first, :item_wrapper_class=>"form-control" %>
    </div>
    <textarea class="form-control form-group" placeholder="Why did you make this improvement?" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
    <div class=" col-xs-12 form-group text-center"> 
      <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
    </div> 
  <% end %>
</div>




<!-- YOU ARE HERE -->
