<div id="quality-review-main-container">
	<div class="container">
    <div class="col-xs-8 col-xs-offset-2">
      <div id="">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_basic_info" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_ingredients" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_steps" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_allergens" %>
              </h4>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_health_groups" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">

                  <%= render "quality_review_categories" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <%= render "quality_review_marketing_items" %>
              </h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="col-xs-12 panel-heading">
              <h3 class=" form-group">
                  Assign to:
              </h3>
              <div class="col-xs-12">
                <%= simple_form_for [@quality_reviewable, @quality_review] do |f| %>
                  <div class="col-xs-9 form-group">
                    <%= f.association :dietitian, as: :select, collection: @dietitians, label_method: :email, value_method: :id, label: false, :include_hidden => false, input_html: { class: "form-control"}%>
                  </div>
                  <div class="col-xs-3 form-group text-left"> 
                    <button type="submit" class=" btn btn-success btn-lg">save</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>