<div id="basic-info-container">
  <div class="preview-title text-center">
    <h1 id="recipe-title"><%= @recipe.name %></h1>
  </div>
  <div class="row preview-info text-center">
    <div class="col-xs-3">
      <p>Prep Time:</p>
      <h4 id="preptime-preview"><%=@recipe.prep_time %></h4>
    </div>
    <div class="col-xs-3">
      <p>Cook Time:</p>
      <h4 id="cooktime-preview"><%=@recipe.cook_time %></h4>
    </div>
    <div class="col-xs-3">
      <p>Difficulty:</p>
      <h4 id="difficulty-preview"><%=@recipe.difficulty %></h4>
    </div>
    <div class="col-xs-3">
      <p>Serves:</p>
      <h4 id="serves-preview"><%= %></h4>
    </div>
  </div>
</div>