<%= simple_form_for(@recipe, html: {class: 'form-horizontal' }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :cook_time %>
  </div>
  <div class="field">
    <%= f.input :prep_time %>
  </div>
  <div class="field">
    <%= f.input :difficulty %>
  </div>
  <div class="field">
    <%= f.input :course %>
  </div>
  <div class="field">
    <%= f.input :age_group %>
  </div>
  <div class="field">
    <%= f.input :target_group %>
  </div>
  <div class="field">
    <%= f.input :dietitian_id %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
