<% if @recipe_id %>
  <div id="recipe-breadcrumb" class="navbar navbar-default" data-stage="<%=Recipe.find(@recipe_id).creation_stage%>" role="navigation">
<% else %>
  <div id="recipe-breadcrumb" class="navbar navbar-default" role="navigation">
  <div class="container">
<% end %>
      <div class="navbar-header">
        <h2>Create your recipe</h2>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">1. Recipe Essentials<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="disabled" id="breadcrumb-basic-info">
                <a  href="">Basic Info</a>
              </li>
              <li class="disabled" id="breadcrumb-ingredients">
                <a href="/ingredients_recipes/new?recipe_id=<%=@recipe_id%>">Ingredients</a>
              </li>
              <li class="disabled" id="breadcrumb-steps">
                <a href="/recipe_steps/new?recipe_id=<%=@recipe_id%>">Steps</a>
              </li>
            </ul>
          </li>
          <li class="disabled" id="breadcrumb-allergy-information"><a href="/ingredients/edit_allergens/<%=@recipe_id%>">2. Allergy Information</a></li>
          <li id="breadcrumb-category-drop-down" class="disabled" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">3. Recipe Categories<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="disabled" id="breadcrumb-health-groups">
                <a  href="/recipes/<%=@recipe_id%>/edit_patient_groups">Health Groups</a>
              </li>
              <li class="disabled" id="breadcrumb-categories">
                <a href="/recipes/<%=@recipe_id%>/edit_recipe_categories">Other Categories</a>
              </li>
            </ul>
          </li>
          <li class="disabled" id="breadcrumb-personalize-group"><a href="/recipes/<%=@recipe_id%>/marketing_items/new">4. Personalize by Group</a></li>
          <li class="disabled" id="breadcrumb-review"><a href="/recipes/<%=@recipe_id%>/review_recipe">5. Review</a></li>
    
        </ul>
      </div>
  </div>
</div>