<div id="new-ingredient-form">
  <%= simple_form_for @ingredients_recipe, remote: true  do |ingredients_recipe_form| %>
    <div class=" form-group row text-center">
      <h2>Add your ingredients!</h2>
    </div>
    <div class="row">
      <div class="form-group col-xs-2">
        <label for="exampleInputEmail1">Amount</label>
        <%= ingredients_recipe_form.input :amount, label: false, input_html: { class: "form-control", placeholder: "1 1/2"} %>
      </div>
      <div class="form-group col-xs-4">
        <label for="exampleInputEmail1">Measurement</label>
        <%= ingredients_recipe_form.input :amount_unit, label: false, input_html: { class: "form-control", placeholder: "cups"} %>
      </div>

      <div class="form-group col-xs-5">
        <label for="exampleInputEmail1">Ingredient</label>
        <%= ingredients_recipe_form.input :display_name, label: false, input_html: { class: "form-control", placeholder: "sliced frozen banana"} %>
      </div>
    </div>
    <div class="row">
      <div class="add-button-div form-group col-xs-4">
        <label for="exampleInputEmail1">Shopping List Item</label>
        <%= ingredients_recipe_form.fields_for :ingredient, @ingredient do |ingredient_form| %>
         <%= ingredient_form.input :name,  input_html: { class: "ingredient-name form-control", data: {autocomplete_source: @all_ingredients}}, placeholder: "banana", label: false %>
        <% end %> 
      </div>
      <div class="form-group control-group">
        <label class="control-label">Only select if applicable</label>
        <div class="controls">
          <ul id="ingredient-radio-list" class="list-inline">
            <li> 
              <label class="radio inline">
                <input type="radio" name="recipe" value="[main_ingredient][true]"/>
                  <span class="ingredient-radio-label">The Main Ingredient</span>
              </label>
            </li>
            <li> 
              <label class="radio inline">
                <input type="radio" name="recipe" value="[optional_ingredient][true]"/>
                  <span class="ingredient-radio-label">An Optional Ingredient</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="form-group"> 
        <%= hidden_field_tag 'recipe_id', @recipe_id %>
        <button type="submit" class="glyphicon glyphicon-plus-sign btn btn-success btn-lg">Add</button>
        <%#= ingredients_recipe_form.button :submit, "Add", class: "glyphicon glyphicon-plus-sign btn btn-success btn-lg" %>
      </div>
    </div>
  <% end%>
    <div class="row hidden-form">
      <div class="form-group text-center">
        <p>Finished adding all of your ingredients?
        </p>
      </div>
      <div class="form-group text-center"> 
        <button type="submit" class=" btn btn-success btn-lg">NEXT</button>
      </div>
    </div>
</div>
</div>

