
          <div id="nutrition-groups-form">
            <%= simple_form_for @recipe, :url => {:controller => 'recipes', :action => 'update_patient_groups'}, remote: true do |f| %>
              <div class=" form-group row text-center">
                <div class="col-xs-12 form-group">
                  <p>Your recipe will be helpful for people with many different nutritional needs, but</p>
                  <h2>Who did you make this recipe for?</h2>
                </div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-12 text-left">
                    <label>Common Food Allergies:</label>
                  </div>
                  <div class="col-xs-12 text-left">
                    <%= f.association :patient_groups, as: :check_boxes, collection: @allergies, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-12 text-left">
                    <label>Common Food Intolerances:</label>
                  </div>
                  <div class="col-xs-12 text-left">
                    <%= f.association :patient_groups, as: :check_boxes, collection: @intolerances, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-6 select-allergen-box" %>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-12 text-left">
                    <label>Nutrition Related Diseases:</label>
                  </div>
                  <div class="col-xs-12 text-left form-group">
                      <%= f.association :patient_groups, as: :check_boxes, collection: @diseases, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-6 select-allergen-box" %>
                  </div>
                  <input type="hidden" name="recipe_id" id: "hidden-recipe" value="<%=@recipe.id%>">
                </div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-12 text-left">
                    <label>Diet Specific:</label>
                  </div>
                  <div class="col-xs-12 text-left form-group">
                      <%= f.association :patient_groups, as: :check_boxes, collection: @diets, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-6 select-allergen-box" %>
                  </div>
                  <input type="hidden" name="recipe_id" id: "hidden-recipe" value="<%=@recipe.id%>">
                </div>
              </div>
              <div class="form-group text-center"> 
                <button type="submit" class=" btn btn-success btn-lg">NEXT</button>
              </div>
              <% end %>
          </div>