<div id="groups-preview">

<!--     BASIC PREVIEW
 -->
  <div id="basic-info-container">
    <div class="preview-title text-center">
      <h1><%=@recipe.name%></h1>
    </div>
  </div>

  <!--       HEALTH GROUP PREIVEW     -->  
  <div id="recipe-categories-container">
    <div class="preview-info"> 
      <h4 class="preview-heading">Made with love for people with:</h4>
      <div id="health-groups-container">
        <div class=" text-center preview-info"> 

          <div class="col-xs-4">
            <%= image_tag("add_recipe_images/mother.png") %>

          </div>
          <div class="col-xs-4">
             <%= image_tag("add_recipe_images/family.png") %>

          </div>
          <div class="col-xs-4">
            <%= image_tag("add_recipe_images/grandpa.png") %>
   
          </div>
        </div>
      </div>
    </div>
    <div class="preview-info" id="categories-container">
      <div class="row text-center preview-info"> 
        <h4 class="preview-heading">Recipe Categories:</h4>
        <div class="col-xs-4">
                <%= image_tag("add_recipe_images/breakfast.png") %>
        </div>
        <div class="col-xs-4">
                <%= image_tag("add_recipe_images/plate.png") %>
        </div>
        <div class="col-xs-4">
                <%= image_tag("add_recipe_images/table.png") %>
        </div>
      </div>
    </div> <!-- #steps container -->
  </div>
</div>