<div id="groups-preview">

<!--     BASIC PREVIEW
 -->
  <div id="basic-info-container">
    <div class="preview-title text-center">
      <h1><%=@recipe.name%></h1>
    </div>
  </div>

  <!--       HEALTH GROUP PREIVEW     -->  
  <div id="recipe-categories-container">
    <div class="preview-info"> 
      <h4><span class="large-green-font">Made for</span> a person with these dietary restrictions:</h4>
      <div id="health-groups-container">
      <% if @health_groups.count > 0 %>
        <div class='preview-info'>
          <% @health_groups.each do |health_group| %>
          <div class='col-xs-3 health-group-list-item'><h4><%=health_group.name%></h4></div>
          <% end %>
        </div>
      <% else %>
        <div class=" text-center preview-info"> 

          <div class="col-xs-4">
            <%= image_tag("add_recipe_images/mother.png") %>

          </div>
          <div class="col-xs-4">
             <%= image_tag("add_recipe_images/family.png") %>

          </div>
          <div class="col-xs-4">
            <%= image_tag("add_recipe_images/grandpa.png") %>
   
          </div>
        </div>
      <% end%>
      </div>
    </div>
    <div class="col-xs-12 preview-info" id="categories-container">
      <h4>Recipe Categories:</h4>
      <% if @categories.count > 0 %>
        <div class='preview-info'>
          <% @categories.each do |category| %>
          <div class='col-xs-3 category-list-item'><h4><%=category.name%></h4></div>
          <% end %>
        </div>
      <% else %>
        <div class="col-xs-12 text-center preview-info"> 
          <div class="col-xs-4">
                  <%= image_tag("add_recipe_images/breakfast.png") %>
          </div>
          <div class="col-xs-4">
                  <%= image_tag("add_recipe_images/plate.png") %>
          </div>
          <div class="col-xs-4">
                  <%= image_tag("add_recipe_images/table.png") %>
          </div>
        </div>
      <% end %>
    </div> <!-- #steps container -->
  </div>
</div>