<div id="recipe-categories-form">
    <%= simple_form_for @recipe, 
    :url => {:action => 'update_recipe_categories', :controller => 'recipes', id: @recipe.id}, :method => 'patch', :multipart => true, :remote => true do |f| %>
    <div class=" form-group row text-center">
      <div class="col-xs-12 form-group">
        <h2>How would you categorize this recipe?</h2>
        <p>(only check if applicable)</p>
      </div>
      <div class="col-xs-12 text-left">
        <div class="col-xs-12">
          <label>Course:</label>
        </div>
        <div class="form-group col-xs-12 text-left">
          <%= f.association :characteristics, as: :check_boxes, collection: @courses, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>
        </div>
      </div>
      <div class="form-group col-xs-12 text-left">
        <div class="col-xs-12">
          <label>Meal:</label>
        </div>
        <div class="col-xs-12 text-left">
          <%= f.association :characteristics, as: :check_boxes, collection: @meals, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>
        </div>
      </div>
      <div class="form-group col-xs-12 text-left">
        <div class="col-xs-12">
          <label>Is your recipe a cultural dish?</label>
        </div>
        <div class="col-xs-12 text-left">
          <%= f.association :characteristics, as: :check_boxes, collection: @cultures, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>           
        </div>
      </div>
    </div>
    <input type="hidden" name="recipe_id" id: "hidden-recipe" value="<%=@recipe.id%>">
    <div class="form-group text-center"> 
      <button type="submit" class=" btn btn-success btn-lg">NEXT</button>
    </div>
  <% end %>
</div>