<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
     <Styles>
        <Style ss:ID="columnheaders">
          <Font ss:Size="18" ss:Bold="1" />
        </Style>
        <Style ss:ID="celldata">
          <Interior ss:Color="#FFCC99" ss:Pattern="Solid" />
          <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          </Borders>
        </Style>
      </Styles>
  <% @recipes.each_with_index do |recipe, index| %>

    <% characteristics = recipe.characteristics.map { |i| i.name} %>
    <Worksheet ss:Name="Sheet<%=index%>">
      <Table ss:DefaultColumnWidth="175" ss:DefaultRowHeight="20">
        <Row>
        </Row>  
        <Row>
        </Row>        
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">ID</Data></Cell>
          <Cell><Data ss:Type="Number"><%=recipe.id%></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Title</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.name%></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Image ID</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="Number"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Course</Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Meal Type</Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Breakfast</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Breakfast") ? "x":"" %></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Dessert</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Dessert") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Lunch:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Lunch") ? "x":"" %></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Beverage:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Beverage") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Main Description:</Data></Cell>
          <Cell ss:StyleID="celldata" ss:MergeAcross="3" ss:MergeDown="1"><Data ss:Type="String"><%= recipe.name%></Data></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Dinner:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Dinner") ? "x":"" %></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Salad:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Salad") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell ss:Index="6"></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Snack:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Snack") ? "x":"" %></Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Soup:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Soup") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Health Description:</Data></Cell>
          <Cell ss:StyleID="celldata" ss:MergeAcross="3" ss:MergeDown="1"><Data ss:Type="String"><%= recipe.name%></Data></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Appetizer:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Appetizer") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell ss:Index="6"></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Condiments, Dips, & Sauces:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Condiments, Dips, & Sauces") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Cocktails:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Cocktail") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Serving Size</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Servings</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Prep Time</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Cook Time</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Clean Up Time</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Difficulty</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Created At</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Completed</Data></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Main Dish:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Main Dish") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.prep_time%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.cook_time%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.difficulty%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.created_at%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= recipe.completed%></Data></Cell>
          <Cell></Cell>
          <Cell></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Side Dish:</Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%=(characteristics.include? "Side Dish") ? "x":"" %></Data></Cell>
        </Row>
        <Row>
        </Row>
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Equipment</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Ingredient</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Amount</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Measurement</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Ingredient ID</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Allergens</Data></Cell>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Allergen IDs/Ingredient</Data></Cell>
        </Row>
        <% recipe.ingredients_recipes.each do |ingredient| %>
        <Row>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= ingredient.display_name%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= ingredient.amount%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= ingredient.amount_unit%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= ingredient.id%></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="celldata"><Data ss:Type="String"></Data></Cell>
        </Row>
        <% end %>
        <Row>
        </Row>
        <Row>
          <Cell ss:StyleID="columnheaders"><Data ss:Type="String">Ingredient IDs/Step</Data></Cell>
          <Cell ss:StyleID="columnheaders" ss:MergeAcross="4"><Data ss:Type="String">Recipe Steps</Data></Cell>
        </Row>
        <% recipe.steps.each do |step| %>
        <Row ss:AutoFitHeight="1">
          <Cell ss:StyleID="celldata"><Data ss:Type="String"><%= step.ingredients_recipes.map {|i| i.id}.join(",")%></Data></Cell>
          <Cell ss:StyleID="celldata" ss:MergeAcross="8"><Data ss:Type="String"><%= step.directions%></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
  <% end %>
</Workbook>

