<!-- BREADCRUMB
FOR 
RECIPE -->
   <%= render "/recipes/new_recipe_breadcrumbs" %>
<!-- RECIPE PAGE BACKGROUND-->
    <div id="recipe-background">
      <div class="container">
        <div class="col-xs-6">
<!-- BASIC INFO FORM -->
        	<%= render "edit_basic_info_form" %>
        </div>
        <div class="col-xs-6">
          <div id="recipe-essentials-preview">

<!--      BASIC 
          INFO 
          PREVIEW -->
            <div id="basic-info-container">
              <div class="preview-title text-center">
                <h1 id="recipe-title" class="light-gray-font">YOUR RECIPE TITLE</h1>
              </div>
              <div class="row preview-info text-center">
                <div class="col-xs-3">
                  <p>Prep Time:</p>
                  <h4 id="preptime-preview"></h4>
                </div>
                <div class="col-xs-3">
                  <p>Cook Time:</p>
                  <h4 id="cooktime-preview"></h4>
                </div>
                <div class="col-xs-3">
                  <p>Difficulty:</p>
                  <h4 id="difficulty-preview"></h4>
                </div>
                <div class="col-xs-3">
                  <p>Serves:</p>
                  <h4 id="serves-preview"></h4>
                </div>
              </div>
            </div>
            <div id="ingredients-container">
              <div class="row text-center preview-info"> 
                <h3 class="preview-heading">Ingredients:</h3>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/avocado.png") %>
         
                </div>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/chili.png") %>
             
                </div>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/apple.png") %>
          
                </div>
              </div>
            </div>
            <div id="steps-container">
              <div class="row text-center preview-info"> 
                <h3 class="preview-heading">Steps:</h3>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/salad_bowl.png") %>
               
                </div>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/grill.png") %>
         
                </div>
                <div class="col-xs-4">
                <%= image_tag("add_recipe_images/chef.png") %>
      
                </div>
              </div>
            </div> <!-- #steps container -->
          </div> <!-- #recipe essentials preview -->
        </div> <!-- half screen -->
      </div><!--  container -->
    </div> <!-- recipe background -->

