<div id="recipe-data-container">
 	<div class="form-group col-xs-12 form-group text-center">

		<table class="table table-striped table-bordered table-condensed table-hover" style="width:100%">
		  <h1>Recipe Creation by Week</h1>
		  <tr>
		  	<th></th>
		  	<th colspan="2">All Time Total</th>
		    <th colspan="2">This Week</th>
		    <th colspan="2">Last Week</th>
		    <th colspan="2">2 Weeks Ago</th>
		    <th colspan="2">3 Weeks Ago</th>
		    <th colspan="2">4 Weeks Ago</th>
		  </tr>
		  <tr>
		  	<td></td>
		  	<td># Recipes</td>
		    <td>Made For</td>
		    <td># Recipes</td>
		    <td>Made For</td>
		    <td># Recipes</td>
		    <td>Made For</td>
		    <td># Recipes</td>
		    <td>Made For</td>
		    <td># Recipes</td>
		    <td>Made For</td>
		    <td># Recipes</td>
		    <td>Made For</td>
		  </tr>
		  <tr>
		  	<td>Total Team</td>
		    <td><%=@recipe_data_by_total["total_all_time"]%></td>
		    <td><%=@recipe_data_by_total["made_for_all_time"]%></td>
		    <td><%=@recipe_data_by_total["total_this_week"]%></td>
		    <td><%=@recipe_data_by_total["made_for_this_week"]%></td>
		    <td><%=@recipe_data_by_total["total_last_week"]%></td>
		    <td><%=@recipe_data_by_total["made_for_last_week"]%></td>
		    <td><%=@recipe_data_by_total["total_2_weeks_ago"]%></td>
		    <td><%=@recipe_data_by_total["made_for_2_weeks_ago"]%></td>
		    <td><%=@recipe_data_by_total["total_3_weeks_ago"]%></td>
		    <td><%=@recipe_data_by_total["made_for_3_weeks_ago"]%></td>
		    <td><%=@recipe_data_by_total["total_4_weeks_ago"]%></td>
		    <td><%=@recipe_data_by_total["made_for_4_weeks_ago"]%></td>
		  </tr>
		  <% @recipe_data_by_dietitian.each do |dietitian_email, data| %>
		  <tr>
		    <td><%=dietitian_email%></td>
		    <td><%=data["total_all_time"]%></td>
		    <td><%=data["made_for_all_time"]%></td>
		    <td><%=data["total_this_week"]%></td>
		    <td><%=data["made_for_this_week"]%></td>
		    <td><%=data["total_last_week"]%></td>
		    <td><%=data["made_for_last_week"]%></td>
		    <td><%=data["total_2_weeks_ago"]%></td>
		    <td><%=data["made_for_2_weeks_ago"]%></td>
		    <td><%=data["total_3_weeks_ago"]%></td>
		    <td><%=data["made_for_3_weeks_ago"]%></td>
		    <td><%=data["total_4_weeks_ago"]%></td>
		    <td><%=data["made_for_4_weeks_ago"]%></td>
		  </tr>  
		  <% end %>
		</table>



	</div>
</div>

