<%= render "new_recipe_breadcrumbs" %>

<div id="recipe-background">
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2">
      <div id="allergens-preview">
        <div id="review-recipe-container">
          <div class="col-xs-12">
            <div class="col-xs-6 col-xs-offset-3 alert alert-danger text-center">
              <h3>Last Step!</h3>
              <p>Please review all of the information before saving. Click the edit symbol to make changes.</p>
            </div>
          </div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" id="basic-info-accordion-top" data-parent="#accordion" href="#collapseOne">
                  <%= render "basic_info_show" %>
                  </a>
                </h4>
              </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body" id="basic-info-accordion-bottom">
               <%= render "edit_basic_info_form" %>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div class="col-xs-12 alert alert-warning">
                    <p>To add an ingredient, use the navigation at the top of the page.  Be sure to add it to the appropriate steps</p>
                  </div>
                  <%= render "ingredients_recipes/ingredients_recipe_list" %>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div class="col-xs-12 alert alert-warning">
                    <p>To add a step, use the navigation at the top of the page.</p>
                  </div>
                  <%= render "recipe_steps/steps_list" %>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= render "recipes/allergens_ingredient_preview" %>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= render "recipes/nutrition_groups_preview" %>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= render "marketing_items/marketing_items_list" %>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Collapse</a>
                </h4>
              </div>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center"> 
          <%= link_to "Finish", complete_recipe_path(@recipe), :class => "btn btn-success btn-lg"  %>
        </div>
      </div>
    </div>
  </div>
</div>