<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
    <strong>Cook Time:</strong>
    <% @cook_times.each do |cook_time| %>
      <p><%= cook_time.name %></p>
    <% end %>
      <strong>Prep Time:</strong>
    <% @prep_times.each do |prep_time| %>
      <p><%= prep_time.name %></p>
    <% end %>
      <strong>Difficulty:</strong>
    <% @difficulties.each do |difficulty| %>
      <p><%= difficulty.name %></p>
    <% end %>
      <strong>Courses:</strong>
    <% @courses.each do |course| %>
      <p><%= course.name %></p>
    <% end %>
      <strong>Age Groups:</strong>
    <% @age_groups.each do |age_group| %>
      <p><%= age_group.name %></p>
    <% end %>
      <strong>Scenarios:</strong>
    <% @scenarios.each do |scenario| %>
      <p><%= scenario.name %></p>
    <% end %>
      <strong>Holidays:</strong>
    <% @holidays.each do |holiday| %>
      <p><%= holiday.name %></p>
    <% end %>
      <strong>Cultural:</strong>
    <% @cultures.each do |culture| %>
      <p><%= culture.name %></p>
    <% end %>
      <strong>Ingredients:</strong>
    <% @ingredients.each do |ingredient| %>
      <p><%= link_to ingredient.name, ingredient %></p>
    <% end %>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
