<div id="quality-review-main-container">
  <div id="quality-review-introduction" class="row">
    <div class="col-xs-12 alert alert-success text-center">
      <h3>RECIPE AT GLANCE:</h3>
    </div>
  </div>
  <div id="quality-review-new-container" class="container">
    <div id="select-reviewer-container" class="col-xs-8 col-xs-offset-2">
      <div id="">
        <div class="panel-group" id="accordion">

          <div id="panel-recipe-name" class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                
                  <%= render "/quality_reviews/basic_info/recipe_title_show" %>

              </h4>
            </div>
          </div>

          <!--    COOK TIME PANEL -->
          <div class="row" id="basic-info-accordion-container">
            <div class="col-xs-3">

              <div id="panel-cook-time"class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
                  
                      <%= render "/quality_reviews/basic_info/recipe_cook_time_show" %>
            
                  </h4>
                </div>
              </div>
            </div>
            <!--    PREP TIME PANEL -->
            <div class="col-xs-3">
              <div id="panel-prep-time"class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
             
                      <%= render "/quality_reviews/basic_info/recipe_prep_time_show" %>
            
                  </h4>
                </div>
              </div>
            </div>

            <!--    DIFFICULTY PANEL -->
            <div class="col-xs-3">
              <div id="panel-difficulty"class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
         
                      <%= render "/quality_reviews/basic_info/recipe_difficulty_show" %>
            
                  </h4>
                </div>
              </div>
            </div>
            <!--    SERVING SIZE PANEL -->
            <div class="col-xs-3">
              <div id="panel-serving-size" class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
       
                      <%= render "/quality_reviews/basic_info/recipe_serves_show" %>
            
                  </h4>
                </div>
              </div>
            </div>
          </div>


        </div> 
      </div>

      <h3 class="active-preview-heading white-font">Ingredients:</h3>
      <% @ingredients.each do |ingredient| %>

      <div id="panel-ingredient-<%=ingredient.id%>" class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">

            <%= render "/quality_reviews/quality_review_ingredients", :ingredient => ingredient %>

          </h4>
        </div>
      </div>
      <% end %>



      <h3 class="active-preview-heading white-font">Steps:</h3>
      <%@steps_by_group.each do |group, steps| %>
      <h5><%=group%></h5>
      <% steps.each do | step | %>

      <div id="panel-step-<%=step.id%>" class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">

            <%= render "quality_reviews/quality_review_steps", :step => step %>

          </h4>
        </div>
      </div>
      <% end %>
      <% end %>

      <h3 class="active-preview-heading white-font">Allergens:</h3>
      <% @ingredients_tagged.each do| ingredient| %>
      <div id="panel-allergen-<%=ingredient.id%>" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">

            <%= render "quality_reviews/quality_review_allergens", :ingredient => ingredient %>

          </h4>
        </div>
      </div>
      <% end %>
      <h3 class="active-preview-heading white-font">Health Groups:</h3>
      <div id="panel-health-groups" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render "quality_reviews/quality_review_health_groups" %>
          </h4>
        </div>
      </div>
      <h3 class="active-preview-heading white-font">Recipe Categories:</h3>
      <div id="panel-recipe-categories" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">

            <%= render "quality_reviews/quality_review_categories" %>
          </h4>
        </div>
      </div>
      <!--    MARKETING TITLE PANEL--> 
      <h3 class="active-preview-heading white-font">Personalize by Group:</h3>
      <% @marketing_items_by_group.each do |health_group, marketing_items_hash| %>
      <h2 class="active-preview-heading"><%=health_group%></h2>
      <div id="panel-marketing-item-<%=marketing_items_hash['items']['title'].id%>" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
    
              <%= render "quality_reviews/quality_review_marketing_items", marketing_item: marketing_items_hash["items"]["title"] %>
    
          </h4>
        </div>
      </div>
      <div id="panel-marketing-item-<%=marketing_items_hash['items']['description'].id%>" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">

              <%= render "quality_reviews/quality_review_marketing_items", marketing_item: marketing_items_hash["items"]["description"] %>
          </h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12 alert alert-success text-center">
      <%=link_to "BACK", dietitian_recipes_path%>
    </div>
  </div>