<p id="notice"><%= notice %></p>


<strong>Name:</strong>
<p><%= @recipe.name %></p>

<p><%= link_to 'Edit Meta Recipe Info', edit_recipe_path(@recipe) %></p>
<strong>Cook Time:</strong>
<p><%= @cook_time.name %></p>
<strong>Prep Time:</strong>
<p><%= @prep_time.name %></p>
<strong>Difficulty:</strong>
<p><%= @difficulty.name %></p>
<strong>Courses:</strong>
<% @courses.each do |course| %>
  <p><%= course.name %></p>
<% end %>
<strong>Age Groups:</strong>
<% @age_groups.each do |age_group| %>
  <p><%= age_group.name %></p>
<% end %>
<strong>Scenarios:</strong>
<% @scenarios.each do |scenario| %>
  <p><%= scenario.name %></p>
<% end %>
<strong>Holidays:</strong>
<% @holidays.each do |holiday| %>
  <p><%= holiday.name %></p>
<% end %>
<strong>Cultural:</strong>
<% @cultures.each do |culture| %>
  <p><%= culture.name %></p>
<% end %>
<h3>Patient Groups:</h3>
<strong>Allergies:</strong>
<% @allergies.each do |allergy| %>
  <p><%=  allergy.name %></p>
<% end %>
<strong>Intolerances:</strong>
<% @intolerances.each do |intolerance| %>
  <p><%=  intolerance.name %></p>
<% end %>
<strong>Diseases:</strong>
<% @diseases.each do |disease| %>
  <p><%=  disease.name %></p>
<% end %>
<h3>Ingredients: <%= link_to 'Add/Remove Ingredients', ingredients_recipes_path(recipe_id: @recipe.id) %></h3> 
<% @ingredients.each do |ingredient| %>
  <strong><%= ingredient.name%></strong>
  <p>Allergens:</p>
  <% ingredient.allergens.each do |allergen| %>
    <p><%= allergen.name %></p>
  <% end %>
<% end %>

<%= link_to 'Back', recipes_path %>
