<h1>Listing growth_charts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growth_charts.each do |growth_chart| %>
      <tr>
        <td><%= growth_chart.user %></td>
        <td><%= link_to 'Show', growth_chart %></td>
        <td><%= link_to 'Edit', edit_growth_chart_path(growth_chart) %></td>
        <td><%= link_to 'Destroy', growth_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growth chart', new_growth_chart_path %>
