
  <div id="marketing-item-<%=@marketing_item.id%>-form" class="col-xs-6 col-centered">
    <%= form_for [@marketing_itemable, @marketing_item], :remote => true do |f| %>
      <div class="field">
        <strong><%= @marketing_item.category.capitalize %></strong>
        <p><%= f.text_area :content, rows: 2, class: "col-xs-11 text-left form-group" %></p>
      </div>
      <div class="actions small-orange-button">
        <%= f.submit "Save"%>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
      </div>
    <% end %>
  </div>
