<div class="col-xs-12 bg-success" id="article-success">
  <h3 class="text-center"><strong>REMEMBER</strong></h3>
	<div id="age-group-list">
		<% @age_groups.each do |age_group| %>
			<p><%=age_group.name%></p>
		<% end %>
	</div>
	<div id="scenario-list">
		<% @scenarios.each do |scenario| %>
			<p><%=scenario.name%></p>
		<% end %>
	</div>

	<div id="holiday-list">
		<% @holidays.each do |holiday| %>
			<p><%=holiday.name%></p>
		<% end %>
	</div>
	<div id="culture-list">
		<% @cultures.each do |culture| %>
			<p><%=culture.name%></p>
		<% end %>
	</div>
	<div id="patient-group-list">
		<% @patient_groups.each do |patient_group| %>
			<p><%=patient_group.name%></p>
		<% end %>
	</div>
</div>
