<% @marketing_items_by_group.each do |health_group, marketing_items_hash| %>
	<div id="marketing-preview-container-<%=marketing_items_hash['group_id']%>">
		<% if health_group == "General"%>
			<h2 class="active-preview-heading">For an average eater with no restrictions</h2>
		<% else %>
			<h2 class="active-preview-heading">For someone with dietary restrictions due to <%=health_group%></h2>
		<% end %>
		<div class="preview-info">
			<div id="marketing-title-<%=marketing_items_hash['group_id']%>">
				<h4 class="active-preview-heading">
					<%= marketing_items_hash["items"]["title"].content %>
					<%= link_to edit_recipe_marketing_item_path(@recipe_id, marketing_items_hash["items"]["title"]), :remote => true  do %>
		    		<span class='glyphicon glyphicon-edit'></span>
		  		<% end %> 
		  	</h4>
			</div>
			<div id="marketing-description-<%=marketing_items_hash['group_id']%>">
				<h4 class="active-preview-heading">
					<%= marketing_items_hash["items"]["description"].content %>
					<%= link_to edit_recipe_marketing_item_path(@recipe_id, marketing_items_hash["items"]["description"]), :remote => true  do %>
		    		<span class='glyphicon glyphicon-edit'></span>
		  		<% end %> 
		  	</h4>
			</div>
		</div>
	</div>
<% end %>