

<div id="marketing-info-form">
  <div class=" form-group row text-center">
    <div class="col-xs-12 form-group">
      <p>Personalize your recipe for the nutritional needs of each group</p>
      <h2>Create alternate names and descriptions</h2>
    </div>
    <% @marketing_items.each do |patient_group| %>
      <div class="form-group col-xs-12 text-left">
        <div class="col-xs-12">
          <% if patient_group.first == "General Health" %>
            <label>General Health</label>  
          <% else %>        
            <label><%=patient_group.first.name%></label>
          <% end %>
        </div>
        <div class="title-form col-xs-12">
          <%= simple_form_for [@marketing_itemable, patient_group.last.first["title"]], :remote => true do |f| %>
            <%= f.hidden_field :order, value: 1 %>
            <%= f.hidden_field :category, value: "title" %>
            <%= f.hidden_field :dietitian_id, value: current_dietitian.id %>
            <div class="col-xs-9 form-group">
              <%= f.input :content, label: false, input_html: { class: "form-control", placeholder: "Gluten Free Pasta Primavera"} %>
            </div>
            <div class="col-xs-3 form-group text-left"> 
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
              <button type="submit" class=" btn btn-success btn-lg">save</button>
            </div>
          <% end %>
        </div>
        <div class="description-form col-xs-12">
          <%= simple_form_for [@marketing_itemable, patient_group.last.last["description"]], :remote => true do |f| %>
            <%= f.hidden_field :order, value: 1 %>
            <%= f.hidden_field :category, value: "description" %>
            <%= f.hidden_field :dietitian_id, value: current_dietitian.id %>
            <div class="col-xs-9 form-group">
              <textarea class="form-control" rows="3" name="marketing_item[content]" placeholder="The perfect meal to start a..."></textarea>
            </div>
            <div class="col-xs-3 form-group text-left"> 
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
              <button type="submit" class=" btn btn-success btn-lg">save</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row form-group hidden-form">
      <div class="form-group text-center">
        <p>One more step and your recipe is complete.</p>  
      </div>
      <div class="form-group text-center"> 
        <button type="button" id="review-recipe-button" class="next-button btn btn-success btn-lg">REVIEW</button>
      </div>
    </div>
    </div>
  </div>
</div>
