          <section class="row">
            <div class="col-xs-10">
              <%= link_to "back to family", family_path(family), remote: true %>
            </div>
            <div class="col-xs-1">
              <% if family_member.id != current_user.id %>
                <%= link_to "delete family member", remove_family_member_path(family, family_member), :confirm => "Are you sure you want to delete #{family_member.full_name}?", class: "btn btn-xs btn-default", :method => :delete %>
              <% end %>
            </div>
            <div class="col-xs-12">
              <h1><%=family_member.full_name%> 
                    <%# if family_member.growth_chart %>
                      <%#= link_to "Growth Chart", growth_chart_path(family_member.growth_chart), class: "btn btn-sm btn-primary", remote: true %>
                    <%# else %>
                      <%#= render "/growth_charts/form", family_member: family_member %>
                    <%# end %>
      
             
                    <%# if family_member.food_diary %>
                      <%#= link_to "Food Diary", food_diary_path(family_member.food_diary), class: "btn btn-sm btn-primary", remote: true %>
                    <%# else %>
                      <%#= render "/food_diaries/form", family_member: family_member %>
                    <%# end %>
                  </h1>
            </div>

          </section>
          <hr>
          <section class="row">
            <div class="col-xs-12">
                        

              <%= simple_form_for(family_member,  as: "user", url: registration_path("user"), html: { class: 'col-xs-12 text-left family-member-form', role:"form", remote: true}) do |f| %>

                <input type="hidden" name="family_member" value="true">

                <div id="main-avatar-container" class="col-xs-12 form-group">

                  <% if family_member.main_avatar %>
                    <%= image_tag family_member.main_avatar.icon.url %>

                    <%= f.input :remove_image, as: :boolean, boolean_style: :inline %>
            
                  <% else %>
                    <%= image_tag "icons/add_user_photo.png", class: "temp-image" %>
                    <%= f.fields_for :images, family_member.images.build do |builder| %>
                    <label>Add a profile picture!</label>
                    <!--         <p>(you can crop the picture after you save)</p> -->
                    <img id="image-preview" class="hidden" src="#" alt="your image" />
                      <fieldset>
                      <div class="fileUpload btn btn-primary">
                      <span>Upload</span>
                        <%= builder.file_field :image, class: "upload" %>
                        </div>
                        <%= builder.hidden_field :image_cache %>
                        <%= builder.hidden_field :position, value: 1  %>
                        <%= builder.hidden_field :imageable_type, value: family_member.class %>
                        <%= builder.hidden_field :imageable_id, value: family_member.id %>
                        <%= builder.hidden_field :image_type, value: "Avatar" %>
                      </fieldset>
                    <% end %>
                  <% end %>
                </div>




                <%= render '/families/family_member_edit_info_form_fields', {f: f, family_member: family_member}%>              

              

                <%= render '/users/registrations/forms/nutrition_form_fields', f: f %>

                <%= render '/users/registrations/forms/preferences_form_fields', f: f %>

                <%= render '/users/registrations/forms/user_family_note', f: f %>
                


                <div class="actions text-right">
                
                  <%= f.button :submit, "Save", class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>






            </div>
          </section>