<%= simple_form_for(@family, html: {class: 'form-horizontal' }) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :location %>
  </div>
  <div class="field">
    <%= f.input :head_of_family_id %>
  </div>
  <div class="field">
    <%= f.input :created_at %>
  </div>
  <div class="field">
    <%= f.input :updated_at %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
