<div class="family-members-container">

  <% if current_user %>
    <div class="row">
      <div class="col-xs-12">
<!--         <p>Who eats at your table?  Create a profile for yourself and your entire family.  Help your dietitian understand what makes your family's table unique!</p> -->
        <%= link_to "Add family member", families_new_family_member_path(family.id), class: "btn btn-md btn-default", remote: true %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if family && family.family_members %>
      <% family.family_members.each.with_index(1) do |family_member, index| %>
        <%# family_member = Users::UserPresenter.new(family_member) %>
        <% if (defined? surveyable) && (surveyable.patient_focus.id == family_member.id) %>
          <div class="col-xs-12 col-md-4 text-center alert-success">
            <p>Focus of Appointment</p>
            <% if current_user %>

            <p><%= link_to "Please update growth chart and food diary", families_show_family_member_path(family, family_member), remote: true %></p>
            <% end %>
        <% else %>
          <div class="col-xs-12 col-md-4 text-center">
        <% end %>
              
          <% if family_member.main_avatar && family_member.main_avatar.icon.url %>
            <%= image_tag family_member.main_avatar.icon.url %>
          <% else %>
            <%= image_tag "icons/add_user_photo.png" %>
          <% end %>
          <div class="caption">
            <!-- Button trigger modal -->
            <% if current_user %>
             <%= link_to family_member.full_name, families_show_family_member_path(family, family_member), class: "btn btn-md btn-primary", remote: true %>
            <% else %>
               <%= link_to family_member.full_name, dietitian_show_family_member_path(family, family_member), class: "btn btn-md btn-primary", remote: true %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

