
<div class="row">
	<div class="col-xs-3">
		<h4><%=family_member.full_name%></h4>	
		<h4><%=family_member.family_role%> of client</h4>
		<h4><%=family_member.age %></h4>
		<h4><%=family_member.sex %></h4> 
		<% if family_member.due_date != nil %>
			<h4>Due Date:  <%=family_member.due_date %></h4>
		<% end %>
	</div>
	<div class="col-xs-3">
		<h4>Health Groups</h4>
		<div class="row">
			<% family_member.health_groups_by_category[:diseases].each do | disease| %>
				<button class="alert-danger">
					<%= disease.name %>
				</button>
			<% end %>

			<% family_member.health_groups_by_category[:allergies].each do | allergy| %>
				<button class="alert-danger">
					<%= allergy.name %>
				</button>
			<% end %>
		</div>
	</div>
	<div class="col-xs-3">
		<h4>Symptoms</h4>
		<% family_member.health_groups_by_category[:symptoms].each do | symptom| %>
				<button class="alert-warning">
					<%= symptom.name %>
				</button>
		<% end %>
	</div>
	<div class="col-xs-3">
		<h4>Diet Preferences</h4>
		<% family_member.health_groups_by_category[:preferences].each do | preference| %>
				<button class="alert-warning">
					<%= preference.name %>
				</button>
		<% end %>
	</div>
</div>