

                <div class="row"> 
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-3 text-center">
                        <% if family_member.main_avatar && family_member.main_avatar.icon.url %>
                          <%= image_tag family_member.main_avatar.icon.url %>
                        <% else %>
                          <%= image_tag "icons/add_user_photo.png" %>
                        <% end %>
                        <p><%= link_to "Edit Profile", families_edit_family_member_path(family, family_member) if current_user %></p>
                      </div>
                      <div class="col-xs-9">
												<div class="row">
													<div class="col-xs-12 col-sm-3">
														<p><%=family_member.full_name%></p>	
														<p><%= "#{family_member.family_role} of client" if current_dietitian %></p>
														<p><%=family_member.age %></p>
														<p><%=family_member.sex %></p> 
														<% if family_member.due_date != nil %>
															<p>Due Date:  <%=family_member.due_date %></p>
														<% end %>
													</div>
													<div class="col-xs-12 col-sm-3">
														<h4>Health Groups</h4>
														<div class="row">
															<% family_member.health_groups_by_category[:diseases].each do | disease| %>
																<button class="alert-danger">
																	<%= disease.name %>
																</button>
															<% end %>

															<% family_member.health_groups_by_category[:allergies].each do | allergy| %>
																<button class="alert-danger">
																	<%= allergy.name %>
																</button>
															<% end %>
														</div>
													</div>
													<div class="col-xs-12 col-sm-3">
														<h4>Symptoms</h4>
														<% family_member.health_groups_by_category[:symptoms].each do | symptom| %>
																<button class="alert-warning">
																	<%= symptom.name %>
																</button>
														<% end %>
													</div>
													<div class="col-xs-12 col-sm-3">
														<h4>Diet Preferences</h4>
														<% family_member.health_groups_by_category[:preferences].each do | preference| %>
																<button class="alert-warning">
																	<%= preference.name %>
																</button>
														<% end %>
													</div>
												</div>
                      </div>
                    </div>
                    <% if family_member.growth_chart && family_member.growth_chart.growth_entries.length > 0 && family_member.growth_chart.growth_entries.first.energy_requirement == nil%>
                      <div id="update-growth-container-<%=family_member.growth_chart.growth_entries.first.id%>" class="row update-growth-container alert alert-danger">
                        <div class="col-xs-12">
                          <h3>Update</h3>
                       
                          <%= render "/growth_entries/form", growth_chart: family_member.growth_chart, growth_entry: family_member.growth_chart.growth_entries.first %>

                        </div>
                      </div>
                    <% end %>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title text-center">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Growth Chart
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                              <%= render "/growth_entries/form", growth_chart: family_member.growth_chart, growth_entry: growth_entry if current_user %>
                                <%= render "/growth_entries/list", growth_chart: family_member.growth_chart %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title text-center">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Food Diary
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">

                            <%= render "/food_diary_entries/form", food_diary: family_member.food_diary, food_diary_entry: food_diary_entry if current_user %>
                            <%= render "/food_diary_entries/list", food_diary: family_member.food_diary %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title text-center">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Previous Appointments
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            <div class="surveys-container">
                              <% family_member.previous_appointments_patient_focus.each do |appointment|%>
                                <%= render "/families/family_member/family_member_appt_item", appointment: appointment%>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title text-center">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Recommendations
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                          <div class="panel-body">
                            <%= render "/post_recommendations/index", post_recommendations: family_member.post_recommendations %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>