<div id="family-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/user_nav" %>

      <main class="col-xs-10 col-xs-offset-2">
        <section>
          <h1>The <%=@family.name%> Family</h1>
        </section>
        <hr>
        <section class="row">
          <p>Who eats at your table?  Create a profile for yourself and your entire family.  Help your dietitian understand what makes your family's table unique!</p>
          <button class="btn btn-primary">Add Family Member</button>
        </section>
        <section id="family-members-container" class="row">

          <%# @family.family_members.each do |family_member| %>
          <% if @family && @family.children %>
            <% @family.children.each.with_index(1) do |family_member, index| %>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                <div class="col-xs-12">
                  <%= image_tag "icons/add_user_photo.png" %>
                </div>
                <p><%= family_member.full_name%> </p>
                <%= link_to 'Edit', families_edit_family_member_path(@family.id, family_member.id) %>
              </div>
            <% end %>
          <% end %>
  






          <%# end %>

        </section>
<!--         <section id="physician-container" class="row">
          <h3><span class="glyphicon glyphicon-briefcase"></span>Family Physicians</h3>
          <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            <p><b>Primary Care</b></p>
            <p>Dr. Liz Hait</p>
            <p>(781)985-6975</p>
            <p>1 Main Rd</p>
            <p>Cohasset, MA</p>
            <a href="">View</a>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            <p><b>Primary Care</b></p>
            <p>Dr. Liz Hait</p>
            <p>(781)985-6975</p>
            <p>1 Main Rd</p>
            <p>Cohasset, MA</p>
            <a href="">View</a>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            <button class="btn btn-default">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <span class="glyphicon glyphicon-briefcase"></span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <p>ADD A </p>
                <p>PHYSICIAN</p>
              </div>
            </button>
          </div>


        </section> -->

      </main>
      <div class="col-xs-10 col-xs-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>
