
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="paymentModalLabel"><%=image_tag "nav_images/logo.png", class: "img-responsive" %></h4>
      </div>

      <div class="modal-body">
        <div class="row form-group">
          <div class="col-xs-12 text-center">
            <h1><%=purchasable.name%></h1>
            <ul class="text-left">
              <h3><li><%=purchasable.num_full_appointments%> - One hour sessions </li></h3>
              <h3><li><%=purchasable.num_half_appointments%> - Half hour sessions</li></h3>
            </ul>
          </div>
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <div class="col-xs-12 form-group">
              <%= show_purchase_coupon_response(purchase, purchasable) %>
            </div>

            <!--  DISCOUNT CODE BUTTONS -->
            <div class="col-xs-12 form-group">
              <div class="col-xs-8">
                <input type="text" class="form-control hidden" id="coupon-field" placeholder="Enter discount code" name="coupon">
              </div>
              <div class="col-xs-2">
                <button id="coupon-button" class="btn btn-sm btn-link hidden">APPLY DISCOUNT</button>
                <button id="remove-coupon-button" class="btn btn-link">remove discount</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-8 col-xs-offset-2 discount-response">
          </div>
        </div>
        <%= simple_form_for purchase, 
          :url => make_package_payment_path(purchasable, purchase), :method => 'patch' do |f| %>
    
          <% if purchase.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this appointment from being saved:</h2>

              <ul>
              <% purchase.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= show_payment_option(user, purchase, purchasable, f) %>

          <div id="stripe_error">
            <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
          </div>
          <div class="actions">
            <%= f.button :submit, "Submit", class: "btn btn-success btn-block", id: "btn-purchase-appt" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>