

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form form-group" }) do |f| %>
              <%= devise_error_messages! %>


                <div class="form-group col-xs-6">
                  <label for="first-name">First Name</label>
                  <%= f.input_field :first_name, autofocus: true, class: "form-control", type: "text", placeholder: "First" %>
                </div>
                <div class="form-group col-xs-6">
                  <label for="last-name">Last Name</label>
                  <%= f.input_field :last_name, autofocus: true, class: "form-control", type: "text", placeholder: "Last" %>
                </div>
                <div class="form-group col-xs-12">
                  <label for="hospital-or-practice">Hospital or Practice / Academic Affiliation</label>
                  <%= f.input_field :hospitals_or_practices, autofocus: true, class: "form-control", type: "text", placeholder: "Boston Children's Hospital, Harvard Medical" %>
                </div>
                <div class="form-group col-xs-6">
                  <label for="specialty">Specialty</label>
                  <%= f.input_field :specialty, autofocus: true, class: "form-control", type: "text", placeholder: "Pediatric GI" %>
                </div>

                <div class="form-group col-xs-12">
                  <label for="email">Office Fax</label>
                  <small>IMPORTANT: Used for follow up records!</small>
                  <%= f.email_field :fax, autofocus: true, class: "form-control", type: "text", placeholder: "###-###-####" %>
                </div>
                <div class="form-group col-xs-12">
                  <label for="email">Email Address</label>
                  <%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "email@youroffice.com" %>
                </div>

                <div class="form-group col-xs-8 col-xs-offset-2 text-right">
                  <%= f.hidden_field :provider, value: "true" %>
                </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

         
                <div class="form-group col-xs-6">
                  <label for="first-name">Change Password</label>
                  <%= f.password_field :password, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
                    <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
                </div>
                <div class="form-group col-xs-6">
                  <label for="last-name">Confirm New Password</label>
                  <%= f.password_field :password_confirmation, autofocus: false, class: "form-control", type: "password", placeholder: "secret sauce" %>
                </div>

              <div class="form-group col-xs-12">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              </div>
              <div class="form-group col-xs-12">
                <%= f.submit "Update", class: "btn btn-lg btn-success" %>
              </div>
            <% end %>
            <div class="row">
              
              <div class="col-xs-12">
                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-xs btn-danger" %></p>

              </div>
            </div>