<div id="fullpage" class="home-page">
    <div class="section section-1">
    	<div class="section-1-top">	
    		<button id="member-sign-in-button" class="btn btn-success btn-lg">Members Sign In</button>
    		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
    			<%= image_tag("landing_page/momandchild.png", class: "img-mom-and-child", alt: "Kindrdfood-mom")	%>
    		</div>
    		<div id="logo-container" class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    			<%= image_tag("landing_page/kindrdfood-logo.jpg", class: "img-kindrdfood-logo") %>
    		</div>
    		<h3>
    			<a id="about-kindrdfood-link" href="#">
    				<div class="arrow-down">
    				</div>
    				About
    			</a>
    		</h3>
    		<ul id="menu-bar" class="hidden">
    			<li class="col-xs-3"><a class="section-link" data-section="2" href="#">The Problem</a></li>
    			<li class="col-xs-3"><a class="section-link" data-section="4" href="#">Our Team</a></li>
    			<li class="col-xs-3"><a class="section-link" data-section="3" href="#">Who We Help</a></li>
    			<li class="col-xs-3"><a class="section-link" data-section="5" href="#">What We Do</a></li>
    		</ul>
    	</div> 
    	<div class="section-1-bottom">
    		<div class="section-1-bottom-background">	
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    					<div class="intro-container">
	    					<h4>We believe that everyone should be able to enjoy a variety of great tasting food regardless of dietary restrictions, medical conditions or healthy motives.</h4>
	    					<h4>Feeding a family can be hard though, especially if you want or need to eat with intention. There is a lot to navigate and it’s time you had some trustworthy support.
	    					<h4>Kindrdfood is a guide and partner to families who have to change the way that they eat, buy and prepare food. We help by empowering them to navigate change and master their everyday challenges.<button class="btn btn-success btn-md hidden-sm hidden-md hidden-lg sign-up-modal-button">Sign Up</button></h4>
    					</div>
    				</div>
    				<div class="home-page-form hidden-xs col-sm-6 col-md-6 col-lg-6">
								<%= simple_form_for(@new_user, as: "user", url: user_registration_path, html: {class: 'form-inline col-xs-10 col-xs-offset-1', role:"form" }) do |f| %>
									<%#= render "/layouts/alerts" %>
										<h1 class="form-group">Join the community!</h1>
    								<h4 class="form-group">To receive updates on our public launch or to request early access to our solution, let us know who you are and how to reach you:</h4>
										<div class="col-xs-6 form-group form-fields">
							      	<%= f.email_field :first_name, autofocus: true, class: "form-control", type: "text", placeholder: "First Name" %>
							      </div>
										<div class="col-xs-6 form-group form-fields">
							      	<%= f.email_field :last_name, autofocus: true, class: "form-control", type: "text", placeholder: "Last Name" %>
							      </div>
										<div class="col-xs-12 form-group form-fields">
							      	<%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "Email Address" %>
							      </div>
							      <input name="user[home_page]" value="true" type="hidden">
										<div class="col-xs-12 checkbox form-group">
											<h4>
											    <label>
											      <input name="user[early_access]" value="true" type="checkbox"> Yes, I'd love early access to Kindrdfood!
											    </label>
											</h4>
										</div>
								    <div class="col-xs-8 col-xs-offset-2 form-group">
									  	<%= f.button :submit, "Join Us!", class: "btn btn-success btn-sign-up", type: "submit" %>
									  </div>
								<% end %>
								<!-- </form> -->
    				</div>
    				<div class="home-page-form hidden hidden-xs col-sm-6 col-md-6 col-lg-6">
    					<%= simple_form_for(@new_user, as: "user", url: session_path("user"), html: {class: 'form-inline col-xs-10 col-xs-offset-1', role:"form" }) do |f| %>
								<%#= render "/layouts/alerts" %>
									<h1>Welcome back!</h1>
  								<h4 class="form-group">Sign in to get started:</h4>
			
									<div class="col-xs-12 form-group form-fields">
			      				<%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "Email" %>
						      </div>
									<div class="col-xs-12 form-group form-fields">
			    					<label class="sr-only" for="exampleInputPassword2">Password</label>
			    					<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", type: "password" %>
						      </div>
						      <input name="user[home_page]" value="true" type="hidden">
								  <div class="col-xs-12 checkbox form-group">
								    <label>
								      <input type="checkbox"><span class="white-font"> Remember </span>
								    </label>
								  </div>
							    <div class="col-xs-8 col-xs-offset-2 form-group">
								  	<%= f.button :submit, "Sign in", class: "btn btn-success btn-sign-up", type: "submit" %>
								  </div>
									<div class="col-xs-12 text-left">
						<!-- 				snippet from shared/links, should be made into a partial -->
										<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'  %>
										  <%= link_to "Forgot your password?", new_password_path("user") %><br />
										<%# end -%>
						<!-- 				snippet from shared/links, should be made into a partial -->
									</div>
							<% end %>
								<!-- </form> -->
    				</div>
    			</div>

    		</div>

    	</div>
    	<div class="page-arrow arrow-down"></div>
    </div>
    <div class="section section-2">
    	<div class="section-2-top hidden-xs	 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
    		<h1 class="dark-green-font">For families changing how they eat, </br>there are many challenges</h1>
    	</div>
    	<div class="section-2-bottom col-xs-12">
    		<div class="section-2-bottom-background">
    			<ul>
	    			<li>
	    				<h2>The path to trustworthy information has been clouded</h2>
	    				<h4>Misinformation everywhere</h4>
	    				<h4>Contaminated with product marketing</h4>
							<h4>Online chatter from questionable sources</h4>
							<h4>Conflicting arguments yield confusion</h4>
	    			</li>
	    			<li>
	    				<h2>Expert guidance is hard to find & disconnected</h2>
	    				<h4>Doctors are not setup to guide how families eat</h4>
							<h4>Nutrition & practical challenges are often separated</h4>
							<h4>Few well suited experts are accessible</h4>
							<h4>Most guidance is disconnected from medical care</h4>
	    			</li>
	    			<li>
	    				<h2>Everyday challenges remain under-supported </h2>
							<h4>Scattered Mobile Apps only address one issue at a time</h4>
							<h4>Most guidance has no support to implement change</h4>
							<h4>Challenges change over time & advice gets old fast</h4>
							<h4>Most changes require planning ahead which is hard</h4>
	    				    <button class="btn btn-success btn-md hidden-md hidden-lg sign-up-modal-button">Get help now! </button></h2>
	    			</li>
    			</ul>	
    			<div id="container1" class="hidden-xs hidden-sm col-md-3 col-lg-3">
    				<button class="btn btn-success sign-up-button">Get help now!</button>
    			</div>
    		</div>
    	</div>
      <div class="page-arrow arrow-down"></div>
    </div>
    <div class="section section-4">
    	<div id="section-4-background">
    		<div class="section-4-top col-xs-12 text-center">
    			<h1 class="dark-green-font"> The Kindrdfood Team - It sizzles.</h1>
    		</div>
    		<div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
	    			<h5 class="text-center">Medical Advisory Board</h5>
	    			<ul class="form-group">
	    				<p><li>Primary care physicians & specialists</li></p>
	    				<p><li>Top academic medical thought leaders</li></p>
	     				<p><li>Experts in conditions with nutrition needs</li></p>
	    			</ul>
    				<h5 class="text-center">Amazing Professional Chefs</h5>
	    			<ul>
	    				<p><li>Expert professional culinary specialists</li></p>
	    				<p><li>Experienced in the very best kitchens</li></p>
	     				<p><li>Trained in preparing food for special diets</li></p>
	     				<a class="typeform-share btn btn-success hidden-sm hidden-md hidden-lg" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
	    			</ul>
    		</div>
    		<div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
    				<h5 class="text-center">Experienced Nutrition Team</h5>
	    			<p class="text-center">100% Registered Dietitians </p>
	    			<ul class="form-group">
	    				<p><li>Thorough pediatric experience</li></p>
	    				<p><li>Additionally trained for highest quality service</li></p>
	     				<p><li>Thoroughly validating all client materials</li></p>
	    			</ul>
	    			<h5 class="text-center">Technology & Digital Marketing Specialists</h5>
	    			<ul>
	    				<p><li>Leveraging the latest technical capabilities</li></p>
	    				<p><li>Building a customized experience for our users</li></p>
	     				<p><li>Reaching you where and when it helps you</li></p>
	    			</ul>
    		</div>
    		<div class="hidden-xs col-sm-12 hidden-md hidden-lg">
    			<a class="typeform-share btn btn-success btn-big" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="col-xs-6 col-xs-offset-6">
	    			<h3 class="text-center">Medical Advisory Board</h3>
	    			<ul>
	    				<h4><li>Primary care physicians & specialists</li></h4>
	    				<h4><li>Top academic medical thought leaders</li></h4>
	     				<h4><li>Experts in conditions with nutrition needs</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="section-4-middle col-xs-6 ">
	    			<h3 class="text-center">Experienced Nutrition Team</h3>
	    			<h3 class="text-center">All Registered Dietitians </h3>
	    			<ul>
	    				<h4><li>Thorough pediatric experience</li></h4>
	    				<h4><li>Additionally trained for highest quality service</li></h4>
	     				<h4><li>Thoroughly validating all client materials</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="section-4-middle col-xs-6 col-xs-offset-6">
	    			<h3 class="text-center">Amazing Professional Chefs</h3>
	    			<ul>
	    				<h4><li>Expert professional culinary specialists</li></h4>
	    				<h4><li>Experienced in the very best kitchens</li></h4>
	     				<h4><li>Trained in preparing food for special diets</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
   				<div class="col-xs-6">
	    			<h3 class="text-center">Technology & Digital Marketing Specialists</h3>
	    			<ul>
	    				<h4><li>Leveraging the latest technical capabilities</li></h4>
	    				<h4><li>Building a customized experience for our users</li></h4>
	     				<h4><li>Reaching you where and when it helps you</li></h4>
	    			</ul>
	    		</div>
	    		<div class="col-xs-6 text-center">
	    			<a class="typeform-share btn btn-success btn-big" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
	    		</div>
    		</div>
    	</div>
      <div class="page-arrow arrow-down"></div>
    </div>
    <div id="section-3" class="section section-3">
  		<div id="section-3-top" class="col-xs-12">
    		<h1 class="dark-green-font text-center">Kindrdfood helps many kinds of families enjoy great food</h1>
    	</div>
    	<div id="section-3-background" class="col-xs-12">
	    	<div class="col-xs-12">
	    		<div class="hidden-xs hidden-sm col-md-5 col-lg-5">
	    			<h2 class="text-center">Families dealing with health limitations</h2>
	    			<ul>
	    				<h4><li>Dietary restrictions like food allergies & intolerances</li></h4>
							<h4><li>Medical conditions with nutritional requirements</li></h4>
							<h4><li>New diagnosis or existing conditions</li></h4>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
	    			<h2 class="text-center">Families with healthy intentions</h2>
	    			<ul>
	    				<h4><li>New babies & developing children</li></h4>
							<h4><li>Seeking to establish good habits & skills</li></h4>
							<h4><li>Seeking guidance to navigate food sensibly</li></h4>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	    			<h2 class="text-center">Families with a desire to enjoy better food</h2>
	    			<ul>
	    				<h4><li>Lack of variety in family meals</li></h4>
							<h4><li>Seeking a better sense of taste in everyday meals</li></h4>
							<h4><li>Discomfort in the kitchen, store or at the table</li></h4>
							<button class="btn btn-success btn-md hidden-sm hidden-md hidden-lg sign-up-modal-button">Meet a KindRDNutritionist</button>
	    			</ul>
	    		</div>
	    	</div>
			</div>
      <div class="page-arrow arrow-down"></div>
    </div>
    <div id="section-5" class="section section-5">
  		<div id="section-5-top" class="col-xs-10 col-xs-offset-1">
    		<h1 class="dark-green-font text-center">Guidance & information should be easy to trust, at your fingertips, and delivered with a smile!</h1>
    	</div>
    	<div class="col-xs-12 section-5-bottom">
	    	<div class="col-xs-12">
	    		<div class="col-xs-4">
	    			<%= image_tag("landing_page/child_eating_watermelon.jpg", alt: "Kindrdfood-child")	%>
	    		</div>
	    		<div class="col-xs-8 ">
	    			<h2 class="text-center">Kindrdfood offers a means for a new & better approach to food</h2>
	    			<ul>
	    				<h4><li>Learn from trusted, convenient sources</li></h4>
							<h4><li>Gain confidence to make everyday tasks easier</li></h4>
							<h4><li>Enjoy amazing food with the whole family</li></h4>
	    			</ul>
	    			<a class="section-link" data-section="1" href="#">
			    	<div class="col-xs-6 col-xs-offset-3 text-center beta-message">
			    		<h1>Private Beta</h1>
			    		<h4>Currently, Kindrdfood is in a private beta phase in which only selected families are offered early access. We would be delighted to hear from you if you would like to request access or simply receive notifications of our public launch!</h4>
			    	</div>
			    	</a>
	    		</div>
	    	</div>
			</div>
    </div>
</div>

<% if @thanks == "Thanks1" %>
	<%= render "thanks_1_modal" %>
<% end %>
<% if @thanks == "Thanks2" %>
	<%= render "thanks_2_modal" %>
<% end %>

<%= render "sign_up_modal" %>