







<div id="fullpage" class="home-index">
    <div class="section section-1">
    	<div class="section-1-top">	
    		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5">
    			<%= image_tag("landing_page/momandchild.png", class: "img-mom-and-child", alt: "Edit Entry")	%>
    		</div>
    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-center">
    			<%= image_tag("landing_page/kindrdfood-logo.jpg", class: "img-kindrdfood-logo") %>
    			<h3 class="light-orange-font">Your family deserves to enjoy great tasting food everyday and we know it’s not easy with a dietary restriction.</h3>
    			<h1 class="light-green-font">Kindrdfood can help.</h1>
    			<h4 class="light-orange-font">Our team includes experts in food allergies, intolerances, EoE, FPIES, CSID, child developmental nutrition and more.</h4>
    		</div>
    	</div> 
    	<div class="section-1-bottom">
    		<div class="section-1-bottom-background">	
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    					<h3 id="offer-font">One hour introductory session with a specially matched KindRDNutritionist for only <span>$89</span>      	<button class="btn btn-success btn-md hidden-sm hidden-md hidden-lg sign-up-modal-button">Sign Up</button></h3>
    				</div>
    				<div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
								<%= simple_form_for(@new_user, as: "user", url: user_registration_path, html: {class: 'form-inline col-xs-10 col-xs-offset-1', role:"form" }) do |f| %>
									<%#= render "/layouts/alerts" %>
										<div class="col-xs-12 form-group form-fields">
							    	<label for="exampleInputPassword2">Email</label>
							      <%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "friend@dinner.com" %>
							      </div>
							      <div class="col-xs-12 form-group form-fields">
								    <label for="exampleInputPassword2">Password</label>
								    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "secret sauce", type: "password" %>
								    </div>
								    <div class="col-xs-12 form-group form-fields">
									    <label for="exampleInputPassword2">Confirm Password</label>
									    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "secret sauce", type: "password"%>
								    </div>
								    <div class="col-xs-8 col-xs-offset-2 form-group">
									  <%= f.button :submit, "SCHEDULE TODAY!", class: "btn btn-success btn-sign-up", type: "submit" %>
									  </div>
								<% end %>
								<!-- </form> -->
    				</div>
    			</div>
    			<ul class="row">
    				<li class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="section-link" data-section="2" href="#">How Kindrdfood helps</a></h4></li>
    				<li class="col-xs-1 arrow-down"></li>
    				<li class="col-xs-4"><h4><a class="section-link" data-section="3" href="#">Specific guidance</a></h4></li>
    				<li class="col-xs-1 arrow-down"></li>
    				<li class="hidden-xs col-xs-sm-4 col-md-3 col-lg-3"><h4><a class="section-link" data-section="4" href="#">Kindrdfood team</a></h4></li>
    			</ul>
    		</div>

    	</div>
    </div>
    <div class="section section-2">
    	<div class="section-2-top hidden-xs	 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
    		<h2 class="dark-green-font">Guidance & information should be easy to trust, at your fingertips and delivered with a smile!</h2>
    	</div>
    	<div class="section-2-bottom col-xs-12">
    		<div class="section-2-bottom-background">
    			<ul>
	    			<li>
	    				<h2>Learn everything you need, fast</h2>
	    				<h4>One-on-One guidance with expert Dietitians through video or phone</h4>
	    				<h4>Personalized cooking, recipes, and nutrition content for your family</h4>
							<h4>Everything you need to learn, all in one place</h4>
							<h4>Whenever & wherever convenient for you </h4>
	    			</li>
	    			<li>
	    				<h2>Gain confidence to make everyday tasks easier</h2>
	    				<h4>Support with strategies and tactics to tackle challenges</h4>
							<h4>Trust the information and guidance that you receive</h4>
							<h4>Practical training specific to your family profile</h4>
							<h4>Make the kitchen, store and table your comfort zones</h4>
	    			</li>
	    			<li>
	    				<h2>Enjoy amazing food with the whole family.     <button class="btn btn-success btn-md hidden-sm hidden-md hidden-lg sign-up-modal-button">Start Now</button></h2>
	    				<h4></h4>
	    			</li>
    			</ul>	
    			<div id="container1" class="hidden-xs col-sm-3 col-md-3 col-lg-3">
    				<button class="btn btn-success sign-up-button">Sign Up</button>
    				<%= image_tag("landing_page/chopsuey.png", class: "hidden-xs hidden-sm hidden-md") %>
    			</div>
    		</div>
    	</div>
    </div>
    <div id="section-3" class="section section-3">
    	<div id="section-3-background">

	    	<div class="col-xs-12">
	    		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0 col-lg-7 col-lg-offset-0">
	    			<%=image_tag("landing_page/videoconf.png", class: "img-responsive")%>
	    		</div>
	    		<div class="hidden-xs hidden-sm col-md-5 col-lg-5">
	    			<h2 class="text-center">Guidance for all things family & food.</h2>
	    			<ul>
	    				<h4><li>Vast knowledge in dietary restrictions & medical conditions with nutrition needs</li></h4>
							<h4><li>Personalized follow up materials to help you take action on what you learn</li></h4>
							<h4><li>All materials, like articles and recipes are thoroughly validated by our team of experts</li></h4>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	    			<h2 class="text-center">Who is your KindRDNutritionist?</h2>
	    			<ul>
	    				<h4><li>Matched personally to your family needs</li></h4>
							<h4><li>Expert Registered Dietitian</li></h4>
							<h4><li>Specially trained in pediatric dietary restrictions</li></h4>
							<h4><li>Connected when & where you want by video or phone</li></h4>
	    				<h4 class="hidden-lg hidden-md hidden-sm"><li>Vast knowledge in dietary restrictions & medical conditions with nutrition needs</li></h4>
							<h4 class="hidden-lg hidden-md hidden-sm"><li>Personalized follow up materials to help you take action on what you learn</li></h4>
							<h4 class="hidden-lg hidden-md hidden-sm"><li>All materials, like articles and recipes are thoroughly validated by our team of experts</li></h4>
							<button class="btn btn-success btn-md hidden-sm hidden-md hidden-lg sign-up-modal-button">Meet a KindRDNutritionist</button>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="hidden-xs col-sm-12 col-md-12 col-lg-12 text-center">
	    		<h1>Should we connect you to your new partner in food?</h1>
	    		<button class="sign-up-button">Start My Profile!</button>
	    	</div>
			</div>
    </div>
    <div class="section section-4">
    	<div id="section-4-background">
    		<div class="section-4-top col-xs-12 text-center">
    			<h1> The Kindrdfood Team - It sizzles.</h1>
    		</div>
    		<div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
	    			<h5 class="text-center">Medical Advisory Board</h5>
	    			<ul class="form-group">
	    				<p><li>Primary care physicians & specialists</li></p>
	    				<p><li>Top academic medical thought leaders</li></p>
	     				<p><li>Experts in conditions with nutrition needs</li></p>
	    			</ul>
    				<h5 class="text-center">Amazing Professional Chefs</h5>
	    			<ul>
	    				<p><li>Expert professional culinary specialists</li></p>
	    				<p><li>Experienced in the very best kitchens</li></p>
	     				<p><li>Trained in preparing food for special diets</li></p>
	     				<a class="typeform-share btn btn-success hidden-sm hidden-md hidden-lg" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
	    			</ul>
    		</div>
    		<div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
    				<h5 class="text-center">Experienced Nutrition Team</h5>
	    			<p class="text-center">100% Registered Dietitians </p>
	    			<ul class="form-group">
	    				<p><li>Thorough pediatric experience</li></p>
	    				<p><li>Additionally trained for highest quality service</li></p>
	     				<p><li>Thoroughly validating all client materials</li></p>
	    			</ul>
	    			<h5 class="text-center">Technology & Digital Marketing Specialists</h5>
	    			<ul>
	    				<p><li>Leveraging the latest technical capabilities</li></p>
	    				<p><li>Building a customized experience for our users</li></p>
	     				<p><li>Reaching you where and when it helps you</li></p>
	    			</ul>
    		</div>
    		<div class="hidden-xs col-sm-12 hidden-md hidden-lg">
    			<a class="typeform-share btn btn-success btn-big" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="col-xs-6 col-xs-offset-6">
	    			<h3 class="text-center">Medical Advisory Board</h3>
	    			<ul>
	    				<h4><li>Primary care physicians & specialists</li></h4>
	    				<h4><li>Top academic medical thought leaders</li></h4>
	     				<h4><li>Experts in conditions with nutrition needs</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="section-4-middle col-xs-6 ">
	    			<h3 class="text-center">Experienced Nutrition Team</h3>
	    			<h3 class="text-center">All Registered Dietitians </h3>
	    			<ul>
	    				<h4><li>Thorough pediatric experience</li></h4>
	    				<h4><li>Additionally trained for highest quality service</li></h4>
	     				<h4><li>Thoroughly validating all client materials</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
	    		<div class="section-4-middle col-xs-6 col-xs-offset-6">
	    			<h3 class="text-center">Amazing Professional Chefs</h3>
	    			<ul>
	    				<h4><li>Expert professional culinary specialists</li></h4>
	    				<h4><li>Experienced in the very best kitchens</li></h4>
	     				<h4><li>Trained in preparing food for special diets</li></h4>
	    			</ul>
	    		</div>
    		</div>
    		<div class="hidden-xs hidden-sm col-md-12 col-lg-12">
   				<div class="col-xs-6">
	    			<h3 class="text-center">Technology & Digital Marketing Specialists</h3>
	    			<ul>
	    				<h4><li>Leveraging the latest technical capabilities</li></h4>
	    				<h4><li>Building a customized experience for our users</li></h4>
	     				<h4><li>Reaching you where and when it helps you</li></h4>
	    			</ul>
	    		</div>
	    		<div class="col-xs-6 text-center">
	    			<a class="typeform-share btn btn-success btn-big" href="https://david90.typeform.com/to/w5NlJc" data-mode="1" target="_blank">Join our team!</a>
	    		</div>
    		</div>
    	</div>
    </div>
</div>
<%= render "sign_up_modal" %>

<!-- TYPE FORM SCRIPT -->
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>




