
<div id="welcome-add-family" class="fork-background" >

	<div id="addFamilyModel" style="display: block;">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-body">
	       
	       	<!--  REGISTRATION BREAD CRUMBS -->
	        <%= render "breadcrumbs", stage_of_registration: @stage_of_registration %>

	        <!--  HEADING -->
	        <h1>Who is this appointment for?</h1>
	        <h4>Select one person as the focus of the appointment.</h4>

	        <!-- 	APPT FOCUS SELECTION -->
	        <%= render "welcome/add_family/appointment_focus_select", user: @user, family: @family %>

					<!-- 	FORM FOR SELF-->
					 <%= render "welcome/add_family/form_for_self", user: @user %>

					<!-- 	FORMS FOR OTHER FAMILY MEMBERS -->
					<%= render "welcome/add_family/form_for_others", family: @family %>

					<!-- 	FORMS FOR NEW FAMILY MEMBER -->
					<%= render "welcome/add_family/form_for_new", new_user: @new_user %>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</div>


