
<div id="get-started-page" class="fork-background" >

	<div id="addNutritionModel" class="modal fade in" style="display: block;">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-body">
	        <%= image_tag("/assets/logos/kf-logo-registration.png", class: "img-responsive logo") %>
	        <%= render "breadcrumbs" %>
	        <h1>Symptoms that apply to <%=@user.first_name%></h1>
	        <h4>To deselect, simply click on the square again.</h4>
					
					<%= simple_form_for(@user, :url => {:controller => 'welcome', :action => 'build_preferences'}, html: { method: :patch, class: 'col-xs-12 text-center', role:"form" }) do |f| %>

						<div id="health-group-container" class="row">
							<%= f.collection_check_boxes :patient_group_ids, @symptoms, :id, :name, :checked => @user.health_group_ids %>

						 		<div id="add-disease-button" class="add-another-disease">Add Another</div>
						 		<div id="add-disease-form" class="add-another-disease-form hidden">
							 		<input id="new-health-group-field" type="text" placeholder="Autism" class="form-control-12"/>
							 		<button id="new-health-group-button" type="button" class="btn btn-block btn-warning">Add</button>

						 		</div>
						</div>
						<div class="row triggers-container form-group">
							<h4>Select any food preferences.</h4>
							<%= f.collection_check_boxes :patient_group_ids, @diets, :id, :name, :checked => @user.health_group_ids, :item_wrapper_class => 'col-xs-6 col-sm-4 form-group' %>
							<%# @diets.each do |diet| %>
				<!-- 				<div class="col-xs-6 col-sm-4 form-group">
						  		
						  		
						  			<input id="user_patient_group_ids_<%#=diet.id%>" name="user[patient_group_ids][]" type="checkbox" value="<%#=diet.id%>">

						  			<label class="checkbox-inline" for="user_patient_group_ids_<%#=diet.id%>"><%#=diet.name%></label>
						  		</div> -->
						  <%# end %>
						  <div id="add-allergy-container" class="col-xs-12 form-group">
							  <input id="add-allergy-field" type="text", placeholder="Blueberries">
								<button id="new-allergy-group-button" class="btn btn-sm btn-warning">Add Another</button>
						  </div>	
							
						</div>

					  <div class="actions text-right">
					    <%= f.button :submit, "Next", class: "btn btn-primary btn-lg" %>
					  </div>
					<% end %>
			
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	

</div>


