
<!-- USER DASHBOARD aka WELCOME PAGE -->

<div id="welcome-page" class="container-fluid">
	<div class="row">

		<!-- USER NAV-->
		<%= render "/layouts/navbars/user_nav" %>

		<main class="col-xs-12 col-sm-10 col-sm-offset-2">

			<!-- ALERTS-->
		  <section class="alerts-container">
          <%= render "/layouts/alerts" %>
      </section>

      <!-- JUMBOTRON -->
			<section class="jumbotron">
				<div id="jumbotron-inner" class="row">
					<%= user_appointment_prompt(@upcoming_appointment, @unpaid_appointment) %>
				</div>
			</section>

			<!-- UPCOMING APPOINTMENTS TABLE -->
			<section class="content-container">
				<%= render "welcome/home/upcoming_appointments_table", upcoming_appointments: @upcoming_appointments %>
			</section>

			<!-- PREVIOUS APPOINTMENTS TABLE -->
			<section class="content-container recipes">
				<%= render "welcome/home/previous_appointments_table", previous_appointments: @previous_appointments %>
			</section>

		</main>
		<div class="col-xs-12 col-sm-10 col-sm-offset-2">
			<%=render "/layouts/footers/main_footer" %>
		</div>
	</div>
</div>

<!-- RESCHEDULE MODAL -->
<%=render "legal/disclaimers/reschedule_cancellation" %>

<!-- CONTACT US MODAL -->
<%=render "welcome/home/contact_us_modal" %>