<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/user_nav" %>

			<main class="col-xs-10 col-xs-offset-2">
				<section class="jumbotron">
					<div id="jumbotron-inner" class="row">
						<% if @upcoming_appointment && @upcoming_appointment.status == "Paid"  %>
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="row">
								<h2>YOUR NEXT SESSION IS:</h2>
							</div>
							<hr>
							<div class="row">
								<h1><%= @upcoming_appointment.date%> </h1>
								<h1><%= @upcoming_appointment.time%> EST</h1>
							</div>
							<hr>
							<p>You may login 10 minutes <span class="glyphicon glyphicon-time"></span> before your appointment.</p>
							<div class="row">
								<div class="col-xs-12 session-action">
									<% if @upcoming_appointment.start_time < Time.now + 10.minutes %>
										<%= button_to 'Join Session', {:controller => "rooms", :action => "in_session", :id => @upcoming_appointment.room_id, appointment: @upcoming_appointment.id, class: "btn btn-primary"} do %>
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-heart"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>START</p>
												<p>APPOINTMENT</p>
											</div>
											<% end %>
									<% else %>
										<p>Take a moment to prepare for your session</p>
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<button class="btn btn-primary">
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-edit"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>SESSION</p>
												<p>PREP</p>
											</div>
										</button>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<button class="btn btn-default">
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-comment"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>CONTACT</p>
												<p>YOUR KRDN</p>
											</div>
										</button>
									</div>
									<% end %>

								</div>
							</div>
						</div>
						<% elsif @upcoming_appointment && @upcoming_appointment.status ==  "Follow Up Unpaid"%>
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="row">
								<h2>YOUR NEXT SESSION IS:</h2>
							</div>
							<hr>
							<div class="row">
								<h1><%= @upcoming_appointment.date%> </h1>
								<h1><%= @upcoming_appointment.time%> EST</h1>
							</div>
							<hr>
							<div class="row">
								<div class="col-xs-12 session-action">
									<p>This appointment has not been confirmed.  Please confirm the appointment below.</p>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-3 col-lg-6">
										<button class="btn btn-primary">
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-edit"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>CONFIRM</p>
												<p>APPOINTMENT</p>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<% else %>
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="row">
								<h2> </h2>
							</div>
							<hr>
							<div class="row">
								<h1>SCHEDULE YOUR NEXT APPOINTMENT</h1>
							</div>
							<hr>
							<div class="row">
								<div class="col-xs-12 session-action">
									<p>Need help?</p>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<button class="btn btn-primary">
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-calendar"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>MAKE</p>
												<p>APPOINTMENT</p>
											</div>
										</button>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<button class="btn btn-default">
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-comment"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>CONTACT</p>
												<p>YOUR KRDN</p>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</section>
				<section class="content-container recipes">
					<h3><span class="glyphicon glyphicon-list-alt"></span>Recipes</h3>
					<div class="recipe col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="Shrimp Scampi Soup" data-content="And here's some amazing content. It's very engaging. Right? <span>Read more...</span>" data-html="true">
						<p class="new">NEW!</p>

					</div>
					<div class="recipe col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item">
						<p class="new">NEW!</p>

					</div>
					<div class="recipe col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item">

					</div>

				</section>
				<section class="content-container articles">
					<h3><span class="glyphicon glyphicon-duplicate"></span>Articles</h3>
					<div class="article col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item">
						<p class="new">NEW!</p>

					</div>
					<div class="article col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item">
						<p class="new">NEW!</p>

					</div>
					<div class="article col-xs-12 col-sm-5 col-md-3 col-lg-3 content-item">

					</div>
				</section>
				<section class="content-container sessions">
					<h3><span class="glyphicon glyphicon-calendar"></span>Sessions</h3>
					<div class="session col-xs-12 col-sm-5 col-md-3 col-lg-3">
						<p>May 5, 2015</p>
						<p>with Tara McCarthy, RDN</p>
						<a href="">View</a>
					</div>
					<div class="session col-xs-12 col-sm-5 col-md-3 col-lg-3">
						<p>May 5, 2015</p>
						<p>with Tara McCarthy, RDN</p>
						<a href="">View</a>
					</div>
					<div class="session col-xs-12 col-sm-5 col-md-3 col-lg-3">
						<button class="btn btn-primary">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								<p>SCHEDULE A </p>
								<p>NEW SESSION</p>
							</div>
						</button>
					</div>


				</section>

			</main>
			<div class="col-xs-10 col-xs-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->