<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/dietitian_nav" %>

			<main class="col-xs-10 col-xs-offset-2">
				<section class="jumbotron">
					<div id="jumbotron-inner" class="row">



					 	<div class="form-group col-xs-12 form-group text-center">
					 		<h2>Welcome back to the kitchen, 
					 		<% if current_dietitian.first_name == nil %>
								<%=link_to edit_dietitian_registration_path do %>
						      <span class="glyphicon glyphicon-user"></span> Add Your Name!
						    <% end %>
						  <% else %>
						  	<%= current_dietitian.first_name %>
						  <% end %>
					 		<% if current_dietitian.main_avatar != false %>
					 			<%= image_tag current_dietitian.main_avatar.thumb.url%>
							<% else %>
							<div id="home-screen-alert" class="col-xs-4 col-xs-offset-4 alert alert-danger">
								<%=link_to edit_dietitian_registration_path do %>
								 	<%= image_tag "placeholders/face.jpg"%>
					        <span class="glyphicon glyphicon-user"></span> Add Your Profile Picture!
					      <% end %>
					     </div>
							<% end %>
					 	</div>

						<% if (@next_appointment && ( (@next_appointment.status == "Paid") || (@next_appointment.status == "Unused Package Session") ) ) %>
							<div class="col-xs-12 col-sm-8 col-sm-offset-2">
								<div class="row">
									<h2>YOUR NEXT SESSION IS:</h2>
								</div>
								<hr>
								<div class="row">
									<h1><%= @next_appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%> </h1>
								</div>
								<hr>
								<p>You may login 10 minutes <span class="glyphicon glyphicon-time"></span> before your appointment.</p>
								<div class="row">
									<div class="col-xs-12 session-action">
										<% if @next_appointment != nil && @next_appointment.room_id != nil %>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

												<%=link_to in_session_room_path(:id => @next_appointment.room_id, appointment: @next_appointment.id), :class=> "btn btn-primary" do %>
													<div class="col-xs-3">
														<p><span class="glyphicon glyphicon-exclamation-sign"></span></p>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
														<p>ENTER</p>
														<p>SESSION</p>
													</div>
												<% end %>
												<p><%=@next_appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%></p>
												<p><%=@next_appointment.family_info.family_names%></p>
												<button data-appt-id="<%=@next_appointment.id%>" class="btn btn-sm btn-success prep-appointment-button">Prep</button>
											</div>
										<% else %>
											<div class="col-xs-12">
												<p><%= link_to image_tag("chef-hat.png", class: "tilt"), :controller => "recipes", :action => "new" %>	</p>
												<p>Create a Recipe</p>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						<% else %>
							<div class="col-xs-12 col-sm-8 col-sm-offset-2">
								<div class="row">
									<h2> </h2>
								</div>
								<hr>
								<div class="row">
									<h1>No appointments today.</h1>
								</div>
								<hr>
							</div>
						<% end %>
					</div>
				</section>
				<section class="content-container recipes">
					<h3><span class="glyphicon glyphicon-calendar"></span>Upcoming Appointments</h3>
					<div id="appointment-update-container">
						<% if @upcoming_appointments.count >= 1%>
							<% @upcoming_appointments.each do |date_time_array, appointment| %>
							
								<div class="recipe col-xs-12  content-item" >
									<p class="new">	<%=date_time_array[0].in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y")%> <%=date_time_array[1]%></p>
					
									<p><%=appointment.first.family_info.family_names%></p>
				
									<% if appointment.first.prepped == true %>
										<button data-appt-id="<%=appointment.first.id%>" class="btn btn-sm btn-success prep-appointment-button">Prep</button>
									<% else %>
										<button data-appt-id="<%=appointment.first.id%>" class="btn btn-sm btn-danger prep-appointment-button">Prep</button>
									<% end %>

									<% if (current_dietitian.has_role? "Admin Dietitian") && (appointment.first.room_id) %>
										<%= link_to "Join", {:controller => "rooms", :action => "in_session", :id => appointment.first.room_id, appointment: appointment.first.id }%>
									<% end %>
									<% appointment.first.family_info.health_groups_names.each do |health_group|%>
							 			<div class="btn btn-white-orange btn-sm">
							 				<%=	health_group %>
							 			</div>
									<% end %>
								</div>
							<% end %>
						<% else %>
							<div class="empty-list-container col-xs-12">
								<h3>No upcoming appointments.</h3>
							</div>
						<% end %>
					</div>
				</section>
				<section class="content-container recipes">
					<h3><span class="glyphicon glyphicon-calendar"></span>Previous Appointments</h3>
					<div id="previous-appointments-container">
						<% if @previous_appointments.count >= 1%>
							<% @previous_appointments.each do |date_time_array, appointment| %>
										<div class="recipe col-xs-12  content-item" >
									<p class="new">	<%=date_time_array[0].in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y")%> <%=date_time_array[1]%></p>
					
									<p><%=appointment.first.family_info.family_names%></p>
				
									<% if appointment.first.prepped == true %>
										<button data-appt-id="<%=appointment.first.id%>" class="btn btn-sm btn-success prep-appointment-button">Prep</button>
									<% else %>
										<button data-appt-id="<%=appointment.first.id%>" class="btn btn-sm btn-danger prep-appointment-button">Prep</button>
									<% end %>

									<% if (current_dietitian.has_role? "Admin Dietitian") && (appointment.first.room_id) %>
										<%= link_to "Join", {:controller => "rooms", :action => "in_session", :id => appointment.first.room_id, appointment: appointment.first.id }%>
									<% end %>
									<% appointment.first.family_info.health_groups_names.each do |health_group|%>
							 			<div class="btn btn-white-orange btn-sm">
							 				<%=	health_group %>
							 			</div>
									<% end %>
								</div>
							<% end %>
						<% else %>
							<div class="empty-list-container col-xs-12">
								<h3>No previous appointments.</h3>
							</div>
						<% end %>
					</div>
				</section>
				




			</main>
			<div class="col-xs-10 col-xs-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>


