<!-- KRDN DASHBOARD  -->
<div id="welcome-page" class="container-fluid">
		<div class="row">

		<!-- KRDN NAV-->
			<%= render "/layouts/navbars/dietitian_nav" %>

			<!-- MAIN CONTENT -->
			<main class="main-content-container">

				<!-- ALERTS-->
			  <section class="alerts-container">
	          <%= render "/layouts/alerts" %>
	      </section>

	      <!-- JUMBOTRON -->
				<section class="jumbotron">
					<div id="jumbotron-inner" class="row">
					 	<div class="form-group col-xs-12 form-group text-center">
					 		<h2>Welcome back to the kitchen, 
								<%= dietitian_name_prompt %>
							</h2>
							<%= dietitian_avatar_prompt %>
					 	</div>
					</div>
				</section>

				<!-- UPCOMING APPOINTMENTS TABLE -->
				<section class="content-container">
					<%= render "welcome/home/upcoming_appointments_table", upcoming_appointments: @upcoming_appointments %>
				</section>

				<!-- PREVIOUS APPOINTMENTS TABLE -->
				<section class="content-container recipes">
					<%= render "welcome/home/previous_appointments_table", previous_appointments: @previous_appointments %>
				</section> 	
			</main>

			<!-- FOOTER -->
			<div class="col-xs-12 col-sm-10 col-sm-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>


