
<div id="set-appointment-page" class="fork-background" >

  <div id="addNutritionModel" class="modal fade in" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <%= image_tag("/assets/logos/kf-logo-registration.png", class: "img-responsive logo") %>
          <%= render "breadcrumbs" %>

          <div id="set-appt-time" data-appt-id="<%=@appointment.id%>" class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>Select Your Appointment</h1>
            <h4>All first appointments are for 1 hour</h4>
            <% if @appointment.stripe_card_token %>
              <h2>This appointment is already set for <%=@appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M")%> - <%=@appointment.end_time.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p")%></h2>
            <% else %>
              <div id="select-appt-cal"></div>
            <% end %>
            <div class="col-xs-12">
            <h3>Can't find a time that works for you?</h3>
            <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>Email Us</button>
            </div>
          </div>
<!--           <div class="col-xs-5">
            <div class="row">
              <div class="col-xs-12">
                <h3><span class="glyphicon glyphicon-calendar"></span>Sessions</h3>
                <p>Date: </p>
                <p>Time:</p>
                <hr>
              </div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
          </div> -->

    
      
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  

</div>


