
<div id="set-appointment-page" class="fork-background" >

  <div id="addNutritionModel" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        
          <%= render "breadcrumbs", stage_of_registration: @stage_of_registration %>

          <div id="set-appt-time" data-appt-id="<%=@appointment.id%>" class="col-xs-12">
            <h1>Select Your Appointment</h1>

            <%= set_appointment_options(@appointment, @user, @previous_dietitian) %>

            <%= set_appointment_calendar(@appointment) %>
           
            <div class="col-xs-12">
              <h3>Can't find a time that works for you?</h3>
              <button id="request-appt-times" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>Email Us</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  

</div>

<%=render 'welcome/set_appointment/appointments_out_of_range_modal' %>

