<%= simple_form_for(@survey_group) do |f| %>
  <%= f.error_notification %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Version number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= f.input :name, label: false %></td>
          <td><%= f.input :version_number, label: false %></td>
          <td><%= f.button :submit, class: "btn btn-md btn-default" %></td>

        </tr>

    </tbody>
  </table>

<% end %>
