<div id="welcome-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/dietitian_nav" %>

      <main class="main-content-container col-xs-12 col-sm-10">
        <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h1>Surveys</h1>
        </section>
        <hr>
        <section class="row">
          <table class="table">
            <thead>
              <tr>
                <th>ID#</th>
                <th>Name</th>
                <th>Version number</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @survey_groups.each do |survey_group| %>
                <tr>
                  <td><%= survey_group.id %></td>
                  <td><%= survey_group.name %></td>
                  <td><%= survey_group.version_number %></td>
                  <td><%= link_to 'Edit', edit_survey_group_path(survey_group) %></td>
                  <td><%= link_to 'Destroy', survey_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </section>
        <section class="row">
          <h3>Create New Survey</h3>
          <%= render "form" %>
        </section>
      </main>
      <div class="col-xs-12 col-sm-10 col-sm-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>












