<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-12"> 
      <%= label_tag :card_number, "Credit Card Number" %>
        <%=image_tag "/assets/icons/mastercard.png", class: "hidden-xs credit-card-images" %>
        <%=image_tag "/assets/icons/visa.png", class: "hidden-xs credit-card-images" %> 
        <%=image_tag "/assets/icons/amex.png", class: "hidden-xs credit-card-images" %>  
        <%=image_tag "/assets/icons/discover.png", class: "hidden-xs credit-card-images" %>   
    </div>
    <div class="col-xs-12 form-group">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <%= text_field_tag :card_number, nil, name: nil, :placeholder => "1234  5678  9876  5432", :class => "form-control" %>
      </div>
    </div>
    <div class="col-xs-12">
      <%= label_tag :card_month, "Card Expiration" %>
    </div>
    <div class="col-xs-12 form-group">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <%= select_month nil, {use_two_digit_numbers: true}, {name: nil, id: "card_month", class: "form-control"}%>
      </div>
      <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1">
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-12">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    </div>
    <div class="col-xs-12 form-group">
      <div class="col-xs-4">
        <%= text_field_tag :card_code, nil, :placeholder=>"123", name: nil, :class => "form-control" %>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 form-group checkbox">
      <label>
        <input name="credit_card_usage" value="remember_me" type="checkbox"> Remember my information for future appointments
      </label>
    </div> 
  </div>
  <%= f.hidden_field :stripe_card_token %>
</div>