

<div id="family-page" class="container-fluid">
  <div class="row-fluid">

    <%= render "/layouts/navbars/user_nav" %>

    <main class="col-xs-12 col-sm-10 col-sm-offset-2">
     <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      <%=render "/layouts/footers/main_footer" %>
    </div>
      </section>
      <section>



        <h1><%=@food_diary.user.first_name%>'s Food Diary </h1>
      </section>
      <hr>
      <section class="row">
        <p>Edit food diary</p>
        <%= render 'form', food_diary: @food_diary, food_diary_entry: @food_diary_entry %>
      </section>


    </main>
    <div class="col-xs-12 col-sm-10 col-sm-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>




