
<div id="family-page" class="container-fluid">
  <div class="row">

    <%= render "/layouts/navbars/user_nav" %>

    <main class="col-xs-10 col-xs-offset-2">
     <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      </section>
      <section>



        <h1><%=@food_diary.user.first_name%>'s Food Diary</h1>
      </section>
      <hr>
      <section class="row">
        <p>Add food diary</p>
        <%= render 'form' %>
      </section>


    </main>
    <div class="col-xs-10 col-xs-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>




