<div class="landing-page education-page index-of-posts">

  <%= render "monologue/posts/posts_nav" %>
  <div class="landing-page-body">
    <section id="alerts-container">
      <%= render "/layouts/alerts" %>
    </section>
    <section class="splash-image-section">
      <div class="left-splash-column">
        <h1>Articles and Information</h1>
      </div>
    </section>
    <section>
       <%= render @posts %>
       <%= render "monologue/posts/posts_showcase_tags", showcase_tags: @showcase_tags %>
    </section>

    <%= render "monologue/posts/posts_suggestions_title" %>
    <%= render "monologue/posts/posts_suggestions", recent_posts: @recent_posts %>
    <%= render "monologue/posts/posts_footer" %>
  </div>
</div>


<% if @page %>
	<%= render partial: "pagination" %>
<% end %>