<% content_for :title do %>
  <%= @post.title %>
<% end %>

<% content_for :meta_description do %>
  <%= truncate(strip_tags(@post.content), length: 155) %>
<% end %>


<div class="landing-page education-page">

  <%= render "monologue/posts/posts_nav" %>
  <div class="landing-page-body">
    <section id="alerts-container">
      <%= render "/layouts/alerts" %>
    </section>
    <section class="splash-image-section">
      <div class="left-splash-column">
        <h1>Articles and Information</h1>
      </div>
    </section>

    <section class="articles-container">
      <article>
        <%= render partial: 'monologue/posts/post_header', locals: {post: @post }%>
        <div class="content" data-monologue="content">
          <%= raw @post.content %>
        </div>

        <div class="tags" data-monologue="tags">
          <%= render @post.tags.browseable %>
        </div>

        <%#= render "monologue/posts/social_sharing" %>

        <!--       <div id="disqus_thread"></div>
        <%#= render 'layouts/monologue/application/disqus_embed' %>
        <noscript>Please enable JavaScript to view the comments.</noscript> -->
      </article>
    </section>


    <%= render "monologue/posts/posts_showcase_tags", showcase_tags: @showcase_tags %>
    <%= render "monologue/posts/posts_suggestions_title" %>
    <%= render "monologue/posts/posts_suggestions", recent_posts: @recent_posts %>
    <%= render "monologue/posts/posts_footer" %>
  </div>
</div>