<%#= render "layouts/monologue/application/title" %>
<title>Kindrdfood</title>
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render "layouts/monologue/application/meta_description" %>
<%#= render "layouts/monologue/application/fb_open_graph" %>
<%#= render "layouts/monologue/application/twitter_cards" %>
<meta name="keyword" content="<%=Monologue::Config.meta_keyword%>">



<%= favicon_link_tag 'logos/kindrdfood-carrot.png', rel: 'icon', type: 'image/png' %>
<%= favicon_link_tag "logos/kindrdfood-carrot.png", rel: 'apple-touch-icon', type: 'image/png' %>


<!--     Font Sheet -->
<link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<!--     
    Loads modernizr polyfills for IE 10 and below
-->
<!--[if lt IE 10]>
    <%= javascript_include_tag "browser_specific/modernizr.min" %>
    <%= javascript_include_tag "browser_specific/modernizr_polyfills_rules" %>
<![endif]-->


<!--     
    Loads application wide CSS at application.css.scss  
    Split style sheet splits stylesheets if IE9 or below into
    application.css, application_split2.css, application_split3.css, application_split4.css 
-->
<%= split_stylesheet_link_tag "application", debug: false, :split_count => 4, :media => "all"  %>

<!--     
    Loads application wide JS at application.js
    Loads controller specific JS at EX: welcome.js
-->
<%= javascript_include_tag "application", media: 'all' %>


<%#= stylesheet_link_tag    "monologue/blog/application" %>
<%#= javascript_include_tag "monologue/blog/application" %>

<!--     
    Loads jstimezonedetect, should add to asset pipeline on controller specific pages
-->
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js" %>

<!--     
    Returns meta tags “csrf-param” and “csrf-token” with the name of the cross-site request forgery protection parameter and token, respectively.  
    http://apidock.com/rails/ActionView/Helpers/CsrfHelper/csrf_meta_tags 
-->
<%= csrf_meta_tags %> 


<%= rss_head_link %>
<%#= render "layouts/monologue/application/google_analytics" %>



