			<footer>
				<div>
					<div>
						<h4>OUR SOLUTION</h4>
						<ul>
							<%= active_link_to landing_pages_our_mission_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
              For Patients
            	<% end %>
							<%= active_link_to landing_pages_leadership_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
              	For Providers
            	<% end %>
						</ul>
					</div>
					<div>
						<h4>ABOUT</h4>
						<ul>
							<li><a >About Us</a></li>
							<li><%= link_to 'Leadership', landing_pages_new_leadership_page_path %></li>
							<li><a >FAQ</a></li>
							<li><%= link_to 'Contact Us', landing_pages_new_contact_us_page_path %></li>
						</ul>
					</div>	
					<div>
						<h4>CONNECT WITH US</h4>
						<ul>
							<li><%= link_to 'Sign Up', landing_pages_new_sign_up_page_path %></li>
							<li><a >LOGIN</a></li>
							<li>      
								<a target="_blank" href="http://twitter.com/kindrdfood"class="btn btn-social-icon btn-twitter">
	                <i class="fa fa-twitter"></i>
	              </a>
	              <a target="_blank" href="https://www.facebook.com/kindrdfood" class="btn btn-social-icon btn-facebook">
	                <i class="fa fa-facebook"></i>
	              </a>
              </li>
						</ul>
					</div>
					<div>
						<p>Kindrdfood does not provide medical advice, diagnosis, or treatment.  See <a class="terms-modal-link" >additional information</a> about <a class="terms-modal-link" >Terms of Service</a> and our <a class="terms-modal-link" >Privacy Policy</a>.</p>
						<p>All materials on this site may not be reproduced, transmitted, cached or otherwise used, except with the prior written permission of Kindrdfood Inc.</p>
						<p>Copyright &copy; 2016 | Kindrdfood Inc.</p>
					</div>
				</div>
			</footer>
			<%= render "/landing_pages/terms_modal" %>
			<%= render "/landing_pages/privacy_modal" %>
