<div>
	<h2>Meet a few of our experts</h2>
	<p>Our "Kindrdfood Dietitians" are all Registered Dietitians (RDs). <a href="/education/registered-dietitian-vs-nutritionist">What is an RD?</a></p>
	<div class="carousel-container">
		<div>
			<h3>Meet<br>Our<br>Experts</h3>
			<h3>
				<a class="carousel-controller" href="#"><</a>
				<a class="carousel-controller" href="#">></a>
			</h3>
		</div>
		<div class="head-shot-container">
			<%= image_tag("team/head_shots/head_shot_elise.png") %>
			<p>Elise Steiner<br> MS, RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>
		<div class="head-shot-container">
			<%= image_tag("team/head_shots/head_shot_kelly.png") %>
			<p>Kelly Ciovacco<br>MS, RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>
		<div class="head-shot-container">
			<%= image_tag("team/head_shots/head_shot_karen.png") %>
			<p>Karen Warman<br>MS, RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>
		<div class="head-shot-container hidden">
			<%= image_tag("team/head_shots/head_shot_lauren_mayer.png") %>
			<p>Lauren Mayer<br>RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>
		<div class="head-shot-container hidden">
			<%= image_tag("team/head_shots/head_shot_amalia.png") %>
			<p>Amalia Hirsch<br>RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>
		<div class="head-shot-container hidden">
			<%= image_tag("team/head_shots/head_shot_tara.png") %>
			<p>Tara McCarthy<br>MS, RD, LDN</p>
			<!-- <button>View Profile</button> -->
		</div>

	</div>
</div>
<div>
	<%= link_to "LEARN MORE ABOUT OUR TEAM", landing_pages_new_leadership_page_path, class: "register" %>
</div>