  <nav class="kf-landing-page-navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "logos/kf-logo-registration.png", class: "navbar-brand-image" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="kf-landing-page-navbar-list">
            <%= active_link_to landing_pages_new_landing_page_path, { :active => [['landing_pages'], ['new_landing_page']], :class_active => 'active', :wrap_tag => :li} do %>
              For Patients
            <% end %>

            <%= active_link_to landing_pages_new_provider_page_path, { :active => [['landing_pages'], ['new_provider_page']], :class_active => 'active', :wrap_tag => :li} do %>
              For Providers
            <% end %>
            <li> <%= link_to "Login", new_session_path("user")%>
            </li>
            <li>
            <%= link_to "SIGN UP", landing_pages_new_sign_up_page_path, class: "btn btn-lg btn-primary"%>
            </li>
      </ul>
    </div><!-- /.navbar-collapse -->
	</nav>