<!-- NAVIGATION HEADING -->
<div class="row text-center">

	<!-- LOGO -->
	<div class="col-xs-12">
		<%=image_tag "/assets/logos/kindrdfood-web.png", class: "img-responsive img-logo" %>
	</div>

	<!-- LOG OUT -->
	<div class="col-sm-12">
		<p>Welcome, <%=current_dietitian.first_name%>!</p>
		<p><%= link_to "Log Out", destroy_dietitian_session_path, :method => :delete %></p>
	</div>
</div>

<!-- NAVIGATION LINKS -->
<nav>	
	<ul>

		<!-- ADMIN LINKS -->
		<% if current_dietitian.has_role? "Admin Dietitian" %>

			<!-- DASHBOARD LINK -->
			<%= active_link_to welcome_path, { :active => [['welcome'], ['index']], :wrap_tag => :li } do %>
			  <span class=""></span><span class=" nav-item">Dashboard</span>
			<% end %>

			<!-- PROFILE LINK -->
			<%= active_link_to edit_dietitian_registration_path, :wrap_tag => :li  do %>
			  <span class=""></span><span class=" nav-item">Profile</span>
			<% end %>

			<!-- SCHEDULE LINK -->
			<%= active_link_to availabilities_path, :wrap_tag => :li do %>
			  <span class=""></span><span class=" nav-item">Schedule</span>
			<% end %>

			<!-- ADMIN LINK -->
			<li><a href="#" id="krdn-admin-nav-button" data-toggle="collapse" data-target="#krdn-admin-nav-list" aria-expanded="false">KRDN Admin</a>
				<ul class="nav collapse" id="krdn-admin-nav-list" role="menu" aria-labelledby="btn-1">

					<%= active_link_to appointments_path, :wrap_tag => :li  do %>
					  <span class=""></span><span class=" nav-item">Appointments</span>
					<% end %>		

					<%= active_link_to dashboard_clients_onboarding_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Clients(t)</span>
					<% end %>

					<%= active_link_to users_invitations_path, :wrap_tag => :li  do %>
					  <span class=""></span><span class=" nav-item">Referrals</span>
					<% end %>		

					<%= active_link_to dashboard_clients_onboarding_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Leads</span>
					<% end %>
					<%= active_link_to survey_groups_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">KRDN Scheduling(t)</span>
					<% end %>
					<%= active_link_to "/education/monologue", :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Content</span>
					<% end %>
					<%= active_link_to survey_groups_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Questionnaires</span>
					<% end %>
				</ul>
			</li>

			<!-- SYSTEM ADMIN LINK -->
			<li><a href="#" id="system-admin-nav-button" data-toggle="collapse" data-target="#system-admin-nav-list" aria-expanded="false">System Admin</a>
				<ul class="nav collapse" id="system-admin-nav-list" role="menu" aria-labelledby="btn-1">
					<%= active_link_to new_package_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Appointments</span>
					<% end %>

					<%= active_link_to new_package_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Packages</span>
					<% end %>

					<%= active_link_to coupons_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Coupons</span>
					<% end %>
					<%= active_link_to roles_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Emails(t)</span>
					<% end %>
					<%= active_link_to roles_path, :wrap_tag => :li do %>
					  <span class=""></span><span class=" nav-item">Permissions</span>
					<% end %>
				</ul>
			</li>
		<% else %>

			<!-- DASHBOARD LINK -->
			<%= active_link_to welcome_path, :wrap_tag => :li  do %>
			  <span class=""></span><span class=" nav-item">Dashboard</span>
			<% end %>

			<!-- PROFILE LINK -->
			<%= active_link_to edit_dietitian_registration_path, :wrap_tag => :li  do %>
			  <span class=""></span><span class=" nav-item">Profile</span>
			<% end %>

			<!-- SCHEDULE LINK -->
			<%= active_link_to availabilities_path, :wrap_tag => :li do %>
			  <span class=""></span><span class=" nav-item">Schedule</span>
			<% end %>
			<!-- <%#= active_link_to appointments_path, :wrap_tag => :li  do %>
			  <span class=""></span><span class=" nav-item">Appointments</span>
			<%# end %>	 -->	

			<!-- CLIENTS LINK -->
			<%= active_link_to availabilities_path, :wrap_tag => :li do %>
			  <span class=""></span><span class=" nav-item">Clients</span>
			<% end %>

			<!-- CONTENT LINK -->
			<%= active_link_to "/education/monologue", :wrap_tag => :li do %>
			  <span class=""></span><span class=" nav-item">Content</span>
			<% end %>

			<!-- CONTACT US -->
			<li><a href=""><span class=""></span><span class=" nav-item">Contact Us</span></a></li>	
		<% end %>


	</ul>
</nav>