
<%= monologue_admin_form_for ["admin", tag] do |f| %>
  <%= f.error_messages %>
  <div class="row form-group" >
    <div class="col-xs-4">
      <%= f.select :content_type, [['General', 'General'], ['Recipe', 'Recipe'], ['Article', 'Article']], label:  raw(t(".content_type")), class: "tag_list_health_groups"%>
    </div>


    <div class="col-xs-4">
      <%= f.text_field :tag_category, label:  raw(t(".tag_category")), class: "tag_category" %>
    </div>
    <div class="col-xs-4">
      <%= f.text_field :name, label:  raw(t(".name")), class: "tag_list_symptoms" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
          <label for="browseable-checkbox" class="btn btn-default btn-block badgebox-label">Browseable
              <input type="checkbox" name="tag[browseable]" id="browseable-checkbox" value="true" <%= @tag.browseable ? "checked" : false %>  class="badgebox">
              <span class="badge">&check;</span>
          </label>

      <%#= f.check_box :browseable, label:  raw(t(".browseable")), class: "browseable" %>
    </div>
    <div class="col-xs-4">
          <label for="showcase-checkbox" class="btn btn-default btn-block badgebox-label">Showcase
              <input type="checkbox" name="tag[showcase]" id="showcase-checkbox" value="true" <%= @tag.showcase ? "checked" : false %>  class="badgebox">
              <span class="badge">&check;</span>
          </label>
      <%#= f.check_box :showcase, label:  raw(t(".showcase")), class: "showcase" %>
    </div>
    <div class="col-xs-2">
      <%= f.number_field :showcase_position, label: raw(t(".showcase_position")), class: "showcase_position" %>
    </div>

    <div class="col-xs-2">
      <%= f.button t(".save"), class:  "btn btn-block btn-primary"%> 
    </div>
  </div>

<% end %>

<script type="text/javascript">
  
    $(".tag_category").select2({
      maximumSelectionSize: 1,
      tags: <%= Monologue::Tag.uniq.pluck(:tag_category).to_json.html_safe %>, 
      width: 'resolve'
    });

</script>