<div class='well diff'>
    <p>
      <strong>Email:</strong>
      <%= diff(version.reify.email, user.email) %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= diff(version.reify.first_name, user.first_name) %>
    </p>
    <p>
      <strong>Last Name:</strong>
      <%= diff(version.reify.last_name, user.last_name) %>
    </p>
    <p>
      <strong>Phone Number:</strong>
      <%= diff(version.reify.phone_number, user.phone_number) %>
    </p>
    <p>
      <strong>Date of Birth:</strong>
      <%= diff(version.reify.date_of_birth, user.date_of_birth) %>
    </p>
    <p>
      <strong>Sex:</strong>
      <%= diff(version.reify.sex, user.sex) %>
    </p>
    <p>
      <strong>Family Role:</strong>
      <%= diff(version.reify.family_role, user.family_role) %>
    </p>
    <p>
      <strong>Zip Code:</strong>
      <%= diff(version.reify.zip_code, user.zip_code) %>
    </p>
    <p>
      <strong>Time Zone:</strong>
      <%= diff(version.reify.time_zone, user.time_zone) %>
    </p>
    <p>
      <strong>Provider:</strong>
      <%= diff(version.reify.provider, user.provider) %>
    </p>
    <p>
      <strong>Hospitals or Practices:</strong>
      <%= diff(version.reify.hospitals_or_practices, user.hospitals_or_practices) %>
    </p>
    <p>
      <strong>Fax:</strong>
      <%= diff(version.reify.fax, user.fax) %>
    </p>
</div>
