<div id="session-page" class="container-fluid">

  <div class="row-fluid">
    <%= render "rooms/dietitians/dietitian_session_nav", survey: survey, appointment: appointment, pre_appt_survey: pre_appt_survey%>
    <main class="col-xs-10 col-xs-offset-2">
<!--       <div class="col-xs-12 alert alert-danger">
        <%#= link_to "End Session", end_dietitian_appointment_path(appointment), class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
         <button id="end-session-button" type="button" class="btn btn-danger btn-xs">End Session</button>
      </div> -->
      <div id="clockdiv" data-end-time="<%=appointment.end_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%>">
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>You are meeting with:</h4>
        <h2 class="heading"><%=appointment.appointment_host.first_name%> <%=appointment.appointment_host.last_name %></h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>About:</h4>
        <h2 class="heading"><%=appointment.patient_focus.first_name%> <%=appointment.patient_focus.last_name %></h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>From:</h4>
        <h2 class="heading"><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M") %> - <%=appointment.end_time.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M %p") %></h2>
      </div>
      <div class="row">
        <div class="col-xs-10 dynamic-page-container hidden">

        </div>
        <div id="layoutContainer" class="col-xs-12">
          <div class="video-center" id="videobox2">
            <div id="videobox">
            </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <h3>Having trouble connecting?
        <button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-earphone"></span>Call <%=appointment.appointment_host.phone_number.phony_formatted(format: :international)%></button></h3>
      </div>
      <div class="col-xs-2 hidden">
        <div id="chat-container" class="row">
          <div id="chat-box" class="col-xs-12 form-group">
            <h4>Start a conversation!</h4>
          </div>
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <input class="family-member-name form-control" id="user-message" placeholder="   Write Message Here">
              </div>
            </div>
            <button id="send-message-button" type="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
      <div id="tool-next-session-container" class="col-xs-8 col-xs-offset-2 tool-box-item hidden">
        <div id="next-session-container">
          <%= render "/rooms/dietitian_rooms/next_session_form" %>
        </div>
        <div id="availability-cal"></div>
      </div>
    </main>
      <div class="col-xs-10 col-xs-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
 $('#datetimepicker-appt-start').datetimepicker({ dateFormat: 'D, dd M yy', sideBySide: true });
    $('#datetimepicker-appt-end').datetimepicker({ dateFormat: 'D, dd M yy', sideBySide: true });
    $("#datetimepicker-appt-start").on("dp.change",function (e) {
      $('#datetimepicker-appt-end').data("DateTimePicker").setMinDate(e.date);
      $('#datetimepicker-appt-end').data("DateTimePicker").setDate(e.date);
    });
});
</script>