
<div class="form-group" id="ingredients-recipe-form">
  <%= simple_form_for @ingredients_recipe, :html => {:id => "ingredients-recipe-form-validate"}, remote: true  do |ingredients_recipe_form| %>
    <div id="errorBox">
      <%= devise_error_messages!(@ingredients_recipe) %>
    </div>
    <div class="form-group">
      <%= ingredients_recipe_form.input :amount %>
    </div>
    <div class="form-group">
      <%= ingredients_recipe_form.input :amount_unit, :collection => @units, :label => "Unit" ,:include_blank => false %>
    </div>
    <div class="form-group">
      <%= ingredients_recipe_form.fields_for :ingredient, @ingredient do |ingredient_form| %>
          <%= ingredient_form.input :name, :url => autocomplete_ingredient_name_recipes_path, :as => :autocomplete, input_html: {value: ingredient_form.object.name ||= nil} %>
      <% end %>
      <% if @recipe %>
        <%= ingredients_recipe_form.hidden_field :recipe_id, value: @recipe.id %>
      <% else %>
        <%= ingredients_recipe_form.hidden_field :recipe_id, value: params["recipe_id"].to_i %>
      <% end %>
    </div>
    <div class="actions">
      <%= ingredients_recipe_form.button :submit %>
    </div>
  <% end %>
</div>


