
<div class="form-group" id="ingredients-recipe-form">
  <%= simple_form_for @ingredients_recipe, remote: true  do |ingredients_recipe_form| %>
    <div class="form-group">
      <%= ingredients_recipe_form.input :amount %>
    </div>
    <div class="form-group">
      <%= ingredients_recipe_form.input :amount_unit %>
    </div>
    <div class="form-group">
      <%= ingredients_recipe_form.fields_for :ingredient, @ingredient do |ingredient_form| %>

          <%= ingredient_form.input :name, :url => autocomplete_ingredient_name_recipes_path, :as => :autocomplete, input_html: {value: ingredient_form.object.name ||= nil} %>
      <% end %>
      <%= ingredients_recipe_form.hidden_field :recipe_id, value: @recipe_id.to_i %>
    </div>
    <div class="actions">
      <%= ingredients_recipe_form.button :submit %>
    </div>
  <% end %>
</div>

