<div id="ingredients-container">
  <div class="row text-center preview-info"> 
    <h3 class="active-preview-heading">Ingredients: <span class="small-font">(click and drag step to re-order)</span></h3>
    <ol id="ingredient-sortable" data-update-url="<%= sort_ingredients_recipes_url %>">
      <% @ingredients.each do | ingredient | %>
  			<li id="ingredients_recipes_<%=ingredient.id%>">
          <h4 class="ingredient-preview">
            <%= link_to edit_ingredients_recipe_path(ingredient, :recipe_id=> @recipe_id), :remote => true  do %>
              <span class='glyphicon glyphicon-edit'></span>
            <% end %> 
            <%=ingredient.amount%> <%=ingredient.amount_unit%> <%= ingredient.display_name%> (<%=ingredient.ingredient.name%>) 
            	<% if ingredient.main_ingredient == true %>
            		 <span class="main-tag">main</span>
    					<% elsif ingredient.optional_ingredient == true %>
    					  <span class="optional-tag">optional</span>
    					<% end %>
            <%= link_to ingredient, :confirm => 'Are you sure?', method: :delete, remote: true, class: 'btn btn-sm btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </h4>
        </li>
      </li>
      <% end %>
    </ol>
  </div>
</div>