<div class="container" id="ingredient-form">
	<div class="row">
		<div class="recipe-form-section row" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message">
			<span class="attribute-title"><%= @recipe.name.upcase %></span></h1>
		</div>
		<div class="row button-row recipe-form-section">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<%= link_to "Add Ingredient", new_ingredients_recipe_path(recipe_id: @recipe_id), class: "btn btn-default btn-lg", id: "add-ingredients-recipe", remote: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4" id='ingredient-form-container'>
			</div>
		</div>
		<div class="row button-row" id="ingredients-container">	
			<% @recipe.ingredients_recipes.each do |ingredients_recipe| %>
			<div class="col-xs-3 ingredient-list" id="ingredients-recipe-<%=ingredients_recipe.id%>">
				<p><span class="white-font">Amount: </span><span class="attribute-title white-font"><%= ingredients_recipe.amount%> <%= ingredients_recipe.amount_unit%></span> 
				</p>
				<p><span class="white-font">Ingredient: </span><span class="attribute-title white-font"><%=ingredients_recipe.prep %> <%=ingredients_recipe.ingredient.name %> <%=ingredients_recipe.prep2 %></span>
				</p>
					<%= link_to "Edit", edit_ingredients_recipe_path(ingredients_recipe, recipe_id: @recipe_id.to_i), class: "edit-ingredient", remote: true %>
					<%= link_to "(remove)", ingredients_recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "remove-ingredient", remote: true %>
			</div>
			<% end %>
		</div>
		<div class="row button-row text-center" id="ingredient-comment-row">
				<p>Once all of the ingredients have been added,</p>
				<p>you can review them for safety.</p>
		</div>
		<div class="row recipe-form-section">
			<div class="col-xs-4"></div>
			<div class="col-xs-4 green-button recipe-form-section-submit actions ">
				<%= link_to "Review", allergens_ingredients_path(recipe_id: @recipe_id), class: "btn btn-lg", id: "review-ingredients"%>	
			</div>
		</div>
	</div>
</div>