<div id="recipe-info">
	<h1><%= @recipe.name %></h1>
</div>

<%= link_to "Add Ingedient", new_ingredients_recipe_path(recipe_id: @recipe_id), id: "add-ingredients-recipe", remote: true %>

<div id="ingredient-form-container">
</div>

<strong id="ingredient-title">Ingredients:</strong>
<div id="ingredients-container">	
	<% @recipe.ingredients_recipes.each do |ingredients_recipe| %>
	<div id="ingredients-recipe-<%=ingredients_recipe.id%>">
		<P><strong><%=ingredients_recipe.ingredient.name %></strong>
			<%= link_to "Edit", edit_ingredients_recipe_path(ingredients_recipe, recipe_id: @recipe_id.to_i), class: "edit-ingredient", remote: true %>
			<%= link_to "(remove)", ingredients_recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "remove-ingredient", remote: true %>
		</p>
		<p>Amount: <%= ingredients_recipe.amount%> <%= ingredients_recipe.amount_unit%></p>
	</div>
	<% end %>
</div>

	<p>Finished adding ingredients?</p>
	<%= link_to "Review Ingredients for Allergens", allergens_ingredients_path(recipe_id: @recipe_id), id: "review-ingredients"%>