    <div class="form-group ingredient">
      <%= simple_form_for @ingredients_recipe, remote: true do |ingredients_recipe_form| %>
        <div class="form-group">
          <%= ingredients_recipe_form.input :amount %>
        </div>
        <div class="form-group">
          <%= ingredients_recipe_form.input :amount_unit %>
        </div>
        <div class="form-group">
          <%= ingredients_recipe_form.fields_for :ingredient, @ingredient do |ingredient_form| %>

              <%= ingredient_form.input :name, :url => autocomplete_ingredient_name_recipes_path, :as => :autocomplete, input_html: {value: ingredient_form.object.name ||= nil} %>
          <% end %>
        </div>
        <%= ingredients_recipe_form.button :submit, id: "save-ingredient" %>
      <% end %>
    </div>