<p id="notice"><%= notice %></p>

<p>
  <strong>Member plan:</strong>
  <%= @subscription.member_plan %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @subscription.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @subscription.end_date %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
