<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-6 col-centered ">
			<div class="col-xs-12 col-centered">
				<div class="col-xs-4" style="margin-left: 2%">
				<%= image_tag("carrot-large1.png", class: "img-responsive") %> 
				</div>
				<div class="col-xs-7">
					<h2><span class="attribute-title" style="line-height: 2">Log In</span></h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-4"></div>
		<div id="sign-in-form" class="col-xs-4">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal' }) do |f| %>
 				<div class="col-xs-12 form-group"><%= f.label :email %><br />
			  	<%= f.email_field :email, autofocus: true %>
				</div>
			  <div class="col-xs-12 form-group"><%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off" %>
			  </div>

  			<div class="col-xs-12 form-group text-center">
			  <%= f.button :submit, "Log In" %>
			  </div>
			<% end %>
				<div class="col-xs-12">
					<%= render "devise/shared/links" %>
				</div>
		</div>
	</div>
</div>