
<div class="col-xs-12 wide-image-container wood-background">
	<div class="hidden-xs hidden-sm col-md-4 col-lg-5">
	</div>
	<div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 text-center">
		<div class="col-xs-12 form-group">
			<h2>WELCOME</h2>
		</div>
		<div class="col-xs-8 col-xs-offset-2 sign_in_form">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline', role:"form" }) do |f| %>
				<div class="col-xs-12 form-group">
					<div class="form-group col-xs-12">
						<h3><span class="white-font">Let's get you started!</span></h3>
					</div>
					<%= render "/layouts/alerts" %>
				  <div class="form-group">
				    <div class="input-group">
				      <%= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "Enter email" %>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword2">Password</label>
				    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", type: "password" %>
				  </div>
				</div>
				<div class="col-xs-12 form-group">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"><span class="white-font"> Remember </span>
				    </label>
				  </div>
				  <%= f.button :submit, "Sign In", class: "btn btn-success", type: "submit" %>
				</div>
				<div class="col-xs-12 text-left">
<!-- 				snippet from shared/links, should be made into a partial -->
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'  %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end -%>
<!-- 				snippet from shared/links, should be made into a partial -->
				</div>
			<% end %>
			<!-- </form> -->
		</div>
	</div>
</div>
