  <figure>
    <%= link_to post_recommendation.monologue_post.full_url, target: "_blank" do  %>
      <img src="<%=post_recommendation.monologue_post.main_image_url || post_recommendation.monologue_post.content[/src=\"(.*)\"\sstyle=\"/,1]%>" alt="<%=post_recommendation.monologue_post.title%>">
      <figurecaption class="caption">
        <h4><%= post_recommendation.monologue_post.title %></h4>
        <% if ( (current_dietitian && (post_recommendation.dietitian == current_dietitian) ) || ( current_user && (post_recommendation.user == current_user) ) ) %>
          <p><%=post_recommendation.message %></p>
        <% end %>
      </figurecaption>
      <% if current_dietitian == post_recommendation.dietitian %>
      	<%= link_to("Edit", edit_post_recommendation_path(post_recommendation), class: "btn btn-block btn-default", remote: true) %>
      <% end %>
    <% end %>
  </figure>