    <section id="family-members-container">
          <h3 class="header">The <%=@family.head_of_family.last_name%> Family</h3>
          <div class="row">
            <% if @family && @family.family_members %>
              <% @family.family_members.each.with_index(1) do |family_member, index| %>
                <% family_member = Users::UserPresenter.new(family_member) %>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12 col-sm-2">
                      
                      <% if family_member.main_avatar && family_member.main_avatar.icon.url %>
                        <%= image_tag family_member.main_avatar.icon.url %>
                      <% else %>
                        <%= image_tag "icons/add_user_photo.png" %>
                      <% end %>
                    </div>
                    <div class="col-xs-10">
                      <%= render "/families/show_family_member", family_member: family_member%>
                    </div>
                    
                  </div>
            

                <% if family_member.growth_chart && family_member.growth_chart.growth_entries.length > 0 && family_member.growth_chart.growth_entries.first.energy_requirement == nil%>
                  <div id="update-growth-container-<%=family_member.growth_chart.growth_entries.first.id%>" class="row update-growth-container alert alert-danger">
                    <div class="col-xs-12">
                      <h3>Please update growth and estimated needs</h3>
                   
                      <%= render "/growth_entries/form", growth_chart: family_member.growth_chart, growth_entry: family_member.growth_chart.growth_entries.first %>

                    </div>
                  </div>
                      
                <% end %>




                  <div class="panel-group" id="accordion-<%=family_member.id%>" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo-<%=family_member.id%>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-<%=family_member.id%>" href="#collapseTwo-<%=family_member.id%>" aria-expanded="false" aria-controls="collapseTwo">
                            Growth Chart
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo-<%=family_member.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-<%=family_member.id%>">
                        <div class="panel-body">

                          <%= render "/growth_entries/list", growth_chart: family_member.growth_chart %>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree-<%=family_member.id%>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-<%=family_member.id%>" aria-expanded="false" aria-controls="collapseThree-<%=family_member.id%>">
                            Food Diary
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree-<%=family_member.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-<%=family_member.id%>">
                        <div class="panel-body">
                          <%= render "/food_diary_entries/list", food_diary: family_member.food_diary %>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour-Recipes>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-Recipes" aria-expanded="false" aria-controls="collapseFour-Recipes">
                            Recommended Recipes
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour-Recipes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-Recipes">
                        <div class="panel-body">
                          <p>Coming soon!</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive-Recipes>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive-Recipes" aria-expanded="false" aria-controls="collapseFive-Recipes">
                            Recommened Articles
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFive-Recipes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive-Recipes">
                        <div class="panel-body">
                          <p>Coming soon!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
  
          </div>
        </section>