


<div class="row">
  <%survey.surveys_questions.each do |question| %>
    <div id="survey-question-container-<%=question.id%>" data-question-id="<%=question.id%>" class="col-xs-12 survey-question-container">
      <% if question.question.question_type == "Response" %>
        <%= render "/surveys/answer_types/answer_type_response", question: question %>
      <% elsif question.question.question_type == "Short Response"%>
        <%= render "/surveys/answer_types/answer_type_short_response", question: question %>
      <% elsif question.question.question_type == "Check Box" %>
        <%= render "/surveys/answer_types/answer_type_check_box", question: question %>
      <% elsif question.question.question_type == "Drop Down"%>
        <%= render "/surveys/answer_types/answer_type_drop_down", question: question  %>
      <% elsif question.question.question_type == "Radio"%>
        <%= render "/surveys/answer_types/answer_type_radio", question: question %>
      <% elsif question.question.question_type == "NPS"%>
        <%= render "/surveys/answer_types/answer_type_nps", question: question %>
      <% else #number %>
        <%= render "/surveys/answer_types/answer_type_number", question: question %>
      <% end %>
    </div>
  <% end %>
</div>

