<%= post.error_messages %>
<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
          <label>Content Type</label>
      </div>

      <div class="col-xs-12">
        <div class="row text-center">
          <div class="col-xs-4">
            <label for="inlineRadio1" class="btn btn-default btn-block badgebox-label">Article: Client Fulfillment 
              <input type="radio" name="post[content_type]" id="inlineRadio1" value="Article: Client Fulfillment" <%=(@post.content_type == 'Article: Client Fulfillment') ? "checked" : false %>  class="badgebox">
              <span class="badge">&check;</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label for="inlineRadio2" class="btn btn-default btn-block badgebox-label">Article: Digital Marketing 
              <input type="radio" name="post[content_type]" id="inlineRadio2" value="Article: Digital Marketing" <%=(@post.content_type == 'Article: Digital Marketing') ? "checked" : false %>  class="badgebox">
              <span class="badge">&check;</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label for="inlineRadio3" class="btn btn-default btn-block badgebox-label">Recipe 
              <input type="radio" name="post[content_type]" id="inlineRadio3" value="Recipe" <%=(@post.content_type == 'Recipe') ? "checked" : false %>  class="badgebox">
              <span class="badge">&check;</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <%= post.text_field :title, label:  t(".title"), placeholder: "Enter a title" %>
      </div>
      <div class="col-xs-4">
        <%= post.text_field :url, label:  t(".url"), placeholder: "Customize Url" %>
      </div>
      <div class="col-xs-4">
        <%= post.text_field :target_published_at, label:  t(".target_publishing_date"), placeholder: "Select date", data: {datepicker: "datepicker"}, value: post.object.target_published_at.nil? ? "" : post.object.target_published_at.strftime("%A %B %d, %Y") %>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <div class="row form-group"> 
      <div class="general-tag-container col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_health_groups, label:  raw(t(".health_groups")), class: "tag_list_health_groups", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_food_triggers, label:  raw(t(".food_triggers")), class: "tag_list_food_triggers", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_symptoms, label:  raw(t(".symptoms")), class: "tag_list_symptoms", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_dietary_preferences, label:  raw(t(".dietary_preferences")), class: "tag_list_dietary_preferences", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_age, label:  raw(t(".age")), class: "tag_list_age", placeholder: "Select or create" %>
          </div>
        </div>
      </div>
      <div class="article-tag-container col-xs-12 <%='hidden' unless @post.content_type != 'Recipe'%>">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_article_high_level, label:  raw(t(".high_level_theme")), class: "tag_list_article_high_level", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_article_low_level, label:  raw(t(".low_level_theme")), class: "tag_list_article_low_level", placeholder: "Select or create" %>
          </div>
        </div>
      </div>
      <div class="recipe-tag-container col-xs-12 <%='hidden' unless @post.content_type == 'Recipe'%>">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_meal_type, label:  raw(t(".meal_type")), class: "tag_list_meal_type", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_sub_meal_type, label:  raw(t(".sub_meal_type")), class: "tag_list_sub_meal_type", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_cooking_technique, label:  raw(t(".cooking_technique")), class: "tag_list_cooking_technique", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_eating_style, label:  raw(t(".eating_style")), class: "tag_list_eating_style", placeholder: "Select or create" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_main_ingredient, label:  raw(t(".main_ingredient")), class: "tag_list_main_ingredient", placeholder: "Select or create" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <%= post.text_area :content, label:  t(".happy_writing"), class:  "col-xs-12 ckeditor", id: "post_content" %>
     <div class="row form-group">
      <div class="col-xs-12 form-group">
        <div class="form-actions">
          <%#= post.button t(".preview"), class: "btn btn-lg btn-default", type: "button", value: "preview"%>
        </div>
      </div>
    </div> 
  </div>
</section>

<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <label>Complete</label>
      </div>
      <div class="col-xs-6 text-center"> 
            <%= hidden_field_tag "post[published]", 'false' %>
            <label for="published-checkbox" class="btn btn-default btn-block badgebox-label">Publish 
              <input type="checkbox" name="post[published]" id="published-checkbox" <%="checked" if @post.published == true%>  class="badgebox">
              <span class="badge">&check;</span>
            </label>      
        <%#= post.check_box :published, label:  t(".publish") %>
        <p>Available to KRDNs and clients.</p>
      </div>
      <div class="col-xs-6 text-center">
        <%#= post.check_box :public, label:  t(".share") %>
            <%= hidden_field_tag "post[public]", 'false' %>
            <label for="public-checkbox" class="btn btn-default btn-block badgebox-label">Share 
              <input type="checkbox" name="post[public]" id="public-checkbox" <%="checked" if @post.public == true%>  class="badgebox">
              <span class="badge">&check;</span>
            </label>   
        <p>Available on blog for public.</p>
      </div>
    </div>
  </div>
</section>


<div class="form-actions">
  <%= post.button t(".save"), class:  "btn btn-block btn-primary btn-bottom"%> 
  <%= post.button t(".preview"), class: "btn btn-lg btn-left-top", type: "button", value: "preview"%>
</div>




<div class="post-preview modal-backdrop hide" data-url="<%=admin_post_preview_url%>" data-toggle="post-preview" data-trigger="button[value='preview']">
  <div class="post-preview-inner">
    <div class="navbar pull-right">
      <div class="navbar-inner">
        <span class="brand"><%=t(".preview")%></span> 
        <a class="btn btn-primary pull-right" data-dismiss="post-preview"><%=t(".close")%></a>
      </div>
    </div>
  </div>
  <iframe src="" name="preview"></iframe>
</div>

<script>

  // DatePicker
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }

  // Tag Suggestions
  <% Monologue::Post.tag_key.each do |category_class, category_name| %>
    $(".<%=category_class%>").select2({tags: <%= Monologue::Tag.where(tag_category: category_name).map{|t| t.name }.to_json.html_safe %>, width: 'resolve' });
  <% end %>

  // post title creating URL as typed
  $( "#post_title" ).keyup(function() {
    var contentTitle = $(this).val().toLowerCase().split(" ");
    var output = '';
    for (var i = 0; i < contentTitle.length; i++) {
      if (i < contentTitle.length - 1) {
          output += contentTitle[i] + '-';
      } else {
          output += contentTitle[i];
      }
    }
    $("#post_url").val(output);
  });

  // radio buttons for content type showing and hiding tags
  $('input[type="radio"][name="post[content_type]"]').change(function() {
    var radioSelection = $(this).val();
    if (radioSelection=== 'Recipe') {
        $(".recipe-tag-container").removeClass("hidden");
        $(".recipe-tag-container input").prop("disabled", false);
        $(".article-tag-container input").prop("disabled", true);
        $(".article-tag-container").addClass("hidden");
    } else {
        $(".article-tag-container").removeClass("hidden");
        $(".article-tag-container input").prop("disabled", false);
        $(".recipe-tag-container input").prop("disabled", true);
        $(".recipe-tag-container").addClass("hidden");
    }
  });

  // CKEDITOR sticky header
  CKEDITOR.on('instanceReady', function() { 

    function fixDiv() {
      var $div = $("#cke_1_top");
      if ($(window).scrollTop() > $div.data("top")) { 
        $('#cke_1_top').addClass("cke_top_nav"); 
      } else {
        $('#cke_1_top').removeClass("cke_top_nav");
      }
    };
    // set original position on load
    $("#cke_1_top").data("top", $("#cke_1_top").offset().top); 
    // call fixdiv on scroll 
    $(window).scroll(fixDiv);

  });




</script>