<%= post.error_messages %>

<h3>Type of Content</h3> 

<%= post.check_box :tag_list, { :multiple => true }, label: "Article" %>
<%= post.check_box :tag_list, { :multiple => true }, label: "Recipe" %>
<%= post.check_box :tag_list, { :multiple => true }, label: "Meal Plan" %>
<%= post.check_box :tag_list, { :multiple => true }, label: "Pantry List" %>

<h3>Specs</h3> 
<%= post.text_area :specs, label:  t(".specs") %>

<div class="row">
  <div class="span4">
    <h3>Is this for?</h3>
    <%= post.text_field :tag_list, label:  raw(t(".major_persona_group")), class: "post_tag_list" %>
  </div>
  <div class="span4">
    <h3>Can you be more specific?</h3>
    <%= post.text_field :tag_list, label:  raw(t(".sub_persona_group")), class: "post_tag_list" %>
  </div>
  <div class="span4">
    <h3>Does this solve a common paint point?</h3>
    <%= post.text_field :tag_list, label:  raw(t(".pain_points")), class: "post_tag_list" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>General Information</h3>
  </div>
  <div class="span4">

    <%= post.collection_select :author_id, @authors, :id,:email, include_blank: true  %>
  </div>  
  <div class="span4">
    <%= post.text_field :title, label:  t(".title") %>
  </div>
  <div class="span4">
    <%= post.text_field :url, label:  raw(t(".url.caption", default_url: "#{t(".url.generated_title")}", root: monologue.root_path)) %>
  </div>

</div>





<h3>Call to Action</h3>
<%= post.collection_select :call_to_action_id, {"Home Page"=> 1, "QOL Landing Page"=> 2, "Provider Landing Page"=>3}, :last, :first, include_blank: true  %>

<h3>Happy Writing</h3> 
<%= post.text_area :content, label:  t(".happy_writing"), class:  "span12 ckeditor", id: "post_content" %>

<h3>Target Publishing Date</h3> 
<%= post.text_field :published_at, label:  t(".publish_on"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>

<h3>Status</h3>
<div class="row">
  <div class="span2">
  <%= post.check_box :nutrition_review, label:  t(".nutrition_review") %>
  </div>
  <div class="span2">
  <%= post.check_box :culinary_review, label:  t(".culinary_review") %>
  </div>
  <div class="span2">
  <%= post.check_box :medical_review, label:  t(".medical_review") %>
  </div>
  <div class="span2">
  <%= post.check_box :marketing_review, label:  t(".marketing_review") %>
  </div>
  <div class="span2">
  <%= post.check_box :editor_approved, label:  t(".editor_approved") %>
  </div>
  <div class="span2">
  <%= post.check_box :published, label:  t(".published") %>
  </div>
</div>

<div class="form-actions">
  <%= post.button t(".save"), class:  "btn btn-large btn-primary" %> 
  <%= post.button t(".preview"), class: "btn btn-large", type: "button", value: "preview"%>
</div>

<div class="post-preview modal-backdrop hide" data-url="<%=admin_post_preview_url%>" data-toggle="post-preview" data-trigger="button[value='preview']">
  <div class="post-preview-inner">
    <div class="navbar pull-right">
      <div class="navbar-inner">
        <span class="brand"><%=t(".preview")%></span> 
        <a class="btn btn-primary pull-right" data-dismiss="post-preview"><%=t(".close")%></a>
      </div>
    </div>
  </div>
  <iframe src="" name="preview"></iframe>
</div>

<script>
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }
  $(".post_tag_list").select2({tags: <%= Monologue::Tag.all.map{|t| t.name }.to_json.html_safe %> });
</script>