<%= post.error_messages %>
<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
          <label>Content Type</label>
      </div>

      <div class="col-xs-12">
        <div class="row text-center">
          <div class="col-xs-4">
            <label class="radio-inline">
              <input type="radio" name="post[content_type]" id="inlineRadio1" value="Article: Client Fulfillment" <%=(@post.content_type == 'Article: Client Fulfillment') ? "checked" : false %> > Article: Client Fulfillment
            </label>
          </div>
          <div class="col-xs-4">
            <label class="radio-inline">
              <input type="radio" name="post[content_type]" id="inlineRadio2" value="Article: Digital Marketing" <%=(@post.content_type == 'Article: Digital Marketing') ? "checked" : false %> > Article: Digital Marketing
            </label>
          </div>
          <div class="col-xs-4">
            <label class="radio-inline">
              <input type="radio" name="post[content_type]" id="inlineRadio3" value="Recipe" <%=(@post.content_type == 'Recipe') ? "checked" : false %> > Recipe
            </label>
          </div>
            <!--         <label class="radio-inline">
            <input type="radio" name="post[content_type]" id="inlineRadio4" value="Meal Plan" <%#=(@post.content_type == 'Meal Plan') ? "checked" : false %> > Meal Plan
          </label>
          <label class="radio-inline">
            <input type="radio" name="post[content_type]" id="inlineRadio5" value="Pantry List" <%#=(@post.content_type == 'Pantry List') ? "checked" : false %> > Pantry List
          </label> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <%= post.text_field :title, label:  t(".content_title") %>
      </div>
      <div class="col-xs-4">
        <%#= post.text_field :url, label:  raw(t(".url.caption", default_url: "#{t(".url.generated_title")}", root: monologue.root_path)) %>
        <%= post.text_field :url, label:  t(".public_url") %>
      </div>
      <div class="col-xs-4">
        <%= post.text_field :target_published_at, label:  t(".target_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.target_published_at.nil? ? "" : post.object.target_published_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <div class="row form-group"> 
      <div class="general-tag-container col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_health_groups, label:  raw(t(".health_groups")), class: "tag_list_health_groups" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_food_triggers, label:  raw(t(".food_triggers")), class: "tag_list_food_triggers" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_symptoms, label:  raw(t(".symptoms")), class: "tag_list_symptoms" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_dietary_preferances, label:  raw(t(".dietary_preferances")), class: "tag_list_dietary_preferances" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_age, label:  raw(t(".age")), class: "tag_list_age" %>
          </div>
        </div>
      </div>
      <div class="article-tag-container col-xs-12 <%='hidden' unless @post.content_type != 'Recipe'%>">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_high_level_theme, label:  raw(t(".article_high_level_theme")), class: "tag_list_high_level_theme" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_low_level_theme, label:  raw(t(".article_low_level_theme")), class: "tag_list_low_level_theme" %>
          </div>
        </div>
      </div>
      <div class="recipe-tag-container col-xs-12 <%='hidden' unless @post.content_type == 'Recipe'%>">
        <div class="row">
          <div class="col-xs-4">
            <%= post.text_field :tag_list_meal_type, label:  raw(t(".meal_type")), class: "tag_list_meal_type" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_sub_meal_type, label:  raw(t(".sub_meal_type")), class: "tag_list_sub_meal_type" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_cooking_techniques, label:  raw(t(".cooking_techniques")), class: "tag_list_cooking_techniques" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_eating_style, label:  raw(t(".eating_style")), class: "tag_list_eating_style" %>
          </div>
          <div class="col-xs-4">
            <%= post.text_field :tag_list_main_ingredient, label:  raw(t(".main_ingredient")), class: "tag_list_main_ingredient" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <%= post.text_area :content, label:  t(".happy_writing"), class:  "col-xs-12 ckeditor", id: "post_content" %>
     <div class="row form-group">
      <div class="col-xs-12 form-group">
        <div class="form-actions">
          <%#= post.button t(".preview"), class: "btn btn-lg btn-default", type: "button", value: "preview"%>
        </div>
      </div>
    </div> 
  </div>
</section>

<section class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <label>Complete</label>
      </div>
      <div class="col-xs-6 text-center"> 
        <%= post.check_box :published, label:  t(".publish") %>
        <p>Available to KRDNs and clients.</p>
      </div>
      <div class="col-xs-6 text-center">
        <%= post.check_box :public, label:  t(".share") %>
        <p>Available on blog for public.</p>
      </div>
    </div>
  </div>
</section>


<div class="form-actions">
  <%= post.button t(".save"), class:  "btn btn-block btn-primary btn-bottom"%> 
  <%= post.button t(".preview"), class: "btn btn-lg btn-left-top", type: "button", value: "preview"%>
</div>




<div class="post-preview modal-backdrop hide" data-url="<%=admin_post_preview_url%>" data-toggle="post-preview" data-trigger="button[value='preview']">
  <div class="post-preview-inner">
    <div class="navbar pull-right">
      <div class="navbar-inner">
        <span class="brand"><%=t(".preview")%></span> 
        <a class="btn btn-primary pull-right" data-dismiss="post-preview"><%=t(".close")%></a>
      </div>
    </div>
  </div>
  <iframe src="" name="preview"></iframe>
</div>

<script>

  // DatePicker
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }

  // Tag Suggestions
  <% Monologue::Post.tag_key.each do |category_class, category_name| %>
    $(".<%=category_class%>").select2({tags: <%= Monologue::Tag.where(tag_category: category_name).map{|t| t.name }.to_json.html_safe %>, width: 'resolve' });
  <% end %>

  // post title creating URL as typed
  $( "#post_title" ).keyup(function() {
    var contentTitle = $(this).val().toLowerCase().split(" ");
    var output = '';
    for (var i = 0; i < contentTitle.length; i++) {
      if (i < contentTitle.length - 1) {
          output += contentTitle[i] + '-';
      } else {
          output += contentTitle[i];
      }
    }
    $("#post_url").val(output);
  });

  // radio buttons for content type showing and hiding tags
  $('input[type="radio"][name="post[content_type]"]').change(function() {
    var $radioButton = $(this);
    if ( ($radioButton.val() === 'Article: Digital Marketing') || ($radioButton.val() === 'Article: Client Fulfillment') )  {

        $(".article-tag-container").removeClass("hidden");
        $(".article-tag-container input").prop("disabled", false);
        $(".recipe-tag-container input").prop("disabled", true);
        $(".recipe-tag-container").addClass("hidden");

    } else if ($radioButton.val() === 'Recipe') {
        $(".recipe-tag-container").removeClass("hidden");
        $(".recipe-tag-container input").prop("disabled", false);
        $(".article-tag-container input").prop("disabled", true);
        $(".article-tag-container").addClass("hidden");
    } else {
        $(".recipe-tag-container input").prop("disabled", false);
        $(".recipe-tag-container").addClass("hidden");
        $(".article-tag-container input").prop("disabled", true);
        $(".article-tag-container").addClass("hidden");
    }
  });

  // CKEDITOR sticky header
  CKEDITOR.on('instanceReady', function() { 

    function fixDiv() {
      var $div = $("#cke_1_top");
      if ($(window).scrollTop() > $div.data("top")) { 
        $('#cke_1_top').addClass("cke_top_nav"); 
      } else {
        $('#cke_1_top').removeClass("cke_top_nav");
      }
    };
    // set original position on load
    $("#cke_1_top").data("top", $("#cke_1_top").offset().top); 
    // call fixdiv on scroll 
    $(window).scroll(fixDiv);

  });




</script>