<%= post.error_messages %>
<section class="row">
  <div class="col-xs-12">
    <h2>Stage 1: Editorial Guidance</h2>
    <p>The editorial calendar will drive what content gets created.  Here, the editorial team can select the guidance necessary so that the specs of the article can be created.</p>
    <div class="row form-group">
      <div class="col-xs-3">
        <%= post.text_field :published_at, label:  t(".targeted_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12">
      <label>What type of content is it?</label>
      <div class="checkbox">
        <%= post.check_box :tag_list, label: "Article: Client Fulfillment" %>
        <%= post.check_box :tag_list, label: "Article: Digital Marketing" %>
        <%= post.check_box :tag_list, label: "Recipe" %>
        <%= post.check_box :tag_list, label: "Meal Plan" %>
        <%= post.check_box :tag_list, label: "Pantry List" %>
        </div>
      </div>
    </div>
    <div class="row form-group"> 
      <div class="col-xs-4">
        <%= post.text_field :tag_list, label:  raw(t(".major_personas")), class: "post_tag_list" %>
      </div>
      <div class="col-xs-4">
        <%= post.text_field :tag_list, label:  raw(t(".sub_personas")), class: "post_tag_list" %>
      </div>
      <div class="col-xs-4">
        <%= post.text_field :tag_list, label:  raw(t(".themes")), class: "post_tag_list" %>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <h2>Stage 2: Content Specs</h2>
    <p>Specifications should be based on the goals set forth by the editorial team.  Specs can be in short form but should help guide the author that will be crafting the content.</p>
    <%= post.collection_select :author_id, @authors, :id,:email, include_blank: true, label: "Assign Author"  %>
    <%= post.text_area :specs, label:  t(".specs"), rows: 3 %>

  </div>
</section>
<section class="row">
  <div class="col-xs-12">
    <h2>Stage 3: Happy Writing</h2> 
    <p>Using the category guidance, specifications, and keywords provided by the editorial team, write the best gosh darn piece of content you can!</p>
    <%= post.text_area :content, label:  t(".happy_writing"), class:  "col-xs-12 ckeditor", id: "post_content" %>
  </div>
  <div class="col-xs-12">
    <div class="form-actions">
      <%= post.button t(".preview"), class: "btn btn-lg btn-default", type: "button", value: "preview"%>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-xs-12">
      <h2>Stage 4: Marketing Review</h2>
      <div class="col-xs-3">
        <%= post.text_field :title, label:  t(".content_title") %>
      </div>
      <div class="col-xs-3">
        <%#= post.text_field :url, label:  raw(t(".url.caption", default_url: "#{t(".url.generated_title")}", root: monologue.root_path)) %>
        <%= post.text_field :url, label:  t(".public_url") %>
      </div>
      <div class="col-xs-3">
        <%= post.collection_select :call_to_action_id, {"Home Page"=> 1, "QOL Landing Page"=> 2, "Provider Landing Page"=>3}, :last, :first, include_blank: true  %>
      </div>
  </div>
</section>


<section class="row">
  <div class="col-xs-12">
      <h2>Stage 5: Specialty Review</h2>
      <table class="table">
        <tr class="active">
          <th>Review</th>
          <th>Required?</th>
          <th>Completed?</th>
          <th>Completion Date</th>
          <th>Reviewer</th>
        </tr>
        <tr class="success">
          <td>Culinary</td>
          <td></td>
          <td><%= post.check_box :culinary_review, label:  t(".culinary_review") %></td>
          <td><div class="row form-group">
      <div class="col-xs-3">
            <%= post.text_field :published_at, label:  t(".targeted_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>
          </td>
          <td></td>
        </tr>
        <tr class="warning">
          <td>Nutrition</td>
          <td></td>
          <td><%= post.check_box :nutrition_review, label:  t(".nutrition_review") %></td>
          <td><%= post.text_field :nutrition_review_completed_at, label:  t(".targeted_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.nutrition_review_completed_at.nil? ? "" : post.object.nutrition_review_completed_at.strftime("%Y-%m-%d") %></td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>Medical</td>
          <td></td>
          <td><%= post.check_box :medical_review, label:  t(".medical_review") %></td>
          <td><div class="row form-group">
      <div class="col-xs-3">
            <%= post.text_field :published_at, label:  t(".targeted_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>
          </td>
          <td></td>
        </tr>
        <tr class="info">
          <td>Editorial</td>
          <td></td>
          <td><%= post.check_box :editor_approved, label:  t(".editorial") %></td>
          <td><div class="row form-group">
      <div class="col-xs-3">
            <%= post.text_field :published_at, label:  t(".targeted_publishing_date"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>
          </td>
          <td></td>
        </tr>
      </table>
  </div>
</section>

<section class="row">
  <div class="col-xs-12">

    <h2>Stage 6: Final Review</h2>
    <div class="col-xs-3">
      <%= post.check_box :editor_approved, label:  t(".editor_approved") %>
    </div>
    <div class="col-xs-3">
      <%= post.check_box :published, label:  t(".published") %>
    </div>
    <div class="col-xs-3">
      <%= post.check_box :medical_review, label:  t(".medical_review") %>
    </div>

  </div>
</section>


<div class="form-actions">
  <%= post.button t(".save"), class:  "btn btn-block btn-primary btn-bottom"%> 
  <%= post.button t(".preview"), class: "btn btn-lg btn-left-top", type: "button", value: "preview"%>
</div>




<div class="post-preview modal-backdrop hide" data-url="<%=admin_post_preview_url%>" data-toggle="post-preview" data-trigger="button[value='preview']">
  <div class="post-preview-inner">
    <div class="navbar pull-right">
      <div class="navbar-inner">
        <span class="brand"><%=t(".preview")%></span> 
        <a class="btn btn-primary pull-right" data-dismiss="post-preview"><%=t(".close")%></a>
      </div>
    </div>
  </div>
  <iframe src="" name="preview"></iframe>
</div>

<script>
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }
  $(".post_tag_list").select2({tags: <%= Monologue::Tag.all.map{|t| t.name }.to_json.html_safe %>, width: 'resolve' });
</script>