<%
  list = @list
  previews = @previews
%>


<!-- KRDN DASHBOARD  -->
<div id="welcome-page" class="container-fluid">
    <div class="row">

    <!-- KRDN NAV-->
      <%= render "/layouts/navbars/dietitian_nav" %>

      <!-- MAIN CONTENT -->
      <main class="main-content-container">

        <!-- ALERTS-->
        <section class="alerts-container">
            <%= render "/layouts/alerts" %>
        </section>

        <section>
          
          <div class="rep--main-container">
            <h1><%= t '.list_title' %></h1>

            <%= with_index_hook :list do %>
              <div class="<%= rep_style[:row_class] %>">
                <div class="rep--email-list-half">
                  <h2>Stripe</h2>
                  <div class="rep--list-group">
                    <a class="rep--list-group__item" href="#">
                      Payment Receipt
                    </a>
                    <a class="rep--list-group__item" href="#">
                      Refund Receipt
                    </a>
                  </div>
                </div>
                <% list.columns do |groups| %>
                  <div class="rep--email-list-half">
                    <% groups.each do |title, group_previews| %>
                      <h2><%= title == "Devise" ? "Registration" : title %></h2>
                      <div class="<%= rep_style[:list_group_class] %>">
                        <% group_previews.each do |p| %>
                          <a class="<%= rep_style[:list_group_item_class] %>"
                             href="<%= rails_email_preview.rep_email_path(preview_id: p.id, email_locale: @email_locale) %>">
                            <%= p.method_name.titleize  %>
                          </a>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="rep--email-list-half">
                  <h2>Appointments</h2>
                  <div class="rep--list-group">
                    <a class="rep--list-group__item" href="#">
                     New Appointment for KRDN
                    </a>
                    <a class="rep--list-group__item" href="#">
                     New Appointment for Client
                    </a>
                    <a class="rep--list-group__item" href="#">
                     1 Week Reminder for Client
                    </a>
                    <a class="rep--list-group__item" href="#">
                      1 Day Reminder for Client
                    </a>
                    <a class="rep--list-group__item" href="#">
                      5 Minutes Late Reminder for Client
                    </a>
                    <a class="rep--list-group__item" href="#">
                      Missed Appointment for Client
                    </a>
                    <a class="rep--list-group__item" href="#">
                      Assessment Available for Client
                    </a>
                  </div>
                </div>
                <div class="rep--email-list-half">
                  <h2>Sales</h2>
                  <div class="rep--list-group">
                    <a class="rep--list-group__item" href="#">
                      Remaining Package Credits
                    </a>
                    <a class="rep--list-group__item" href="#">
                      Schedule Next Appointment
                    </a>
                    <a class="rep--list-group__item" href="#">
                      Confirm Unpaid Appointment
                    </a>
                   
                  </div>
                </div>
              </div>
            <% end %>
            <hr/>
            <p class="rep--footer">
              <%#= t 'rep.base.email', count: previews.length %> <%#= t 'rep.base.in' %> <%#= t 'rep.base.mailer', count: list.groups.length %>
            </p>
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <div class="col-xs-12 col-sm-10 col-sm-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>





