

<div id="family-page" class="container-fluid">
  <div class="row">

    <%= render "/layouts/navbars/user_nav" %>

    <main class="col-xs-12 col-sm-10 col-sm-offset-2">
     <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      </section>
      <section>
        <h1>The <%=current_user.last_name%> Family</h1>
      </section>
      <hr>
      <div class="dynamic-page-container">
    
        <%=render "/food_diaries/show", food_diary: @food_diary, food_diary_entry: @food_diary_entry %>



      </div>



    </main>
    <div class="col-xs-10 col-xs-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>




