

<div id="family-page" class="container-fluid">
  <div class="row">

    <%= render "/layouts/navbars/user_nav" %>

    <main class="col-xs-10 col-xs-offset-2">
     <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      </section>
      <section>



        <h1><%=@food_diary.user.first_name%>'s Food Diary </h1>
      </section>
      <hr>
      <section class="row">
        <%= link_to 'New food diary entry', new_food_diary_food_diary_entry_path(@food_diary), class: "btn btn-md btn-default" %>
      </section>
      <section class="row">
      	<table class="table">
				  <thead>
				    <tr>
				      <th>Consumed at</th>
				      <th>Location</th>
				      <th>Meal, Formula, Breast Milk, or Beverage</th>

				      <th colspan="3"></th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @food_diary.food_diary_entries.each do |food_diary_entry| %>
				      <tr>
				        <td><%= food_diary_entry.consumed_at %></td>
				        <td><%= food_diary_entry.location %></td>
				        <td><%= food_diary_entry.food_item %></td>
				        <td><%= link_to 'Edit', edit_food_diary_food_diary_entry_path(@food_diary, food_diary_entry) %></td>
				        <td><%= link_to 'Destroy', food_diary_food_diary_entry_path(@food_diary, food_diary_entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>


      </section>


    </main>
    <div class="col-xs-10 col-xs-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>




