<h2>Client: <%=appointment.appointment_host.first_name%> <%=appointment.appointment_host.last_name%></h2>
<h2>Patient: <%=appointment.patient_focus.first_name%> <%=appointment.patient_focus.last_name%></h2>
<ul>
  <li><h3>Relation: <%=appointment.patient_focus.family_role%></h3></li>
  <li><h3>Age: <%=appointment.patient_focus_age%></h3></li>
  <li><h3>Height: <%=appointment.patient_focus_height%></h3></li>
  <li><h3>Weight: <%=appointment.patient_focus_weight%></h3></li>
  <li><h3>Health Groups:</h3>
    <% if appointment.patient_focus.patient_groups.count > 0 %>
    <ul>
      <% appointment.patient_focus.patient_groups.each do |health_group| %>
        <li> <%=health_group.name%></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <li><h3>Notes:</h3>
    <p><%=appointment.patient_focus.family_note%></p>
  </li>
</ul>
<h3>Family Members:</h3>
<ul>
  <li><%=appointment.appointment_host.first_name%></li>
  <% appointment.appointment_host.head_of_families.first.users.each do |family_member| %>
    <% family_member = Users::UserPresenter.new(family_member) %>
    <li> <%=family_member.first_name%>(<%=family_member.family_role%>): <%= family_member.age%></li>
  <% end %>
</ul>



          