<%= simple_form_for(@appointment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%=f.input :dietitian_id, collection: @dietitians.all(order: 'email') %>
	</div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
