

<%= simple_form_for(@appointment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 form-group">
    <p><b>Start Time</b></p> 
    <%= f.datetime_select :start_time, input_html: { class: "form-control"}  %>
  </div>

  <div class="col-xs-12 form-group">
    <p><b>End Time</b></p> 
    <%= f.datetime_select :end_time, input_html: { class: "form-control"}  %>
  </div>
  <div class="col-xs-12 form-group">
    <%= f.input :status, collection: ['In Registration', "Unused Package Session", 'Paid', "Follow Up Unpaid", 'Complete'], :selected => "Paid", :include_hidden => false, input_html: { class: "form-control"} %>
  </div>

  <div class="col-xs-12 form-group">
  <%= f.input :patient_focus_id,  collection: @clients_and_family_members, prompt: "Choose a Patient", include_blank: false, label_method: :first_name, value_method: :id, input_html: { class: "form-control"}%>

  </div> 

  <div class="col-xs-12 form-group">
    <%= f.input :dietitian_id, collection: @dietitians, prompt: "Choose a Dietitian", label_method: :signature, value_method: :id, :include_hidden => false, input_html: { class: "form-control"}%>
  </div>


  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
