<%= simple_form_for(@appointment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :patient_focus_id, collection: @appointment.family.family_members, label_method: :full_name, value_method: :id, include_blank: false, input_html: { class: "form-control-3"}  %>
        <%#= f.association :patient_focus, label_method: :first_name, value_method: :id, include_blank: false %>
  </div>
<!--   <div class="field">
    <%#= f.input :appointment_host_id,  collection: User.all, label_method: :first_name, value_method: :id, include_blank: false %>
  </div> -->
  <div class="field">
    <%= f.input :dietitian_id, collection: @dietitians, prompt: "Choose a Dietitian", label_method: :email, value_method: :id, :include_hidden => false, input_html: { class: "form-control-3"} %>
  </div>
  <div class="field">
    <%= f.input :status, collection: ['In Registration', "Unused Package Session", 'Paid', "Follow Up Unpaid", 'Complete'], prompt: "Select Status", :include_hidden => false, input_html: { class: "form-control-3"} %>
  </div>
  <div class="field">
    <p><b>Registration Stage</b></p> 
    <%= f.input :registration_stage, collection: [[1, "1"], [2, "2"], [3, "3"], [4, "4"], [5, "5"],[6, "6"] ], input_html: { class: "form-control-3"} %>
  </div>
  <div class="field">
    <p><b>Duration</b></p> 
    <%= f.input :duration, collection: [30, 60], input_html: { class: "form-control-3"} %>
  </div>
  
    <div class="col-xs-12 col-md-3 form-group">
      <p><b>Start Time</b></p> 
      <%= f.datetime_select :start_time %>
    </div>
    <div class="col-xs-12 col-md-3 form-group">
      <p><b>End Time</b></p> 
      <%= f.datetime_select :end_time %>
    </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
