<%= simple_form_for(@appointment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :patient_focus_id %>
  </div>
  <div class="field">
    <%= f.input :appointment_host_id %>
  </div>
  <div class="field">
    <%= f.input :dietitian_id %>
  </div>
  <div class="field">
    <%= f.input :date %>
  </div>
  <div class="field">
    <%= f.input :room_id %>
  </div>
  <div class="field">
    <%= f.input :note %>
  </div>
  <div class="field">
    <%= f.input :client_note %>
  </div>
  <div class="field">
    <%= f.input :created_at %>
  </div>
  <div class="field">
    <%= f.input :updated_at %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
