<%= simple_form_for(@appointment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.input :patient_focus_id %>
  </div>
  <div class="field">
    <%#= f.input :appointment_host_id %>
  </div>
  <div class="field">
    <%= f.input :dietitian_id, collection: @dietitians, prompt: "Choose a Dietitian", label_method: :email, value_method: :id, :include_hidden => false, input_html: { class: "form-control-3"} %>
  </div>

    <div class="col-xs-12 col-md-3 form-group">
      <p><b>Start Time</b></p> 
      <%= f.datetime_select :start_time %>
    </div>
    <div class="col-xs-12 col-md-3 form-group">
      <p><b>End Time</b></p> 
      <%= f.datetime_select :end_time %>
    </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
