<%= simple_form_for @appointment, remote: true do |f| %>

  <div class="row">
    <div class="form-group col-xs-10 col-xs-offst-1">
    <label>Client and patient history</label>
      <%= f.input :note, label: false, :input_html => { class: 'form-control', :cols => 5, :rows => 5, value: "#{@dietitian_pre_appt_survey[0].answer + ' ' + @survey.questions.order('position')[2].answer}" }%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10 col-xs-offst-1">
    <label>Nutrition assessment</label>
      <%= f.input :client_note, label: false, :input_html => { class: 'form-control', :cols => 5, :rows => 5, value: @dietitian_pre_appt_survey[13].answer} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10 col-xs-offst-1">
    <label>Recommendations (food, product, etc.)</label>
      <%= f.input :other_note, label: false, :input_html => { class: 'form-control', :cols => 5, :rows => 5 } %>
    </div>
  </div>
  <div class="actions">
    <%= f.button :submit, "Save", class: "btn btn-success btn-lg" %>
  </div>
<% end %>