
<div class="modal fade" id="appointmentPrepModal" tabindex="-1" role="dialog" aria-labelledby="appointmentPrepModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-xs-6 form-group">
            <div class="col-xs-12">
              <h3>Client Information</h3>
                <div id="prep-appointment-family-list">
                  <div id="family-member-prep-survey" data-id="prep-survey" class="family-member">
                    <button data-family-member-id="prep-survey" type="button" class="btn btn-white btn-sm family-member-health-preview"><h4>Client Questions</h4></button>
                  </div>
                  <%@family_members.each do |family_member|%>
    
                    <div id="family-member-<%=family_member.id%>" data-id="<%=family_member.id%>" class=" family-member">
                      <button data-family-member-id="<%=family_member.id%>" type="button" class="btn btn-white btn-sm family-member-health-preview"><h4><%=family_member.first_name%></h4></button>
                    </div>
                  <% end %>
                </div>
            </div>
            <div id="family-member-health-intro" class="col-xs-12 family-member-health-container">
              <ul>
                
                  <h1><li>Read about your client's family and goals by clicking above.
                  </li></h1>
                  <h1><li>Takes notes by filling out the fields to the right.
                  </li></h1>
                  <h1><li>Save when you are done preparing for the appointment.</li></h1>
            </div>
            <%= render "/surveys/survey_answers" %>
  <% @family_members.each do |family_member| %>
            <div id="family-member-health-<%=family_member.id%>" class="col-xs-12 family-member-health-container alert alert-success hidden">
              <div id="top-container" class="col-xs-12 text-center">
                <h3> <%=family_member.first_name %> <%=family_member.last_name %> </h3>
              </div>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="general">
                  <div class="col-xs-12 text-left">
                    <% if ( @appointment.appointment_host != family_member)%>
                      <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                          <label>Relation to Client</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                          <p><%=family_member.family_role%></p>
                        </div>
                      </div>
                    <% else %>
                      <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                          <label>This is the appointment host</label>
                        </div>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-xs-3">
                        <%= label_tag :sex, "Gender:" %>
                      </div>
                      <div class="col-xs-9">
                        <p><%= family_member.sex %></p>
                      </div>
                    </div>
                    <div class="row form-group">
                  
                      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <%= label_tag :birth_date, "Age:" %>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <p><%=family_member.age %></p>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <%= label_tag :birth_date, "Birth Date: " %>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <p><%= family_member.date_of_birth %></p>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <%= label_tag :height_inches, "Height: " %>
                      </div>
                      <div id="height-attributes" class="col-xs-9">
             
                         <p> <%=family_member.height%> </p>
              
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <%= label_tag :weight_ounces, "Weight: " %>
                      </div>
                      <div id="weight-attributes" class="col-xs-9">

                         <p> <%=family_member.weight%></p>
           
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <hr class="health-group-break-point">
                  </div>
                  <div class="col-xs-12 form-group">
                    <label>Health Groups</label>
                    <% if family_member.patient_groups.count >= 1 %>
                      <% family_member.patient_groups.each do |health_group| %>
                        <div class="btn btn-white-orange btn-lg">
                          <%= health_group.name %>
                        </div>
                      <% end%>
                    <% else %>
                      <p>No health groups</p>
                    <% end %>
                    <% if family_member.unverified_health_groups.count >= 1%>
                      <label>Unverified Health Groups</label>
                      <% family_member.unverified_health_groups.each do |health_group| %>
                        <div class="btn btn-white-orange btn-lg">
                          <%= health_group.name %>
                        </div>
                      <% end%>
                    <% end %>
                  </div>
                  <div class="col-xs-12 form-group">
                    <label>Additional info about <span class="dynamic-user-name"><%=family_member.first_name%></span></label>
                    <p><%=family_member.family_note %></p>
                  </div>
                </div>
              </div>
            </div><!--  family-member-page -->
  <% end %>
          </div>
          <div class="col-xs-6">
          <h3>Your Notes</h3>
            <%= render "/surveys/survey_templates/dietitian_pre_appt_survey", survey: @dietitian_survey %>
          </div>
        </div> <!-- user form -->

      </div><!--  modal body -->
      <div class="modal-footer">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>