<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/dietitian_nav" %>

      <main class="col-xs-10 col-xs-offset-2">
       <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h1>The <%=@appointment.appointment_host.last_name%> Family</h1>
        </section>
        <hr>
        <section class="row">
          <div class="col-xs-12">
            <h3><%= @appointment.start_time.in_time_zone.strftime("%B %d, %Y %I:%M %p") %> (<%= @appointment.duration%> mins)</h3>
            <h3>Appointment with: <%= @appointment.appointment_host.first_name%> <%= @appointment.appointment_host.last_name%></h3>
            <h3>Appointment for: <%= @appointment.patient_focus.first_name%> <%= @appointment.patient_focus.last_name%></h3>

          </div>

        </section>
        <hr>
        <section class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= render "surveys/survey_answers", survey: @survey%>
          </div>
        </section>
        <hr>
        <section id="family-members-container" class="row">
          <% if @family && @family.family_members %>
            <% @family.family_members.each.with_index(1) do |family_member, index| %>

            <% if family_member == @appointment.patient_focus%>
              <div class="col-xs-12 alert alert-success">
            <% else %>
              <div class="col-xs-12">
            <% end %>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-6 text-center">
                      
                      <% if family_member.main_avatar && family_member.main_avatar.icon.url %>
                        <%= image_tag family_member.main_avatar.icon.url %>
                      <% else %>
                        <%= image_tag "icons/add_user_photo.png" %>
                      <% end %>
                      <h2>
                        <%= family_member.full_name%> 
                      </h2>
                    </div>

                    <% if family_member == @appointment.patient_focus%>
                    <div class="col-xs-6 alert alert-warning">

                      <div id="carousel-dietitian-prep" class="carousel slide" data-ride="carousel" data-interval="false">
                                <!-- Controls -->
                        <div class="row">
                          <div class="col-xs-4">
                            <a href="#carousel-dietitian-prep" class="btn btn-md btn-default" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only"></span>
                              New Growth
                            </a>
                          </div>
                          <div class="col-xs-4 col-xs-offset-4">
                            <a href="#carousel-dietitian-prep" class="btn btn-md btn-default" role="button" data-slide="next">
                              Estimated Needs
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only"></span>
                            </a>
                          </div>
                        </div>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                            <div class="carousel-content">
                              <div class="col-xs-12">

                                <%= render "growth_entries/growth_assessment_form", growth_chart: @appointment.patient_focus.growth_chart, growth_entry: @appointment.patient_focus.growth_chart.growth_entries.last %>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <div class="carousel-content">
                              <div class="col-xs-12">

                                <%= render "growth_entries/estimated_needs_assessment_form", growth_chart: @appointment.patient_focus.growth_chart, growth_entry: @appointment.patient_focus.growth_chart.growth_entries.last %>
                              </div>
                            </div>

                          </div>
                        </div>


                      </div>

                    </div>
                    <% end %>
                  </div>
                  <div class="panel-group" id="accordion-<%=family_member.id%>" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne-<%=family_member.id%>">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion-<%=family_member.id%>" href="#collapseOne-<%=family_member.id%>" aria-expanded="true" aria-controls="collapseOne-<%=family_member.id%>">
                            Nutrition Profile
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne-<%=family_member.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-<%=family_member.id%>">
                        <div class="panel-body">
                          <%= render "/families/show_family_member", family_member: family_member%>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo-<%=family_member.id%>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-<%=family_member.id%>" href="#collapseTwo-<%=family_member.id%>" aria-expanded="false" aria-controls="collapseTwo">
                            Growth Chart
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo-<%=family_member.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-<%=family_member.id%>">
                        <div class="panel-body">
                          <%= render "/growth_entries/list", growth_chart: family_member.growth_chart %>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree-<%=family_member.id%>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-<%=family_member.id%>" aria-expanded="false" aria-controls="collapseThree-<%=family_member.id%>">
                            Food Diary
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree-<%=family_member.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-<%=family_member.id%>">
                        <div class="panel-body">
                          <%= render "/food_diary_entries/list", food_diary: family_member.food_diary %>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour-Recipes>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-Recipes" aria-expanded="false" aria-controls="collapseFour-Recipes">
                            Recommended Recipes
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour-Recipes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-Recipes">
                        <div class="panel-body">
                          <p>Coming soon!</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive-Recipes>">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive-Recipes" aria-expanded="false" aria-controls="collapseFive-Recipes">
                            Recommened Articles
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFive-Recipes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive-Recipes">
                        <div class="panel-body">
                          <p>Coming soon!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
  

        </section>


      </main>
			<div class="col-xs-10 col-xs-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>


