<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/dietitian_nav" %>

      <main class="col-xs-12 col-sm-10 col-sm-offset-2">
       <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h3 class="header">Overview</h3> 
          <div class="row">
            <div class="col-xs-4">
              <h4>Date:</h4>
              <p><%= @appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%A %B %d, %Y") %></p>
            </div>
            <div class="col-xs-4">
              <h4>Time:</h4>
              <p><%= @appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p") %></p>
            </div>
            <div class="col-xs-4">
              <h4>Client Time Zone:</h4>
              <p><%#= @appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p") %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <h4>Client:</h4>
              <p><%= @appointment.appointment_host.full_name%></p>
            </div>
            <div class="col-xs-4">
              <h4>Appointment Focus:</h4>
              <p><%= @appointment.patient_focus.full_name%></p>
            </div>
            <div class="col-xs-4">
              <h4>KRDN:</h4>
              <p><%= @appointment.dietitian.first_name%> <%= @appointment.dietitian.last_name%></p>
            </div>
          </div>
        </section>
        <hr>
        <section>
          <h3 class="header">Pre Appointment Questionnaire</h3>
          <%= render "surveys/survey_answers", survey: @survey%>
        </section>
        <hr>
          <%= render "/appointments/appointment_prep/show_family", family: @family %>
        <hr>
        <section>
          <h3 class="header">Appointment Prep Notes</h3>
          <%= render "/appointments/appointment_prep/survey_form", surveyable: @appointment, survey: @dietitian_survey %>

        </section>

      </main>
			<div class="col-xs-10 col-xs-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>


