<%= link_to 'New Appointment', new_appointment_path %>  
  <div class="col-xs-12 form-group">
    <h1>Appointments To Be Assigned</h1>
  </div>
<% if @appointments_no_dietitian.count > 0 %>
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>Date/Time</th>
          <th>Client</th>
          <th>Dietitian</th>
        </tr>
      </thead>

      <tbody>
        <% @appointments_no_dietitian.each do |appointment, dietititans| %>
          <tr class="appt-id" data-appt-id="<%=appointment.id%>">
            <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
            <td><%= appointment.appointment_host.first_name%> <%= appointment.appointment_host.last_name%></td>
            <td><a class="show-family-button" href="#">Review & Assign</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <div class="form-group">
      <ul >
        <li>
          <p>No appointments to be assigned</p>
        </li>
      </ul>
    </div>
<% end %>
  </div>


<h1>Upcoming appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Dietitian</th>
      <th>Patient Name</th>
      <th>Patient Age</th>
      <th>Appointment host</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <% if appointment.dietitian %>
          <td><%= appointment.dietitian.email %></td>
        <% else %>
          <td> </td>
        <% end %>
        <td><%= appointment.patient_focus.first_name%></td>
        <td><%= appointment.patient_focus.age%></td>
        <td><%= appointment.appointment_host.first_name%></td>

        <td><%= appointment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td><%= appointment.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td><%= link_to 'Change Dietitian', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%#= link_to 'Start Appointment', {:controller => "rooms", :action => "in_session", :id => appointment.room_id, appointment: appointment.id }, class: "text-center action kindrd-button btn-block tilt"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Previous appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Patient focus</th>
      <th>Appointment host</th>
      <th>Dietitian</th>
      <th>Date</th>
      <th>Room</th>
      <th>Note</th>
      <th>Client note</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @previous_appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient_focus%></td>
        <td><%= appointment.appointment_host%></td>
        <td><%= appointment.dietitian_id %></td>
        <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td><%= appointment.room_id %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.client_note %></td>
        <td><%= appointment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td><%= appointment.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

