<div id="welcome-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/dietitian_nav" %>

      <main class="col-xs-10 col-xs-offset-2">
        <section class="jumbotron">
          <div id="jumbotron-inner" class="row">
            <div class="col-xs-12 form-group">
              <h1>Appointments To Be Assigned</h1>
            </div>
          <% if @appointments_no_dietitian.count > 0 %>
            <div class="col-xs-10 col-xs-offset-1">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date/Time</th>
                    <th>Client</th>
                    <th>Dietitian</th>
                  </tr>
                </thead>

                <tbody>
                  <% @appointments_no_dietitian.each do |appointment, dietititans| %>
                    <tr class="appt-id" data-appt-id="<%=appointment.id%>">
                      <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
                      <td><%= appointment.appointment_host.first_name%> <%= appointment.appointment_host.last_name%></td>
                      <td><%=link_to "Review & Assign", appointment_path(appointment.id), class: "show-family-button", remote: true %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
              <div class="form-group">
                <ul >
                  <li>
                    <p>No appointments to be assigned</p>
                  </li>
                </ul>
              </div>
          <% end %>
         
        
          </div>
        </section>
        <section>

          <%#= link_to 'New Appointment', new_appointment_path %>  

            
        </section>
        <section>

          <h1>Upcoming appointments</h1>

          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Client</th>
                <th>Patient</th>
                <th>Patient Age</th>
                <th>Dietitian</th>
                <th>Duration</th>
                <th>Date of Purchase</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @upcoming_appointments.each do |appointment| %>
                <tr class="appt-id" data-appt-id="<%=appointment.id%>">
                  <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
                  <td><%= appointment.appointment_host.first_name%></td>
                  <td><%= appointment.patient_focus.first_name%></td>
                  <td><%= appointment.patient_focus.age%></td>
                  <% if appointment.dietitian %>
                    <td><%= appointment.dietitian.last_name %></td>
                  <% else %>
                    <td> </td>
                  <% end %>

                  <td><%= appointment.show_duration%></td>

                  <td><%= appointment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>

           
                  <td><a class="show-family-button" href="">Review</a></td>
              
                  <td><%= link_to 'Re-Assign', edit_appointment_path(appointment) %></td>
                  <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
        </section>
        <section>
          <h1>Previous appointments</h1>

          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Client</th>
                <th>Patient</th>
                <th>Dietitian</th>
                <th>Duration</th>
                <th>Date of Purchase</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @previous_appointments.each do |appointment| %>
                <tr class="appt-id" data-appt-id="<%=appointment.id%>">
                  <td><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
                  <td><%= appointment.appointment_host.first_name%></td>
                  <td><%= appointment.patient_focus.first_name%></td>
                  <% if appointment.dietitian %>
                    <td><%= appointment.dietitian.last_name %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td><%= appointment.show_duration%></td>
                  <td><%= appointment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>

                  <td><a class="show-family-button" href="">Review</a></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </section>
      </main>
      <div class="col-xs-10 col-xs-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>














