<div id="family-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/main_navigation_column" %>

      <main class="main-content-container col-xs-12 col-sm-10">
       <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h1>Appointment</h1>
        </section>
        <hr>
        <div class="dynamic-page-container">
          <section>
            <%= render "/surveys/survey_templates/appt_overview", surveyable: @surveyable %>
          </section>
          <section>
            <%= render "/families/show", family: @family, surveyable: @surveyable%>
          </section>
          <section class="surveys-container">
              <%= render "surveys/survey_templates/client_pre_appt_survey_item", surveyable: @surveyable, survey: @client_prep_survey %>
      
              <%= render("surveys/survey_templates/client_appt_notes_item", surveyable: @surveyable, survey: @client_notes) if current_user && @surveyable.status == "Complete" %>

              <%= render("surveys/survey_templates/dietitian_pre_appt_survey_item", surveyable: @surveyable, survey: @dietitian_prep_survey) if current_dietitian %>

              <%= render("surveys/survey_templates/dietitian_appt_notes_item", surveyable: @surveyable, survey: @dietitian_notes) if current_dietitian && @surveyable.status == "Complete" %>

              <%= render("surveys/survey_templates/client_assessment_item", surveyable: @surveyable, survey: @assessment) if @surveyable.status == "Complete"%>            
              <%= render("surveys/survey_templates/provider_assessment_item", surveyable: @surveyable, survey: @provider_assessment) if current_dietitian && @surveyable.status == "Complete" %>            
              <%#= render("post_recommendations/add_post_recommendation_item", appointment: @surveyable) if current_dietitian %>    

              <%= render("surveys/survey_templates/client_nps_item", surveyable: @surveyable, survey: @client_nps_survey) if current_dietitian && (current_dietitian.has_role? "Admin Dietitian") && @surveyable.status == "Complete"%>  

              <%= render("surveys/survey_templates/dietitian_nps_item", surveyable: @surveyable, survey: @dietitian_nps_survey) if current_dietitian && (current_dietitian.has_role? "Admin Dietitian") && @surveyable.status == "Complete" %>  
          </section>
          <% if current_dietitian %>
            <div>
              <h3 class="add-recommendations-title"><%= link_to "Add Recommendations", post_recommendations_posts_path(appointment_id: @surveyable.id), remote: true %></h3> 
            </div>
          <% end %>

          <%= render "/post_recommendations/index", post_recommendations: @post_recommendations %>
        </div>
      </main>
      <div class="col-xs-12 col-sm-10 col-sm-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>
