<%= simple_form_for [growth_chart, growth_entry], html: {class: 'form-horizontal', role:"form" }, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :growth_chart_id, value: growth_chart.id %>

    <table class="table">
        <thead>
            <tr>
              <th colspan="6">Date measured</th>
              <th>Height in inches</th>
              <th>Weight in ounces</th>
              <th></th>
            </tr>
          </thead>
      <tbody>
          <tr>

            <td colspan="6">

              <%= f.date_select :measured_at, {prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: 1910, order: [:month, :day, :year]}, {:class => "form-control-3", label: false} %>
            </td>
       
            <td> <%= f.input :height_in_inches, label: false, placeholder: "28", input_html: {class: "form-control-6" } %></td>
            <td><%= f.input :weight_in_ounces, label: false, placeholder: "60", input_html: {class: "form-control-6" } %></td>
            <td><%= f.button :submit, "Save", class: "btn btn-sm btn-success" %></td>
          </tr>
      </tbody>
    </table>

<% end %>