<%= simple_form_for [growth_chart, growth_entry], html: {class: 'form-horizontal', role:"form" }, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :growth_chart_id, value: growth_chart.id %>
    <table class="table table-condensed">
        <thead>
            <tr>
              <th></th>
              <th>Percentile (%)</th>
              <th>Z Score</th>

            </tr>
          </thead>
      <tbody>
          <tr>
            <th>Height</th>
            <td> <%= f.input :height_percentile, label: false, placeholder: "87.5" %></td>
            <td> <%= f.input :height_z_score, label: false, placeholder: "32.2" %></td>
          </tr>
      </tbody>
    </table>
    <table class="table">

      <tbody>
          <tr>
            <th>Weight</th>
            <td> <%= f.input :weight_percentile, label: false, placeholder: "87.5" %></td>
            <td> <%= f.input :weight_z_score, label: false, placeholder: "32.2" %></td>
          </tr>
      </tbody>
    </table>

    <table class="table">

      <tbody>
          <tr>
            <th>BMI</th>
            <td> <%= f.input :bmi_percentile, label: false, placeholder: "87.5" %></td>
            <td> <%= f.input :bmi_z_score, label: false, placeholder: "32.2" %></td>
          </tr>
      </tbody>
    </table>
    <table class="table">

      <tbody>
          <tr>
            <th>Notes</th>
            <td colspan="2"> <%= f.input :dietitian_note, label: false, placeholder: "Take notes and comments here" %></td>
          </tr>
      </tbody>
    </table>
              
<%= f.button :submit, "Save", class: "btn btn-block btn-success" %>
<p class="text-center">Measured at <%= growth_entry.measured_at.in_time_zone.strftime("%B %d, %Y")%></p>
<% end %>

