

<div id="family-page" class="container-fluid">
  <div class="row">

    <%= render "/layouts/navbars/user_nav" %>

    <main class="col-xs-10 col-xs-offset-2">
     <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      </section>
      <section>



        <h1><%=@growth_chart.user.first_name%>'s Growth Chart </h1>
      </section>
      <hr>
      <section class="row">
        <p>Edit growth history</p>
        
        <%= render 'form', growth_chart: @growth_chart , growth_entry: @growth_entry%>
      </section>


    </main>
    <div class="col-xs-10 col-xs-offset-2">
      <%=render "/layouts/footers/main_footer" %>
    </div>
  </div>
</div>




