<h3><span class="glyphicon glyphicon-calendar"></span>Previous Appointments</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Duration</th>
        <th>Kindrdfood Dietitian</th>
        <th>Client</th>
        <th>Focus</th>
        <th>Assessment</th>
        <% if current_dietitian %>
          <th>Provider Assessment</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if previous_appointments.count >= 1%>
        <% previous_appointments.each do |appointment| %>
          <tr>  
            <% if current_user %>
              <td><%= link_to appointment.appointment_host_start_time, appointment_path(appointment) %></td>
            <% else %>
              <td><%= link_to appointment.appointment_start_time, appointment_path(appointment) %> </td>
            <% end %>
            
            <td><%= appointment.show_duration%></td>
            <td><%= appointment.dietitian.signature if appointment.dietitian%></td>
            <td><%= appointment.appointment_host_full_name%></td>
            <td><%= appointment.patient_focus_full_name%></td>

            <% if current_dietitian %>
              <th>
                <% if appointment.client_assessment? && appointment.client_assessment_sent %>
                  <button class="btn btn-xs btn-success" >Sent</button>

                <% elsif appointment.client_assessment? %>
                  <%= link_to "View", appointment_path(appointment), class: "btn btn-xs btn-success" %> 
                  <%= link_to("Send", appointment_send_assessment_path(appointment, send_to: "Client"), class: "btn btn-xs btn-danger", :method => :patch) %> 
                <% else %>
                  <button class="btn btn-xs" disabled="disabled">Not Ready</button>
                <% end %>
              </th>
              <th>

                <% if appointment.provider_assessment? && appointment.provider_assessment_sent %>
                  <button class="btn btn-xs btn-success" >Sent</button>
                <% elsif appointment.provider_assessment? %>
                  <%= link_to "View", appointment_path(appointment), class: "btn btn-xs btn-success" %> 
                  <%= link_to("Send", appointment_send_assessment_path(appointment, send_to: "Provider"), class: "btn btn-xs btn-danger", :method => :patch) %> 
                <% else %>
                  <button class="btn btn-xs" disabled="disabled">Not Ready</button>
                <% end %>
              </th>
            <% else %>
              <th>
                <% if appointment.client_assessment? && appointment.client_assessment_sent %>
                  <%#= link_to("View", appointment_survey_path(appointment, appointment.client_assessment_id), remote: true, class: "btn btn-xs btn-success") %>
                  <%= link_to "View", appointment_path(appointment), class: "btn btn-xs btn-success" %> 
                <% else %>
                  <button class="btn btn-xs" disabled="disabled">Not Ready</button>
                <% end %>
              </th>
            <% end %>

          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No previous appointments.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
