<div id="<%=@item%>" class="col-xs-12 form-group">
  <%= simple_form_for [@quality_reviewable, @quality_review, @review_conflict], :remote => true, :html => {:multipart => true} do |f| %>
    <div class="row">
      <div class="form-group col-xs-2">
        <label>Amount</label>
        <input type="text" class="form-control" placeholder="1 1/2" name="review_conflict[first_suggestion][amount]" value="<%=@ingredient_changes_hash[:amount]%>">
      </div>
      <div class="form-group col-xs-4">
        <label>Measurement</label>
        <input type="text" class="form-control unit-autofill" placeholder="cups" name="review_conflict[first_suggestion][unit]" data-autocomplete-source="<%=@units%>" value="<%=@ingredient_changes_hash[:unit]%>">
      </div>
      <div class="form-group col-xs-5">
        <label>Ingredient</label>
        <input type="text" class="form-control display-name-autofill" placeholder="sliced frozen banana" name="review_conflict[first_suggestion][display_name]" value="<%=@ingredient_changes_hash[:display_name]%>" data-autocomplete-source:"<%=@all_ingredient_display_names%>">
      </div>
    </div>
    <div class="row">
      <div class="add-button-div form-group col-xs-4">
        <label>Shopping List Item</label>
        <input type="text" class="form-control ingredient-autofill" placeholder="banana" name="review_conflict[first_suggestion][shopping_list_item]" value="<%=@ingredient_changes_hash[:shopping_list_item]%>" data-autocomplete-source:"<%=@all_ingredients%>">
      </div>
      <div class="form-group control-group">
        <label class="control-label">Only select if applicable</label>
        <button type="button" class="btn btn-xs btn-warning unselect-ingredient-options">Unselect Both</button>
        <div class="controls">
          <ul id="ingredient-radio-list" class="list-inline">
            <li> 
              <label class="radio inline">
                <input type="radio" name="review_conflict[first_suggestion][options]" value="main"/>
                  <span class="ingredient-radio-label">The Main Ingredient</span>
              </label>
            </li>
            <li> 
              <label class="radio inline">
                <input type="radio" name="review_conflict[first_suggestion][options]" value="optional"/>
                  <span class="ingredient-radio-label">An Optional Ingredient</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :category, as: :hidden, :input_html => { :value => "Recipe Ingredient" }%>
      <%= f.input :item, as: :hidden, :input_html => { :value => @item }%>
    </div>
    <div class=" col-xs-12 form-group">
      <%= f.collection_radio_buttons :risk_level, [["Dangerous", 4], ["High Risk", 3], ["Low Risk", 2], ["No Risk", 1]], :last, :first, :item_wrapper_class=>"form-control" %>
    </div>
    <textarea class="form-control form-group" placeholder="This change is necessary because..." name="review_conflict[first_reviewer_notes]" rows="3"><%=@review_conflict.first_reviewer_notes%></textarea>
    <div class=" col-xs-12 form-group text-center"> 
      <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
    </div> 
  <% end %>
</div>



<!-- YOU ARE HERE -->
