<div id="review-recipe-serving-size" class="col-xs-12 form-group">
  <%= simple_form_for [@quality_reviewable, @quality_review, @review_conflict], :remote => true, :html => {:multipart => true} do |f| %>
    <label for="servingsize">Serves</label>
    <%=  select_tag "review_conflict[first_suggestion]", options_from_collection_for_select(@serving_sizes, "name", "name"), id: "recipe_serving_size"%>
    <div class="form-group">
      <%= f.input :category, as: :hidden, :input_html => { :value => "Basic Info" }%>
      <%= f.input :item, as: :hidden, :input_html => { :value => "serving-size" }%>
      <%= f.input :original_entry, as: :hidden, :input_html => { :value => @quality_reviewable.difficulty }%>
    </div>
    <div class=" col-xs-12 form-group">
    <%= f.collection_radio_buttons :risk_level, [["Dangerous", 4], ["High Risk", 3], ["Low Risk", 2], ["No Risk", 1]], :last, :first, :item_wrapper_class=>"form-control" %>
    </div>
    <textarea class="form-control form-group" placeholder="<%=@review_conflict.first_reviewer_notes%>" name="review_conflict[first_reviewer_notes]" rows="3"></textarea>
    <div class=" col-xs-12 form-group text-center"> 
      <%= f.button :submit, "Suggest Change", class: "btn btn-success btn-lg", type: "submit" %>
    </div>
  <% end %>
</div>