<% if @review_conflict.risk_level == 1 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-success">
    <h4>No Risk</h4>
<% elsif @review_conflict.risk_level == 2 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-info">
    <h4>Low Risk</h4>
<% elsif @review_conflict.risk_level == 3 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-warning">
    <h4>High Risk</h4>
<% elsif @review_conflict.risk_level == 4 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-danger">
    <h4>Dangerous Risk</h4>
<% end %>
    <label>Ingredient and Allergen</label>
    <h4 class="ingredient-preview">
      <%= @allergens_changes_hash["ingredient"]%> 
      <% @allergens_changes_hash["allergens"].each do |allergen|%> 
        <%= allergen %> 
      <% end %>
    </h4>
    <% if  @allergens_changes_hash["common"] == "true" %>
      <h5><%=@allergens_changes_hash["ingredient"]%> is a common allergen found in other ingredients</h5> 
    <% end %>
    <p><%= @review_conflict.first_reviewer_notes %></p>
    <div class=" col-xs-12 form-group text-center"> 
      <%= link_to "Edit Changes", edit_recipe_quality_review_review_conflict_path(@quality_reviewable, @quality_review, @review_conflict), class: "btn btn-success btn-lg", :remote => true%>
    </div>
  </div>