<% if @possible_review_conflicts %>
  <% if @possible_review_conflicts["allergen-#{ingredient.id}"].id %>
    <% @item = "allergen-#{ingredient.id}" %>
    <% @review_conflict = @possible_review_conflicts[@item] %>
    <% @allergens_changes_hash = @review_conflict.allergens_changes_hash %>
  <% end %>
<% else %>
  <% @allergens_changes_hash ||= @review_conflict.allergens_changes_hash %>
<% end %>

<% if @review_conflict.risk_level == 100 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-info">
    <h4>Low Risk</h4>
<% elsif @review_conflict.risk_level == 200 %>
  <div id="<%=@item%>" class="col-xs-12 form-group alert alert-warning">
    <h4>Medium Risk</h4>
<% elsif @review_conflict.risk_level == 300 %>
<div id="<%=@item%>" class="col-xs-12 form-group alert alert-danger">
    <h4>High Risk</h4>
<% end %>
    <label>Ingredient and Allergen</label>
    <h4 class="ingredient-preview">Suggestion #1:
      <%= @allergens_changes_hash["ingredient"]%> </h4>
      <p>Allergens:</p>
      <% @allergens_changes_hash["allergens"].each do |allergen|%> 
        <h4> <%= allergen %> </h4>
      <% end %>
    <% if  @allergens_changes_hash["common"] == "true" %>
      <h5><%=@allergens_changes_hash["ingredient"]%> is a common allergen found in other ingredients</h5> 
    <% else %>
      <h5><%=@allergens_changes_hash["ingredient"]%> is NOT a common allergen found in other ingredients</h5> 
    <% end %>
    <p>Notes: <%= @review_conflict.first_reviewer_notes %></p>
    <% if @review_conflict.second_reviewer_id %>
    <h4 class="ingredient-preview">Suggestion #2:
      <%= @allergens_changes_hash_two["ingredient"]%> </h4>
      <p>Allergens:</p>
      <% @allergens_changes_hash_two["allergens"].each do |allergen|%> 
        <h4> <%= allergen %> </h4>
      <% end %>
      <% if  @allergens_changes_hash_two["common"] == "true" %>
        <h5><%=@allergens_changes_hash_two["ingredient"]%> is a common allergen found in other ingredients</h5> 
      <% else %>
        <h5><%=@allergens_changes_hash_two["ingredient"]%> is NOT a common allergen found in other ingredients</h5> 
      <% end %>
      <p class="form-group">Notes: <%= @review_conflict.second_reviewer_notes %></p>
    <% end %>
    <% if @review_conflict.third_reviewer_id %>
     <h4 class="ingredient-preview">Suggestion #1:
      <%= @allergens_changes_hash_three["ingredient"]%> </h4>
      <p>Allergens:</p>
      <% @allergens_changes_hash_three["allergens"].each do |allergen|%> 
        <h4> <%= allergen %> </h4>
      <% end %>
      <% if  @allergens_changes_hash_three["common"] == "true" %>
        <h5><%=@allergens_changes_hash_three["ingredient"]%> is a common allergen found in other ingredients</h5> 
      <% else %>
        <h5><%=@allergens_changes_hash_three["ingredient"]%> is NOT a common allergen found in other ingredients</h5> 
      <% end %>
      <p class="form-group">Notes: <%= @review_conflict.third_reviewer_notes %></p>
    <% end %>
    <% if @review_conflict.fourth_reviewer_id %>
    <h4 class="ingredient-preview">Suggestion #1:
      <%= @allergens_changes_hash_four["ingredient"]%> </h4>
      <p>Allergens:</p>
      <% @allergens_changes_hash_four["allergens"].each do |allergen|%> 
        <h4> <%= allergen %> </h4>
      <% end %>
      <% if  @allergens_changes_hash_four["common"] == "true" %>
        <h5><%=@allergens_changes_hash_four["ingredient"]%> is a common allergen found in other ingredients</h5> 
      <% else %>
        <h5><%=@allergens_changes_hash_four["ingredient"]%> is NOT a common allergen found in other ingredients</h5> 
      <% end %>
      <p class="form-group">Notes: <%= @review_conflict.fourth_reviewer_notes %></p>
    <% end %>

    <div class=" col-xs-12 form-group text-center"> 
      <% if @select_reviewer != true %>
        <%= link_to "Edit Changes", edit_recipe_quality_review_review_conflict_path(@quality_reviewable, @quality_review, @review_conflict), class: "btn btn-success btn-lg", id: "basic-form-button", :remote => true%>
      <% end %>
    </div>
  </div>