

<div id="index-landing-page" class="landing-page">

	<div class="landing-page-body">
		<section id="alerts-container">
			<%= render "/layouts/alerts" %>
		</section>
		<section class="splash-image-section">
			<div class="left-splash-column">
				<h1>Bring confidence back to your kitchen.</h1>
				<h3>Great food and good nutrition start with the right guidance.</h3>
			</div>
			<div class="right-splash-column">
				<div>
					<h3>Welcome to Kindrdfood!</h3>
					<p>Please create your account to schedule a session with one of our Registered Dietitian Nutritionists.</p>

					<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
					  <%= devise_error_messages! %>
					  <%= f.hidden_field :invitation_token %>

					  <%= f.input :password %>
					  <%= f.input :password_confirmation %>

					  <%= f.submit t("devise.invitations.edit.submit_button") %>
					<% end %>
				</div>
			</div>
		</section>
		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Make mealtime a pleasure, everytime.</h2>
				<p class="details">Kindrdfood is a convenient and trustworthy system that guides families who have to change the way that they eat, due to a medical condition, dietary restriction or a change in the family. Our simple application and team of experts make change easier by providing reliable, balanced guidance to help you get rid of the stress and enjoy your food with confidence. As a Kindrdfood client you will be matched with your very own Kindrd Nutritionist  – a highly trained and clinically experienced Registered Dietitian Nutritionist (RDN), who guide you remotely through live video or phone sessions. Your preferences, your needs, our best people are on it.</p>
				<hr class="small-hr">
				<h3>Food allergy? No problem. Infant in arms? We get it. New diagnosis? We’ll train you up.</h3>
			</div>
			<div class="two-column-image img-happy-family">
			</div>
		</section>
		<section class="landing-page-row landing-page-testimonial">
			<div class="img-quote-left">
			</div>
			<div class="img-quote-right">
			</div>
			<div class="testimonial-container">
				<h3>“Since Daniel’s diagnosis we made 2 different meals every night, until my Kindrd Nutritionist got us on a plan that made everything so much easier and more enjoyable. I can’t imagine what things would be like for us if we hadn’t found Kindrdfood.”</h3>
				<h4> – Beth </h4>
			</div>
		</section>
		<section class="landing-page-row three-column">
			<div class="three-column-container">
				<h2 class="heading">Expect the best for you and your family.</h2>
				<div class="three-column-one">
					<%=image_tag "/assets/icons/developing-family.svg", class: "img-responsive" %>
					<h3>Growing families</h3>
					<ul>
						<h4><li>New baby on the way or in arms</li></h4>
						<h4><li>Breastfeeding; transition to solids, and more</li></h4>
						<h4><li>Growing children</li></h4>
						<h4><li>Seeking informed choices</li></h4>
					</ul>
				</div>
				<div class="three-column-one">
					<%=image_tag "/assets/icons/food-allergies.svg", class: "img-responsive" %>
					<h3>Food allergies & dietary restrictions</h3>
					<ul>
						<h4><li>Improve variety and taste</li></h4>
						<h4><li>New restrictions to navigate</li></h4>
						<h4><li>Rare dietary restrictions</li></h4>
					</ul>
				</div>
				<div class="three-column-one">
				<%=image_tag "/assets/icons/stethoscope.svg", class: "img-responsive" %>
					<h3>New medical conditions that limit your table</h3>
					<ul>
						<h4><li>New diagnoses</li></h4>
						<h4><li>Practical challenges to tackle</li></h4>
						<h4><li>Big change to habits for health</li></h4>
					</ul>
				</div>
			</div>
		</section>
		<section class="landing-page-row landing-page-testimonial">
			<div class="testimonial-container">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<h2>No matter what limits your table, you deserve to enjoy great food. We can help you with that!</h2>
				</div>
			</div>
		</section>
		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-ipad-kitchen">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Kindrd Nutritionists help you approach every meal with confidence.</h2>
				<p class="details">At Kindrdfood, our team of specialized RDNs all have comprehensive expertise and have received rigorous clinical training, but we don’t stop there. Every Kindrd Nutritionist goes through additional training with Kindrdfood in nutrition subspecialties, family eating challenges and cooking for safety and great taste. We hold our team to the highest standards possible, so that you can rely on the best.</p>
				<hr class="small-hr">
				<h3>Specialized and at your service. We’ve got you covered.</h3>
			</div>
		</section>		
		<section class="landing-page-row divider">
		 	<div class="col-xs-12 col-sm-6">
			 	<h2>Virtually in your kitchen and at your table.</h2>
			 	<p class="details">Web?  Check.  Mobile?  Check.  At your convenience.</p>
		 	</div>
		 	<div class="col-xs-12 col-sm-6">
		 		<p class="details">Access Kindrdfood from wherever and whenever is convenient for you. All you need is access to the internet and you can connect with your Kindrd Nutritionist and all of the recipes and materials tailored to your family’s needs and preferences.</p>
		 	</div>
		</section>
		<section class="landing-page-row two-column-left">
			<div class="two-column-text">
				<h2 class="heading">Guidance you can trust...Finally!</h2>
				<p class="details">Our Kindrd Nutritionists have deep experience in nutrition and are seasoned professionals when it comes to partnering with you and your family. They’re the best! Our approach to service is personalized. Your Kindrd Nutritionist will help you keep your family safe and help you enjoy better food, regardless of what limits your table. Our clients gain the confidence and comfort of having a guide to help them learn and improve the quality and taste of everything that they eat.</p>
				<hr class="small-hr">
				<h3>Verified and validated. Experts and info you can trust.</h3>
			</div>
			<div class="two-column-image img-rdns-discussing">
			</div>
		</section>
		<section class="landing-page-row two-column-right">
			<div class="two-column-image img-confused-kid">
			</div>
			<div class="two-column-text">
				<h2 class="heading">Why are you still using a search engine for your nutrition knowledge?</h2>
				<p class="details">Searching the Internet often lands you on web pages with heavily biased and frequently incorrect information. You have to sift through and filter for yourself. Kindrdfood removes all of the guesswork for you and puts everything that you need in one trustworthy place. We do not accept food product or supplement endorsement deals, so neither the 1-on-1 guidance nor any content is adulterated by product marketing. We make it easy for you to learn with certainty.</p>
				<hr class="small-hr">
				<h3>Filtered, verified, personalized and all in one place.</h3>
			</div>
		</section>
	</div>
</div>