<div class="col-xs-12">
	<h1>Crop and Save</h1>
	<div class="col-xs-4 col-xs-offset-2">
		<%= image_tag @image.image.url(:large), id: "cropbox" %>
	</div>
	<div id="crop-image-preview-container" class="col-xs-4 text-center">
		<h4>Preview</h4>
		<div style="width:100px; height:100px; overflow:hidden; margin: 0 auto;">
		  <%= image_tag @image.image.url(:large), :id => "preview" %>
		</div>
		<%= simple_form_for([current_dietitian, @image]) do |f| %>
		  <div class="actions">
		    <% %w[x y w h].each do |attribute| %>
		      <%= f.input "crop_#{attribute}", :as => :hidden%>
		    <% end %>
		    <%= f.button :submit, "Save", class: "btn btn-success btn-lg" %>
		  </div>
		<% end %>
	</div>
</div>