<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	
	<div class="nav nav-tabs">
		<li> <%= link_to 'HOME', root_path %> </li>

		<% if current_user %>
			<li><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li> <%= link_to 'SIGN UP', new_user_registration_path %>  </li>
			<li> <%= link_to 'LOGIN',  new_user_session_path %>  </li>
		<% end %>
	</div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>

</div>

</body>
</html>
