<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	
	<div class="nav nav-tabs">
		<% if current_user %>
			<li> <%= link_to 'HOME', user_authenticated_root_path %> </li>
		<% elsif current_dietitian %>
			<li> <%= link_to 'HOME', dietitian_authenticated_root_path %> </li>
		<% else %>
			<li> <%= link_to 'HOME', user_unauthenticated_root_path %> </li>
		<% end %>
		<% if current_user %>
			<li><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li> <%= link_to 'SIGN UP', new_user_registration_path %>  </li>
			<li> <%= link_to 'LOGIN',  new_user_session_path %>  </li>
		<% end %>
		<% if current_dietitian %>
			<li><%= link_to 'SIGN OUT', destroy_dietitian_session_path, :method => :delete %></li>
		<% end %>
	</div>

	<% if flash[:notice] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div>
	<% elsif flash[:error] %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:error] %>
		</div>

	<% elsif flash[:alert] %>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:alert] %>
		</div>
	<% end %>

	<%= yield %>

</div>

</body>
</html>
