<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kindrdfood</title>
<!--     <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css"> -->
    <%= include_gon %>
<!--     below should only run when on checkout page but is currently in all layouts -->
    <%= stripe_javascript_tag %>
<!--     above should only run when on checkout page but is currently in all layouts -->
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %> 
    <% if Rails.env.development? %>
      <%= tag :meta, :name => "stripe-key", :content => "pk_test_cZieXcu5WhjQKKDCmOY0PtoA" %>
    <% else %>
<!--       This is required to process a stripe payment.  It is called in Appointment.rb update_with_payment -->
      <%= tag :meta, :name => "stripe-key", :content => "pk_live_eKJSALzXBAibHjg97Osuzfdm" %>
    <% end %>
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
  </head>



<body>
<!-- LAYOUTS -->
		<% if current_user %>
			<%= render "/layouts/current_user_layout" %>
		<% elsif current_dietitian %>
			<%= render "/layouts/current_dietitian_layout" %>
		<% else %>
			<%#= render "/layouts/not_signed_in_layout" %>
      <%= yield %>
		<% end %>

<!-- FOOTER -->
<!--   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">

          <p>Copyright &copy; Kindrdfood 2014</p>
        </div>
      </div>
    </div>
  </footer> -->
<% if Rails.env == "production"  %>
  <%= render '/layouts/google_analytics' %>
<% end %>
<!-- 	SCRIPTS -->
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js" type="text/javascript"></script>

  <script type="text/javascript">

  </script>
<!--   // <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script> -->
</body>
</html>
