
    <!-- <style> -->
    <table class="body" data-made-with-foundation="">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center data-parsed="">
            <style type="text/css" align="center" class="float-center">
              body,
              html,
              .body {
                background: #f3f3f3 !important;
              }
              
              .container.header {
                background: #f3f3f3;
              }
              
              .body-border {
                border-top: 8px solid #663399;
              }
            </style>
            <table class="container header float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <h1 class="text-center">Welcome to Kindrdfood</h1>
                                  <center data-parsed="">
                           <!--          <table class="menu text-center float-center" align="center">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <th class="menu-item float-center"><a href="#">About</a></th>
                                              <th class="menu-item float-center"><a href="#">Team</a></th>
                                              <th class="menu-item float-center"><a href="#">Recipes</a></th>
                                              <th class="menu-item float-center"><a href="#">Articles</a></th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table> -->
                                  </center>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="container body-border float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <center data-parsed=""> <%= image_tag("logos/logo-vertical.jpg", class: "float-center") %> </center>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h4><%= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name) %></h4>

																	<p></p>

																	<!-- <p><%#= t("devise.mailer.invitation_instructions.provider_invited_you") %></p> -->
                                  <p>Welcome! You are receiving this email because your healthcare provider has referred you to Kindrdfood. </p>
                                  <p>What is Kindrdfood? </p>
                                  <p>We empower patients and families with a medically limited diet to navigate food. We make even the most difficult changes less stressful and get your family back to enjoying great food, regardless of what limits your table. </p>
                                  <p>Learn more about Kindrdfood and what we do to help you! Click on the button below to accept your invitation. You are under no obligation by accepting this invitation, but you will be entitled to receive a discount of $10 off of all individual 1 hour sessions.</p>
                                  <br>
																	<table class="button large expand">
                                    <tr>
                                      <td>
                                        <table>
                                          <tr>
                                            <td>
                                              <center data-parsed=""><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></center>

                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                  <p><%= link_to accept_invitation_url(@resource, :invitation_token => @token), accept_invitation_url(@resource, :invitation_token => @token) %></p>
																	<p><%#= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>

                                  <br>
                                  <p><%= simple_format(t("devise.mailer.invitation_instructions.closing"))%></p>
                                  <p>If you believe that you received this invitation in error please let us know by sending an email to <a href="<%=t('devise.mailer.invitation_instructions.customer_service_email_path')%>"><%=t("devise.mailer.invitation_instructions.customer_service_email")%></a></p>
                                  <br>
                                  <!--  <p><%#= t("devise.mailer.invitation_instructions.closing_signature")%></p> -->
                                  <p>Thank you and welcome to Kindrdfood!</p>
                                  <p>Tara McCarthy, MS RD LDN</p>
                                  <p>Chief Dietitian, Kindrdfood</p>
                           <!--        <center data-parsed="">
                                    <table class="menu float-center" align="center">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <th class="menu-item float-center"><a href="#">krakenacademy.com</a></th>
                                              <th class="menu-item float-center"><a href="#">Facebook</a></th>
                                              <th class="menu-item float-center"><a href="#">Twitter</a></th>
                                              <th class="menu-item float-center"><a href="#">(408)-555-0123</a></th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </center> -->
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>