	<div id="new-user-options" class="appt-focus col-xs-12 alert alert-success">
		<% updated_user ||= @updated_user %>
		<%= simple_form_for updated_user, :url => {:controller => 'users/registrations', :action => 'update_user_health_groups'}, remote: true do |f| %>
			<input type="hidden" name="updated_user_id" value="<%=updated_user.id%>"/>
		<div id="top-container" class="col-xs-12 text-center">
			<div id="preferences-title" class="col-xs-5">
				<h3>Nutrition Preferences for</h3>
			</div>
			<div id="preferences-first-name" class="col-xs-3 form-group">
	      <%= f.input :first_name, autofocus: true, class: "form-control", type: "text", label: false %>
		  </div>
		  <div id="preferenes-last-name" class="col-xs-3  form-group">
	      <%= f.input :last_name, autofocus: true, class: "form-control", type: "text", label: false %>
		  </div>
		</div>
		<ul id="new-user-nutrition-tabs" class="nav nav-tabs col-xs-12" role="tablist">
		  <li role="presentation" class="active col-xs-2"><a href="#general" role="tab" data-toggle="tab">General Nutrition</a></li>
		  <li role="presentation" class="col-xs-2"><a class="col-xs-12" href="#allergies" role="tab" data-toggle="tab">Food Allergies</a></li>
		  <li role="presentation" class="col-xs-2"><a class="col-xs-12" href="#intolerances" role="tab" data-toggle="tab">Intolerances</a></li>
		  <li role="presentation" class="col-xs-3"><a class="col-xs-12" href="#diseases" role="tab" data-toggle="tab">Nutrition Related Diseases</a></li>
		  <li role="presentation" class="col-xs-2"><a class="col-xs-12" href="#diets" role="tab" data-toggle="tab">Special Diets</a></li>
		  <li role="presentation" class="col-xs-1"><a class="col-xs-12" href="#more" role="tab" data-toggle="tab">More</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="general">
       	<div class="col-xs-12 text-left">
				  <div class="row form-group">
				  	<div class="col-xs-2">
			     		<%= label_tag :birth_date, "Birth Date:" %>
			     	</div>
			     	<div class="col-xs-10">
			      	<%= f.date_select :date_of_birth, prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: 1910, :class => "date-select" %>
			    	</div>
			    </div>
			    <div class="row form-group">
				  	<div class="col-xs-2">
			     		<%= label_tag :height_inches, "Height:" %>
			     	</div>
			     	<div id="height-attributes" class="col-xs-10">
			        <div class="col-xs-2">
			          <input type="number" name="user[height][feet]" placeholder="4" style="padding-left: 10%" value="<%=updated_user.height_hash['feet']%>"/> 
			        </div>
			        <div class="col-xs-2">
			          <%= label_tag :feet, "feet"%>
			        </div>
			        <div class="col-xs-2">
			          <input type="number" name="user[height][inches]" placeholder="11" style="padding-left: 10%" value="<%=updated_user.height_hash['inches']%>"/> 
			        </div>
			        <div class="col-xs-2">
							  <%= label_tag :inches, "inches"%>
			        </div>
		        </div>
		      </div>
		      <div class="row form-group">
				  	<div class="col-xs-2">
			     		<%= label_tag :weight_ounces, "Weight:" %>
			     	</div>
			     	<div id="weight-attributes" class="col-xs-10">
				     	<div class="col-xs-2">
			        	<%= f.input :weight_ounces, label: false, placeholder: "110", input_html: {value: (updated_user.weight_ounces.to_i / 16) } %>
			        </div>
		        	<div class="col-xs-2">
							  <%= label_tag :inches, "pounds"%>
			        </div>
		        	<div class="col-xs-6">
							  <p>(16 ounces in 1 pound)</p>
			        </div>
		        </div>
		      </div>
		      <div class="row form-group">
				  	<div class="col-xs-2">
			     		<%= label_tag :sex, "Sex:" %>
			     	</div>
			     	<div class="col-xs-10">
		        	<%= f.input :sex, :collection => [["Female", "Female"], ["Male", 'Male']], :label_method => :last, :value_method => :first ,as: :radio_buttons, :item_wrapper_class => 'radio-inline', label: false %>
		        </div>
		      </div>
			    <div class="row">
			    	<div class="text-center col-xs-4 col-xs-offset-4">
			    		<button id="new-user-allergies-button" class="btn btn-link">View food allergies</button>
			    	</div>
			    </div>
      	</div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="allergies">
       	<div class="col-xs-12 text-left">
       	<p>Select all that apply or add your own:</p>
		        <%= f.association :patient_groups, as: :check_boxes, collection: @allergies, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>

      	</div>
		    <div class="row">
			    	<div class="text-center col-xs-4 col-xs-offset-4">
			    		<button id="new-user-intolerances-button" class="btn btn-link">View food intolerances</button>
			    	</div>
			    </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="intolerances">
       	<div class="col-xs-12 text-left">
       	<p>Select all that apply or add your own:</p>
		        <%= f.association :patient_groups, as: :check_boxes, collection: @intolerances, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>

      	</div>
		    <div class="row">
			    	<div class="text-center col-xs-4 col-xs-offset-4">
			    		<button id="new-user-diseases-button" class="btn btn-link">View nutrition related diseases</button>
			    	</div>
			    </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="diseases">
       	<div class="col-xs-12 text-left">
       	<p>Select all that apply or add your own:</p>
		        <%= f.association :patient_groups, as: :check_boxes, collection: @diseases, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>

      	</div>
		    <div class="row">
		    	<div class="text-center col-xs-4 col-xs-offset-4">
		    		<button id="new-user-diets-button" class="btn btn-link">View special diets</button>
		    	</div>
			  </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="diets">
       	<div class="col-xs-12 text-left">
       	<p>Select all that apply or add your own:</p>
		        <%= f.association :patient_groups, as: :check_boxes, collection: @diets, label_method: :name, value_method: :id, label: false, :include_hidden => false, item_wrapper_tag: :div, item_wrapper_class: "col-xs-4 select-allergen-box" %>
      	</div>
		    <div class="row">
		    	<div class="text-center col-xs-4 col-xs-offset-4">
		   			<button id="new-user-more-button" class="btn btn-link">Add your own notes</button>
		    	</div>
			  </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="more">
		  	<div class="col-xs-10 col-xs-offset-1">
			  	<p>Have more to share about <%=updated_user.first_name%>?</p>
			  	<textarea class="form-control form-group" placeholder="Enter any additional information here.  Anything you think is important..is!" name="user_added_info" rows="4"></textarea>
			  </div>
		  </div>
		</div>
		<div id="bottom-button-container" class="col-xs-12 text-center">
			<div class="col-xs-8 text-right">
				<p>Completed this nutrition profile?</p>
			</div>
			<div class="col-xs-2">
	  			<%= f.button :submit, "Save", class: "btn btn-success btn-block" %>
			</div>
		</div>
	<% end %>
	</div>