
<% if current_user.provider %>

  <div id="refer-landing-page" class="landing-page">
    <%= render "/landing_pages/provider_nav" %>
    <div class="landing-page-body">
      <section class="alerts-container">
        <%= render "/layouts/alerts" %>
      </section>
      <section class="splash-image-section">
        <div class="left-splash-column">
          <%= render "/users/registrations/forms/settings" %>
        </div>
    </div>
    <%= render "/landing_pages/landing_page_footer" %>

  </div>

<% else %>
  <div id="family-page" class="container-fluid">
      <div class="row">

        <%= render "/layouts/navbars/user_nav" %>

        <main class="main-content-container">
          <section class="alerts-container">
            <%= render "/layouts/alerts" %>
          </section>
          <section>
            <h1>The <%=current_user.last_name%> Family</h1>
          </section>
          <hr>
          <div class="dynamic-page-container">
            
            <%= render "/users/registrations/forms/settings" %>
          </div>
        </main>
        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
          <%=render "/layouts/footers/main_footer" %>
        </div>
      </div>
  </div>
<% end %>

