<div id="family-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/user_nav" %>

      <main class="main-content-container">
        <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h1>The <%=current_user.last_name%> Family</h1>
        </section>
        <hr>
        <div class="dynamic-page-container">
          
          <h2>Edit Settings</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form form-group" }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-lg btn-success" %>
            </div>
          <% end %>
          <div class="row">
            
            <div class="col-xs-12">
                        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-xs btn-danger" %></p>

          <%= link_to "Back", :back %>

            </div>
          </div>
        </div>
      </main>
      <div class="col-xs-12 col-sm-10 col-sm-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>


