

<div class="container">
	<div class="row bs-wizard" style="border-bottom:0;">

		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">Step 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Nice to meet you</div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Create your nutrition profile </div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Schedule your appointment</div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
			<div class="text-center bs-wizard-stepnum">Step 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Thank You!</div>
		</div>
	</div>
</div>
<div id="new-user-name-form" class="container col-xs-6 col-xs-offset-3">
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-inline', method: :put }) do |f| %>
	  <%= devise_error_messages! %>
	  	<div class="row">
	  		<div class="col-xs-12 ">
		  		<div class="col-xs-2 form-group">
		  			<h3>Hello </h3>
		  		</div>
				  <div class="col-xs-5 form-group">
			    	<label for="first_name">your first name</label>
			      <%= f.input :first_name, autofocus: true, class: "form-control", type: "text", label: false, placeholder: "New" %>
				  </div>
				  <div class="col-xs-5  form-group">
			    	<label for="last_name">your last name</label>
			      <%= f.input :last_name, autofocus: true, class: "form-control", type: "text", label: false, placeholder: "Friend" %>
				  </div>
				</div>
			</div>
	  	<div class="row">
	  		<div class="col-xs-12 ">
		  		<div class="col-xs-12 form-group">
		  			<h3>Who is this appointment for? </h3>
		  		</div>
		  		<div class="col-xs-2 form-group">
		  		 	<div class="checkbox">
					    <label>
					      <input name="appoint-self" id="appointment-self-button" type="checkbox" value="true"> Self
					    </label>
					  </div>
		  		</div>
				  <div class="col-xs-5 form-group">
			    	<label for="first_name">client first name</label>
			      <input type='text' autofocus="true" label="false" id="client_first_name" name='client_first_name' class="form-control">
				  </div>
				  <div class="col-xs-5  form-group">
			    	<label for="last_name">client last name</label>
			      <input type='text' autofocus="true" label="false" id="client_last_name" name='client_last_name' class="form-control">
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-xs-offset-4">
	  			<%#= f.button :submit, "Next", class: "btn btn-success btn-lg" %>
	  		</div>
				<div class="col-xs-2 col-xs-offset-1">
	  			<%= f.button :submit, "Next", class: "btn btn-success btn-lg" %>
	  		</div>
	<% end %>

</div>
<%= render "/users/registrations/modal_user_intro" %>