

<div class="container">
	<div class="row bs-wizard" style="border-bottom:0;">

		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">Step 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Nice to meet you</div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">How does your household eat? </div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Schedule your appointment</div>
		</div>

		<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
			<div class="text-center bs-wizard-stepnum">Step 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Thank You!</div>
		</div>
	</div>
</div>
<%=binding.pry%>
<div id="new-user-name-form" class="container">
	<%= simple_form_for(resource,  
    :url => url_for(:action => 'update', :controller => 'users/registrations'),
    :method => 'put', html: {class: 'form-inline', method: :put, action: "update" }) do |f| %>
	  <%= devise_error_messages! %>
	  	<div class="row">
	  		<div class="col-xs-12">
	  			<h3>Help us get to know you</h3>
				  <div class="col-xs-4 col-xs-offset-2 form-group">
			    	<label for="first_name">First Name</label>
			      <%= f.input :first_name, autofocus: true, class: "form-control", type: "text", label: false %>
				  </div>
				  <div class="col-xs-4 col-xs-offet-1  form-group">
			    	<label for="last_name">Last Name</label>
			      <%= f.input :last_name, autofocus: true, class: "form-control", type: "text", label: false %>
				  </div>
				</div>
			</div>
	  <div><%= f.button :submit, "Next", class: "btn btn-success btn-lg" %></div>
	<% end %>



</div>
<script type="text/javascript" src="jquery.psteps.min.js"></script>