

<%= render "/users/registrations/sign_up_breadcrumbs/sign_up_breadcrumb" %>

  			
<div id="new-user-family-form" class="col-xs-10 col-xs-offset-1">
	<div class="hidden-xs hidden-sm col-md-4 col-lg-4 form-group">
		<div class="col-xs-12">
			<h3>Start with</h3>
			<%= render "new_user_family_list" %>
		</div>
	</div>
	<div id="new-user-options" class="appt-focus col-xs-12 col-sm-12 col-md-offset-5 col-lg-offset-5 col-md-7 col-lg-7 alert alert-success">
		<%= simple_form_for @family_members[0], :url => {:controller => 'users/registrations', :action => 'update_user_health_groups'}, remote: true do |f| %>
			<input type="hidden" name="updated_user_id" value="<%=@family_members[0].id%>"/>
		<div id="top-container" class="col-xs-12 text-center">
			<%= render "users/registrations/forms/name_form", f: f %>
		</div>
		<!-- Tab panes -->
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="general">
       	<div class="col-xs-12 text-left">
       		<div class="row form-group">
       			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
       				<%= label_tag :family_role, "Relation to You:" %>
       			</div>
       			<div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
				      <%= f.input :family_role, label: false, placeholder: "Daughter", input_html: {id: "family-role-field", class: "form-control-6"} %>
				    </div>
			    </div>
				  <div class="row form-group">
				  	<div class="col-xs-2">
			     		<%= label_tag :birth_date, "Birth Date:" %>
			     	</div>
			     	<div class="col-xs-10">
			      	<%= f.date_select :date_of_birth, {prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: 1910}, {:class => "form-control-3"} %>
			    	</div>
			    </div>
			    <div class="row form-group">
				  	<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			     		<%= label_tag :height_inches, "Height:" %>
			     	</div>
			     	<div id="height-attributes" class="col-xs-10">
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <input type="number" name="user[height][feet]" placeholder="4" style="padding-left: 10%" value="<%=@family_members[0].height_hash['feet']%>"/> 
			        </div>
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <%= label_tag :feet, "feet"%>
			        </div>
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <input type="number" name="user[height][inches]" placeholder="11" style="padding-left: 10%" value="<%=@family_members[0].height_hash['inches']%>"/> 
			        </div>
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							  <%= label_tag :inches, "inches"%>
			        </div>
		        </div>
		      </div>
		      <div class="row form-group">
				  	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			     		<%= label_tag :weight_ounces, "Weight:" %>
			     	</div>
			     	<div id="weight-attributes" class="col-xs-10">
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <input type="number" name="user[weight][pounds]" placeholder="100" style="padding-left: 10%" value="<%=@family_members[0].weight_hash['pounds']%>"/> 
			        </div>
			        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <%= label_tag :pounds, "pounds"%>
			        </div>
				     	<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
			          <input type="number" name="user[weight][ounces]" placeholder="100" style="padding-left: 10%" value="<%=@family_members[0].weight_hash['ounces']%>"/> 
			        </div>
		        	<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							  <%= label_tag :ounces, "ounces"%>
			        </div>
		        </div>
		      </div>
		      <div class="row">
				  	<div class="col-xs-2">
			     		<%= label_tag :sex, "Sex:" %>
			     	</div>
			     	<div class="col-xs-10">
		        	<%= f.input :sex, :collection => [["Female", "Female"], ["Male", 'Male']], :label_method => :last, :value_method => :first ,as: :radio_buttons, :item_wrapper_class => 'radio-inline', label: false %>
		        </div>
		      </div>
      	</div>
        <div class="col-xs-12">
          <hr class="health-group-break-point">
        </div>
				<%= render "users/registrations/forms/allergies", f: f %>
		  	<div class="col-xs-12 form-group">
			  	<label>Add More About <span class="dynamic-user-name"><%=@family_members[0].first_name%></span></label>
			  	<p>(we will go over more together so don't feel like you have to fit it all in)</p>
			  	<textarea class="form-control form-group" placeholder="Nutrition can be complicated and we know that first hand.  Use this space for including more health information not mentioned above" name="user[family_note]" rows="4"></textarea>
			  </div>
			</div>
		</div>
		<div id="bottom-button-container" class="col-xs-12 text-center">
			<div class="hidden-xs hidden-sm col-md-8 col-lg-8 text-right">
				<p>Complete this nutrition profile</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">
				<div class="col-xs-12 col-sm-12 hidden-md hidden-lg text-center">
					<p>Complete this nutrition profile</p>
				</div>
	  		<%= f.button :submit, "Save", class: "btn btn-success btn-block" %>
			</div>
		</div>
	<% end %>
	</div>
</div>

<%= render "/users/registrations/modal_nutrition_intro" %>